[2022-04-01 17:28] hossainemruz commented on #574
We don't have any way to identify whether the page has heading or not when Hugo build the website. So, I think adding control in page level will be the way to go.

[2022-04-04 03:20] #574 closed

[2022-04-04 08:48] michjnich opened #576 "[Feature Request] Specify which folders in ToC are expanded by default"
### Allow ToC to expand sections by default
Say I have a posts structure as follows:

[code]

At the moment, when I go into posts I will see `Tech` and `Personal` at the top level. I would also like to see the expanded view of `Tech` though, and possibly even the expanded view of the most recent year (2022).

### Describe alternatives you've considered
The solution I was considering was to add a p

[2022-04-04 13:54] michjnich commented on #576
That's a shame.  Not sure where else something like that could go?

Perhaps a single `expandedPosts` could be set in `config,toml` that could be either a menu or a post tag, and everything down to that would expand automatically? That would get most of the way there, even if it's not quite as flexible as being able to set true/false individually.

[2022-04-06 15:10] MarionMoseby opened #577 "Browser crashes when accessing site with lots of posts"
## Expected Behavior
The website should render OK

## Current Behavior
My personal website (http://localhost:1313/es/posts/) crashes when I access the "posts" section, at least since I added a ton of new posts.

## Possible Solution
No idea, sorry

## Steps to Reproduce
1. Enter my website (both from Firefox and Chrome)
2. The browser crashes
(Maybe its just my computer?)

### Screenshots
![Screen

[2022-04-07 22:21] AngelicaRibeiro opened #578 "Doesn't recognize images if the markdown metadata is indented"
## Expected Behavior
The thumbnail images are recognized if the  metadata information  is not indented like:
[code]
![image](https://user-images.githubusercontent.com/13433634/162328274-a7233b41-1f7b-48f4-b99f-48127840ec18.png)

## Current Behavior

but if the data is indented, for example in visual studio:
[code]
![image](https://user-images.githubusercontent.com/13433634/162328848-b1fec448-1da1-

[2022-04-07 22:31] hossainemruz commented on #578
Valid indentation should not cause any issue. I will check soon.

[2022-04-09 12:51] Dekker500 opened #579 "Theme uses some Permalink instead of RelPermalink"
Don't know if it was done for a particular reason, but some pages incorporate manually-crafted links instead of using "RelPermalink".

For example, when setting the background image, toha/layouts/partials/sections/home.html has numerous
`url('{{ strings.TrimSuffix "/" site.BaseURL }}{{ $src.RelPermalink }}')`
statements

These should ideally be replaced by
`url('{{ $src.RelPermalink }}')`

No reas

[2022-04-09 16:54] hossainemruz commented on #579
url('{{ $src.RelPermalink }}')

It does not worked. Tried it before.

[2022-04-09 17:00] Dekker500 commented on #579
Interresting. The RelPermalink works perfectly for me in a production site (http://www.dedicatedtovo.com/), and I have used the same sort of link before. In fact, I don't know why it would be any different than any of the other img links in the theme.

I discovered the issue when the staging site (not the official site) could not load the background image because the links were hard-coded with the

[2022-04-09 19:52] hossainemruz commented on #579
For some background on this topic, check this PR: https://github.com/hugo-toha/toha/pull/170

Since, we are no longer hosting demo on the Hugo theme site, I think it will be okay to use `url('{{ $src.RelPermalink }}')`.

[2022-04-11 14:12] langerdennis commented on #379
I am facing the same problem as the OP and it is working for me as long as the post itself is placed in its own subfolder (not necessarily category). The example you are linking to fulfills that requirement - that file is even called index.md, which was not necessary for me. According to the documentation this folder structure should however not be necessary... I can live with this workaround, but

[2022-04-13 10:49] hossainemruz commented on #576
It seems that `Menu` can take a map in `Params` field. We should be able to use that to add `expand` logic.

Ref: https://github.com/gohugoio/hugo/blob/b80853de90b10171155b8f3fde47d64ec7bfa0dd/navigation/menu.go#L48

[2022-04-22 04:26] dugite-code opened #581 "Poor smooth scrolling to anchor tags in Firefox"
## Expected Behavior
Scrolling to anchor tags in Firefox should be smooth like in Chromium based browsers

## Current Behavior
Scrolling to anchor tags in Firefox 99.1 is jerky with screen tearing.

## Possible Solution
Adding the smooth scrolling behavior to the css appears to fix this issue.

[code]

### Browsers Affected

- [ ] Chrome
- [x] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [

[2022-04-23 20:07] amanprakash59 opened #582 "Background image of main page renders fine on localhost but after uploading to netlify it does not render"

[2022-04-23 21:20] hossainemruz commented on #582
Make sure you have set `baseURL` properly in your config.yaml file.

[2022-04-25 19:38] niltied opened #583 "Background image : blur and ideal dimension"
### Question

Hi Emruz,

I would like to know if it's possible to disable easily the blur effect applied on the background image ? Which exactly instructions CSS to comment and which file ? (home.css ?)

Also, I've a nice image (6000px by 4000px). It's too big naturaly, but if I resize it, which ideal size to do ?

Thank U so much

Nicolas

[2022-04-26 03:05] hossainemruz commented on #583
You have to change here: https://github.com/hugo-toha/toha/blob/a22474538d78e8f73339977de86f2b6408cf0c8e/static/css/sections/home.css#L17

[2022-04-26 19:14] niltied commented on #583
OK thank.

[2022-05-02 03:08] tom-iteverything opened #587 "Bug in New Blog Post - time showing as variable, not actual Time"
## Expected Behavior
When creating a new post, the date should be presented below the Avatar of the author.

## Current Behavior
It is providing code instead of the date: `:date_full`

## Possible Solution
Correct the code within:
[toha/layouts/_default/single.html](https://github.com/hugo-toha/toha/blob/main/layouts/_default/single.html)
**Line 51**

## Steps to Reproduce
1. Create blog post via

[2022-05-02 05:51] hossainemruz commented on #587
Update your Hugo version. This variable has been introduced in recent hugo version.

[2022-05-03 02:48] tom-iteverything commented on #587
ah - thank you so much!  deeper issue found then since my `netlify.toml` wasn't playing nice deploying the most recent version.  this resolved it!

thank you kindly!

[2022-05-03 02:48] #587 closed

[2022-05-07 08:16] rickettdev opened #588 "Having trouble changing the post banner image on category posts"
### Environment Details
Hugo version - v0.97.3
Toha package version (theme\toha\package.json) - 1.0.0
Toha Release - v3.5.0 (cloned on 23/04/22)
OS - Windows 10
Browser - Edge

### Question
I do not seem to be able to change the default banner image on category posts. I have been following/replicating the folder/file structure from - https://github.com/hugo-toha/hugo-toha.github.io/tree/source/con

[2022-05-07 14:59] hossainemruz commented on #588
If you share your repo, I can take a look.

[2022-05-07 17:35] rickettdev commented on #588
Thank you @hossainemruz that is very kind!

I have shared access to the repo with you. - The changes are on the fb_nested_posts branch.

let me know what you think!

[2022-05-08 03:28] hossainemruz commented on #588
Hi @rickettdev. It seems your introduction post has proper banner now. What issue are you facing currently?

[2022-05-08 05:42] rickettdev commented on #588
Hey @hossainemruz

On the fb_nested_posts git branch there is an additional post folder _cat-rickettylabs-blog_.

[2022-05-08 15:52] hossainemruz commented on #588
The issue seems to be the folder names. Please remove any `.` and `&` or space from the folder names.

[2022-05-08 16:59] rickettdev commented on #588
hey @hossainemruz  thank you very much for taking the time to help me with this!.

I've updated all the folder/file names and removed any non text characters or spaces (as per the below)

![FolderandFileNames](https://user-images.githubusercontent.com/57575181/167306556-2cf2d846-19ef-42ef-b2b8-50aa8214bcbb.PNG)

Sadly I still have the same issue.

I have updated the 'Image Sample' to validate the

[2022-05-08 17:26] hossainemruz commented on #588
Your post markdown file should be named `index.md`.

[2022-05-12 17:13] rickettdev commented on #588
Thank you for this. all workiing

[2022-05-16 15:58] hossainemruz commented on #582
@amanprakash59 are you still facing the issue? If not, please close this.

[2022-05-16 16:15] #582 closed

[2022-06-03 11:08] donfiguerres commented on #59
Hi everyone! I've made a pull request to support dark theme via darkreader. Hoping that it gets approved.
I'm planning to add it to the toha documentation if the pull request gets approved.

[2022-06-03 19:10] yks0000 opened #596 "Failed to build : merge function not found"
## Error
hugo server command is running perfectly but when try generating static content for deployment on Github,  hugo -D or hugo —minify return error as below:

22:48:14.066 | Executing user command: hugo -D
-- | --
22:48:14.138 | Error: "/opt/buildhome/repo/themes/toha/layouts/partials/analytics.html:8:1": parse failed: template: partials/analytics.html:8: function "merge" not defined
22:48:14

[2022-06-03 19:38] hossainemruz commented on #596
What is the Hugo version are you using?

[2022-06-04 06:16] yks0000 commented on #596
@hossainemruz I updated to latest version ie 0.100.1, and error seems to changed.

Logs as below:

[code]

Basically error is related to RelPermalink.

2022-06-04T06:12:17.533592Z	Error: Error building site: failed to render pages: render of "page" failed: "/opt/buildhome/repo/themes/toha/layouts/_default/single.html:49:46": execute of template failed: template: _default/single.html:49:46: executi

[2022-06-04 11:39] hossainemruz commented on #596
It's unable to get the images. Make sure you have put the images in `assets/images` folder.

[2022-06-04 14:09] yks0000 commented on #596
@hossainemruz I have all images in `assets/images` and referencing them as `"images/author/profilepicture.jpg"`

Does folder with `assets/images` is not supported?

[Repo link](https://github.com/yks0000/yogeshsharma.me) if you want to check.

[code]

[2022-06-04 14:16] hossainemruz commented on #596
I am on a trip. I can take a look on Monday.

[2022-06-05 10:44] yks0000 commented on #596
I seems to find a broken link to image. post fixing, it is working now.

[2022-06-05 10:44] #596 closed

[2022-06-05 18:51] quantitative-technologies commented on #478
I tried the workaround and so far it worked well. But you must render the rmarkdown files manually.

[2022-06-07 18:25] quantitative-technologies commented on #478
Unfortunately, any shortcodes in the  `.rmd` are rendered verbatim.

Is there a way to use multiple `.md` files for a single post? Then I could just knit the `.rmd` without using `r2hugo`.

Perhaps I should create a new issue for this question.

[2022-06-08 20:02] quantitative-technologies opened #599 "How can I get the Hugo default gist shortcode rendering?"
### Question

Using the gist shortcode with this theme give me undesirable output. There is so much extra space around each line that it is difficult to read (e.g. cannot see much on one screen). Here is a [snapshot](https://pasteboard.co/DUMrPngAkjfT.png):

How can I get the default gist shortcode rendering?

[2022-06-09 04:23] hossainemruz commented on #599
We probably need to fix the CSS.

[2022-06-10 15:18] #59 closed

[2022-06-12 15:25] quantitative-technologies commented on #599
Do you have any idea which file that is? I tried commenting out the `codeblocks` section in `main.css` but it had no effect.

[2022-06-12 15:36] hossainemruz commented on #599
I have to check the generated HTML. This is Hugo's internal shortcode. I have to check the classes it produces.

[2022-06-13 12:59] shoaibb opened #604 "images links broken when hugo is served from a sub-folder"
## Expected Behavior
The links to images (such as background img) should be consistent even if there is a sub-dir instead of main dir in the config.yaml file.

## Current Behavior
When baseurl is set to https://user.github.io/toha instead of https://user.github.io/ or / , the site does not load background image even the default ones.

## Steps to Reproduce

1. changed baseurl from user.github.io t

[2022-06-13 15:26] hossainemruz commented on #604
Can you please inspect the HTML and check what is the URL is set for the background image?

[2022-06-14 14:28] shoaibb commented on #604
@hossainemruz The generated html has this following link to background image:

`background-image: url('https://username.github.io/toha/toha/images/default-background.jpg');`

[2022-06-15 07:20] shoaibb commented on #604
@hossainemruz sure, here it is: https://github.com/shoaibb/src_toha

When I serve this repo locally, I do not get a correct link to images including background. Probably this is also causing a problem when I try Github Actions to serve the code in this repo but that's another issue and might be resolved if the images url are fixed.

[2022-06-15 18:51] #579 closed

[2022-06-15 18:51] #604 closed

[2022-06-15 18:52] hossainemruz commented on #604
@shoaibb It was bug in the theme. I have fixed it in #605. Please, pull the latest changes.

[2022-06-15 19:43] hossainemruz commented on #599
Hi @quantitative-technologies! Fixed in #606. Please, pull the latest changes.

[2022-06-15 19:44] #599 closed

[2022-06-17 20:38] quantitative-technologies commented on #599
Perfect!

[2022-06-18 17:21] enzobercasio opened #607 "Error when building"
## Expected Behavior
successful build after running hugo command

## Current Behavior
error: Error: Error building site: "/codebuild/output/src170754315/src/content/notes/bash/basic/index.md:13:1": failed to extract shortcode: template for shortcode "note" not found

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] E

[2022-06-18 18:19] hossainemruz commented on #607
Can you check your `themes/toha` folder? Is there any files or it just redirect to original theme repo?

[2022-06-19 02:52] enzobercasio commented on #607
there are files in the themes/toha. I get the same error on my forked repo without any changes or direct clone from the original repo without any changes.

[2022-06-19 04:19] hossainemruz commented on #607
Can you share your repo so I can check?

[2022-06-19 04:26] enzobercasio commented on #607
https://github.com/enzobercasio/ebercs-blog-2

[2022-06-19 04:48] hossainemruz commented on #607
When you have cloned the repo, the theme wasn't pulled. Use `--recursive` flag with `git clone` command.

[2022-06-19 05:18] enzobercasio commented on #607
it is working now on the forked repo but in my other repo (https://github.com/enzobercasio/enzobercasio), it works on my local but when I run it in my CodePipeline in AWS, I am getting the same error. (see [buildspec.yaml](https://github.com/enzobercasio/enzobercasio/blob/main/buildspec.yaml))

[2022-06-19 05:39] enzobercasio commented on #607
sorry, it is my buildspec.yaml error. I missed to cd to the directory. it is fixed now.

[2022-06-19 07:56] hossainemruz commented on #607
Cool. Can you please close this issue now?

[2022-06-19 07:57] #607 closed

[2022-06-20 22:21] dleopold commented on #127
Is there any update on this feature being officially added to the theme?

[2022-06-21 02:00] hossainemruz commented on #127
Nope

[2022-07-05 04:42] hossainemruz opened #609 "CSS Broken for tags in post reading page"
## Expected Behavior

## Current Behavior

![image](https://user-images.githubusercontent.com/12577390/177250884-7cbb0582-293e-47e2-b921-b370b83d137d.png)

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2022-07-05 15:36] IhnwhiHeo opened #610 "[Feature Request] 'Curriculum Vitae' button instead of the 'Resume' button"
Hello folks,

This is a very minor feature request, which would be very helpful for researchers.
The current website has a link for one's resume. It would be cool if we can use the word 'Curriculum Vitae' instead of 'Resume' for those in academia.

Thank you.

[2022-07-05 19:51] hossainemruz commented on #610
We can not change the button text for all but we can make it configurable.

[2022-07-06 01:08] IhnwhiHeo commented on #610
Would be great if it can be configurable (if it means the word can be changed)! Could you please consider this?

[2022-07-06 04:42] hossainemruz commented on #610
Yes. Will try to do in this weekend.

[2022-07-06 04:44] IhnwhiHeo commented on #610
Thank you!

[2022-07-10 20:30] LukeEvansTech commented on #435
Just to chime in, would absolutely love this to be implemented.

Happy to take a stab but my skills in Hugo are still relatively new.

@hossainemruz would you mind pointing me in the right direction of where to look and I'm happy to give it a go!

[2022-07-16 15:52] #610 closed

[2022-07-16 15:52] hossainemruz commented on #610
@IhnwhiHeo added in #611

[2022-07-16 16:03] #609 closed

[2022-07-16 16:17] hossainemruz opened #613 "Add contact from using https://fabform.io/"
### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-07-17 13:34] Chow-Ray opened #614 "Why do I get a display error when creating a new page?"
### Question

Why do I get a display error when creating a new page?
https://chowray.netlify.app/about/
![QQ截图20220717213329](https://user-images.githubusercontent.com/29678677/179400895-4f7d2240-4cfc-411f-be3f-96b9e5fc77b7.jpg)

[2022-07-18 03:04] hossainemruz commented on #614
I am suspecting that it is not applying the CSS.

[2022-07-19 10:20] FunctionalHacker opened #615 "Appearance problem with ko-fi button and dark theme"
## Expected Behavior

The button should render correctly
## Current Behavior

This button has an extra rectangular white background.

## Possible Solution

This is obviously related to either the recent dark theme implementation in Toha, or the ko-fi integration but I have not looked into it more specifically.

## Steps to Reproduce

1. Navigate to a page using Hugo Toha theme
2. Change to the dar

[2022-07-19 11:54] hossainemruz commented on #615
Don't see Ko-fi button on your site.

[2022-07-19 11:56] FunctionalHacker commented on #615
Sorry, I just looked into the law in my country and apparently it is not legal to collect money here, so I had to remove it. Can we perhaps add a button to the demo site of Toha? I don't know if a dummy account would work though.

[2022-07-19 12:20] hossainemruz commented on #615
Ok. I will check.

[2022-07-21 05:19] mangla-sarvesh opened #617 "Feature Request: Section Publication"
### Describe the solution you'd like
Please provide the section: publication too and its corresponding files. I tried my own, but my begineer experties are not working for now.

### Describe alternatives you've considered

### Additional context

here in [README.md](https://github.com/hugo-toha/toha), it is mentioned about the publication section. But it is not been checklisted. So, I request to m

[2022-07-21 05:56] mangla-sarvesh commented on #127
Can I get this feature unofficially then :-)

[2022-07-21 06:02] mangla-sarvesh commented on #127
Can you provide this feature, it is very important section for my work

[2022-07-21 06:04] hossainemruz commented on #127
I will try in this month. Remind me if I don't. :P

[2022-07-22 05:17] mangla-sarvesh commented on #127
I  will  remind you every week. :-P

[2022-07-23 05:37] Chow-Ray commented on #614
So how to solve this problem?

[2022-07-23 08:09] hossainemruz commented on #614
I don't know. If you share your repo, I may be able to check.

[2022-07-26 18:50] misitebao opened #618 "Would you consider using "zh-Hans" and "zh-Hant" instead of "zh-cn" and "zh-tw"?"
### Question

"zh-cn" and "zh-tw" do not accurately reflect the branches of Chinese, because there are many other regions that use Chinese, and more accurate descriptions for these two should be "zh-Hans" and "zh-Hant".

(It's a bit of a shame that Hugo currently enforces lowercase language codes in URLs.😖)

If such a need can be approved, I'd be happy to contribute a PR for it.

[2022-07-26 19:15] hossainemruz commented on #618
Hi @misitebao, "zh-cn" and "zh-tw" is seems to be widely used. So, I think we should stick with that.

[2022-07-26 19:25] misitebao commented on #618
@hossainemruz
OK, I see, thanks for the reply.

[2022-07-26 19:25] #618 closed

[2022-07-28 12:56] mangla-sarvesh commented on #127
Gentel Reminder

[2022-07-28 14:27] hossainemruz commented on #127
I have started working already. PR coming soon.

[2022-07-28 17:21] hossainemruz commented on #127
Added in this PR: https://github.com/hugo-toha/toha/pull/620

This is how it is going to look:

![image](https://user-images.githubusercontent.com/12577390/181590896-83218c95-b589-4cef-8161-57ab92ccc8c2.png)

This is how you are going to use:

[code]
Does it work for you @mangla-sarvesh?

There are still few things missing (probably another day):
- Paginate when there are many items
- Dedicated pa

[2022-07-29 04:40] mangla-sarvesh commented on #127
So when i click on details, it will open the URL? Is that is the case then for now it is amazing.
Will wait for the "Dedicated page for each publication".

[2022-07-29 04:40] mangla-sarvesh commented on #127
So when i click on details, it will open the URL? Is that is the case then for now it is amazing.
Will wait for the "Dedicated page for each publication".

[2022-07-29 04:45] hossainemruz commented on #127
Yes

[2022-07-29 04:47] mangla-sarvesh opened #621 "Feature Request: url in achievement section"
### Describe the solution you'd like

achievements:
- title: Best Poster Award Winner
  **url: "https://example.com"**
  image: /images/sections/achievements/git.png
  summary: Best presenter in the 2020 XYZ conference.

**_can url be added. sometimes the award are available in the website, so anybody can see the authancity of the award._**

[2022-07-29 04:49] mangla-sarvesh commented on #127
great. Awesome. u will update the repo soon? right? :-)

[2022-07-29 09:43] hossainemruz commented on #621
Sure

[2022-07-29 09:43] hossainemruz commented on #127
Yes

[2022-07-29 17:12] #617 closed

[2022-07-29 17:21] hossainemruz commented on #621
If you provide url in a achievement entry, the `Details` button will show up. Does it meet your requirement?

![image](https://user-images.githubusercontent.com/12577390/181811285-5c45b27d-25c5-4d93-a6a6-08056528b424.png)

[2022-07-30 07:14] kingabzpro opened #624 "Kofi widget bug"
## Expected Behavior
It should show the button and page when I click on the button

## Current Behavior
check out my website to try it yourself: abid.ninja

## Steps to Reproduce

1. Go to abid.ninja
2. click on Support Me

### Screenshots
![image](https://user-images.githubusercontent.com/36753484/181879195-339422b8-6d5c-4bb0-bfa3-b88517607a50.png)

### Browsers Affected

- [ ] Chrome
- [ ] Firef

[2022-07-30 07:56] mangla-sarvesh commented on #617
Thanks for your quick response.

[2022-07-30 08:32] mangla-sarvesh commented on #621
Great. Working Fine now

[2022-07-30 14:29] #621 closed

[2022-07-30 14:32] hossainemruz commented on #624
I am suspecting your adblocker causing this issue. Disable adblocker and re-try.

[2022-07-30 14:42] kingabzpro commented on #624
I did, nothing happened. Same in my phone, ipad, and on chrome.

[2022-07-30 14:47] hossainemruz commented on #624
Worked for me after disabling adblocker.
![image](https://user-images.githubusercontent.com/12577390/181919588-ae55915d-349e-4dcd-b30a-9d1d46847c6a.png)

[2022-07-30 15:01] kingabzpro commented on #624
I don't know why it's happening to me. I tried on various devices.

[2022-07-31 07:15] hossainemruz commented on #624
Seems like caused by the `iframe` used by ko-fi button. I am not sure I will be able to do anything since the `iframe` is added by the `ko-fi` button script. I don't have control over it. Let's see if I can find a workaround.

Ref: https://stackoverflow.com/questions/6666423/overcoming-display-forbidden-by-x-frame-options#answer-7469997

[2022-07-31 17:54] kingabzpro commented on #624
I will wait.

[2022-08-06 13:02] MarionMoseby commented on #615
You may reproduce this error in my site: https://www.pablomarcos.me/
Codeberg repo: https://codeberg.org/FlyingFlamingo/pablomarcos-me

[2022-08-06 13:03] MarionMoseby commented on #522
@hossainemruz give me the OK and I will implement it :p

[2022-08-06 13:07] MarionMoseby opened #625 "Enable "Recent posts" for a different language"
### Describe the solution you'd like

I currently use the Spanish version of my blog as its "main" or "international" version, since I dont want to go through the effort of translating all my posts. This means that, when I implement the "Recent Posts" function, only the posts in the current language appear, which looks super updated. I would like to have a lenguage switch in _recent-posts.yaml_ so

[2022-08-06 15:05] hossainemruz commented on #522
Sure. Go on.

[2022-08-06 15:06] hossainemruz commented on #625
Sure. Go on.

[2022-08-07 19:26] jonathanlang opened #626 "Is there a way to disable the newsletter signup element in bottom bar?"
### Question
Hi, I don't see a way to disable the sign-up form asking for email addresses to keep the user posted.
I don't want or need this on my site, and it doesn't seem to work anyways, but I can't figure out what I need to set where to disable it.
Can anyone provide me with a hint?
Thanks!

[2022-08-08 04:03] hossainemruz commented on #615
Looks fine to me.
![image](https://user-images.githubusercontent.com/12577390/183336525-ddd18375-0c56-4e49-84fd-d987206b2e48.png)

[2022-08-08 04:04] hossainemruz commented on #626
Just set this to false.
https://github.com/hugo-toha/hugo-toha.github.io/blob/87003c8b898bc51881fd7c64d06d67a9f6b37774/config.yaml#L183

[2022-08-08 10:37] MarionMoseby commented on #615
Hum! Weird. Could you try on Firefox?

------- Original Message -------
El lunes, 8 de agosto de 2022 a las 06:03, Emruz Hossain 'notifications at github.com' ***@***.***> escribió:

[2022-08-08 10:41] FunctionalHacker commented on #615
![Screenshot_20220808-133840_Fennec](https://user-images.githubusercontent.com/16839187/183399870-78fd387a-f339-4856-b2ee-9a930dda93fc.png)
I forced the dark theme from the menu and was able to reproduce it on Firefox Android.

Can't seem to reproduce using a Chromium based browser (FOSS Browser)

[2022-08-08 10:44] FunctionalHacker commented on #615
Btw on Firefox Android, if I leave the website theme on auto and change my phone theme to dark, the dark theme seems to work properly even after page reloads.

[2022-08-08 12:08] hossainemruz commented on #615
Look like something is broken. Lot's of error log. I have to take a look.
![image](https://user-images.githubusercontent.com/12577390/183414342-b3a5fd0a-3492-4a47-ad18-f114290c06c8.png)

[2022-08-08 17:19] jonathanlang commented on #626
Hm, it doesn't seem to be having any effect for me.
I'm working in /config.yaml.
This is the structure of my yaml, but changing the enabled parameter under footer doesn't change the page:

[code]

[2022-08-08 17:49] hossainemruz commented on #626
If you share your repo, I might be able to help.

[2022-08-09 08:58] LalithKumar010 opened #627 "Dark mode changes the image color for post card"
## Expected Behavior

The pic should remain same in the post in both light and dark modes

## Current Behavior

The hero pic of a post is loosing its color when changing from light mode to dark mode

## Possible Solution

## Steps to Reproduce

1. Create a post with a hero.svg photo
2. Enable dark and light modes in your blog
3. Change from light mode to dark mode
4. See the recent posts section

[2022-08-09 09:01] LalithKumar010 opened #628 "bug"
## Expected Behavior

Should be able to view the thumbnail of the post
## Current Behavior

Alternate text of the pic being displayed instead of the pic
## Possible Solution

## Steps to Reproduce

1. Open your recent posts and posts section in chrome
2.
3.
4.

### Screenshots

In chrome
![image](https://user-images.githubusercontent.com/90268212/183609018-9ed4812e-87c1-4878-91c7-9107525431b2.png)

[2022-08-09 09:19] hossainemruz commented on #627
I can confirm the issue.

[2022-08-09 09:24] LalithKumar010 commented on #628
All chromium based browsers are effected don't know why

[2022-08-09 09:31] hossainemruz commented on #628
Suspecting the issue is with the SVG image.
![image](https://user-images.githubusercontent.com/12577390/183615467-c7d5ebf8-57c8-441f-a47f-cff31f324708.png)

[2022-08-09 13:40] jonathanlang commented on #626
Thanks, I've added you to my repo. Let me know if you find something that I did wrong... I tried various levels of indentation, but nothing seems to do the trick.

[2022-08-09 13:46] jonathanlang opened #629 "Feature Request"
### Describe the solution you'd like

When customizing the parameters of a section, I would like to be able to rename the header, which shows up in the title of the section as well as the navigation.
[code]

I would expect when I type in something under the name parameter, that would be reflected. Instead it seems this name is hardcoded to the yaml file and changing it breaks the generator, since

[2022-08-09 15:07] hossainemruz commented on #629
It's already supported.
Check this example: https://github.com/hugo-toha/hugo-toha.github.io/blob/87003c8b898bc51881fd7c64d06d67a9f6b37774/data/en/sections/about.yaml#L2

[2022-08-09 17:20] jonathanlang commented on #629
But what do I need to change then in my example, in order for the "Experiences" section to have a different title displayed?
I tried adding the id, hoping that could then serve as a reference, but as soon as I change the name: parameter the rendering breaks.

[2022-08-09 18:16] hossainemruz commented on #626
Hi @jonathanlang you were using very old version of the theme. Probably, 1.5-2 years old version. I have set you a PR updating the theme version to latest and fixing some configuration issue.

Please follow this sample repo for further configuration reference:
https://github.com/hugo-toha/hugo-toha.github.io/tree/main/data/en

[2022-08-09 18:17] hossainemruz commented on #629
You were using an old version of the theme. I have sent you a PR updating the theme. You should be able to change the title after merging the PR.

[2022-08-10 05:12] Beluguy opened #630 "Is there a way to not use Google fonts and add privacy policy?"
### Question
I would like to use a different font system other than Google fonts, partly due to privacy reasons and to be compliant with privacy laws. According to Cookiebot.com, my implementation of the theme is not compliant with ePrivacy Directive (ePR).  Is it also possible to add a dedicated privacy policy and copyright disclaimer? Thanks for the amazing theme! 👍

[2022-08-10 10:53] OmerJauhar opened #631 "config.toml:9:10": unmarshal failed: toml: expected character ="
Hey! Its my first time using Hugo and  I am getting this error while editing config.toml file ... any solutions ?

[2022-08-10 12:33] hossainemruz commented on #631
How do I will know if you don't share the `config.toml` file? Probably, misconfiguration.

[2022-08-10 14:18] OmerJauhar commented on #631
well thank you for your time but the issue is now solved .

[2022-08-10 16:34] jonathanlang commented on #626
Thanks so much, especially for setting me up with the new config file structure. I had to re-add the toha submodule locally, since the changes weren't getting synced properly, but now it's working!

[2022-08-10 16:34] #626 closed

[2022-08-10 16:35] #629 closed

[2022-08-10 21:13] #631 closed

[2022-08-13 05:53] LalithKumar010 commented on #628
Is there any way to add jpg files instead of SVG ?

[2022-08-13 17:20] hossainemruz commented on #628
Yes.

[2022-08-14 10:48] MarionMoseby commented on #630
We should actually try to serve this locally I think

[2022-08-17 10:24] daviddavo opened #634 "Use CSS custom properties (variables) for template colours"
### Describe the solution you'd like

The colour definition is repeated a lot of times in a lot of files, which makes it difficult for users of the template to change the colour palette.

Instead of repeating `#1C2D41` 11 times, we could use `color: var(--color-heading)`. This variable would be defined in the body, like this:

[code]

Then, if the user wants to change the colour palette, they coul

[2022-08-17 18:20] hossainemruz commented on #634
Sound like a good idea. Didn't knew it is possible. Would you like to go ahead and send a PR?

[2022-08-18 10:42] daviddavo commented on #634
I've been doing this for some colours in my own branch, the thing is, I don't know what to name the colours.

The main ones are easy because they were already named: heading, paragraph, iconography, secondary, dirty snow, snow...

The problem is that there are a lot of "unnamed" colours, like [#248aaa](https://github.com/hugo-toha/toha/search?q=%22%23248aaa%22&type=).

Should I name the variable `

[2022-08-18 17:04] hossainemruz commented on #634
Hmm... We have to decide which color will be used for which purpose and name them accordingly. Let me defines the colors. I will get back to this issue in few days.

[2022-08-24 21:00] wickenico opened #637 "Support color purple for about soft skill circles"
Hi,
I want to add Kotlin to my soft skills. The color of Kotlin Logo and themes about the language are purple, so I would love to use a purple circle.
Could you integrate this color?

Thanks a lot!

Regards,
Nico

[2022-08-28 14:28] hossainemruz commented on #637
You can directly put a HEX color code in the color field. Here is an example:
https://github.com/hugo-toha/hugo-toha.github.io/blob/81fd689f36d77f2d6f77a10a7e1a6f4c0d867c29/data/en/sections/about.yaml#L95

[2022-08-29 11:13] wickenico commented on #637
Thanks perfect! :)

[2022-08-29 11:13] #637 closed

[2022-09-05 15:49] #630 closed

[2022-09-07 11:01] quantitative-technologies opened #643 "softSkills text does not wrap correctly"
## Expected Behavior

Text should wrap so that it is fully visible and not covered up by the outer circle.

## Current Behavior

The text "Machine Learning" is not wrapped and the initial 'M' and terminal 'g' are partially covered.

I also cannot find any way to force the text to break in between the two words. It looks like this:

![bug-report-toha-softSkills](https://user-images.githubuserconten

[2022-09-07 11:29] hossainemruz commented on #643
This PR should fix the issue.
https://github.com/hugo-toha/toha/pull/644

[2022-09-07 11:30] #643 closed

[2022-09-07 12:47] quantitative-technologies commented on #643
That was quick! A bit of a kludge but it did the trick :smile:

[2022-09-08 18:29] DipeshAggarwal opened #646 "Can't build site."
## Expected Behavior
The website should build.
EDIT: I have even tried following the instructions in https://toha-guides.netlify.app/posts/getting-started/prepare-site/
As soon as I create the sections folder, the build crashes.

## Current Behavior
Website build fails with

[code]

Hugo version: `hugo v0.102.1-e9c3ce16abc391ee5be38f88b0499d0e8e19104c+extended windows/amd64 BuildDate=2022-08-29T12

[2022-09-09 02:27] hossainemruz commented on #646
Can you please share your repo so that I can take a look . Look like a configuration i.

[2022-09-09 03:36] DipeshAggarwal commented on #646
Using all the default files from https://toha-guides.netlify.app/posts/getting-started/prepare-site/ seems to make it work. Will test more and report back if I see this issue pop up again.

[2022-09-09 03:40] DipeshAggarwal commented on #646
Actually now after the first build, the website renders to an empty white page.

https://github.com/DipeshAggarwal/hugo-toha-test

Please take a look.

[2022-09-09 04:05] #646 closed

[2022-09-30 08:52] LNA-DEV opened #649 "Support for Hugo Modules"
I think support for Hugo Modules would be awesome. They make it really easy and are the recommended way!

[2022-09-30 09:04] hossainemruz commented on #649
Sure, I would love to. I just need to study usage of Hugo Modules.

[2022-10-05 01:51] SrNetoChan opened #656 "Contacts list doesn't work as shown in documentation"
### Question

I am not sure if it's a bug or actually a feature request, but following documentation -
https://toha-guides.netlify.app/posts/configuration/site-parameters/#add-author-information - I seemed to me that adding new items to the contact list would be possible, like for example:

[code]
Nevertheless, when I try to use that, I don't get it to render correctly.

![image](https://user-imag

[2022-10-05 01:56] SrNetoChan commented on #656
It should be something around here, but I don't have enough jinja2 knowledge for understant what it's doing.
https://github.com/hugo-toha/toha/blob/main/layouts/partials/footer.html#L118

[2022-10-05 12:56] hossainemruz commented on #656
Hi @SrNetoChan, you seem to be using an old version of theme. Please update to the latest commit. To update to latest commit, follow this instruction:

[code]

Once you have updated to the latest commit, your custom contact info should work.

[2022-10-05 13:04] SrNetoChan commented on #656
I think I was using the latest release. You say I should use main?

[2022-10-05 15:25] hossainemruz commented on #656
Yes. Use main branch. I believe, I haven't cut a release with the feature you are trying to use. That feature is on main branch.

[2022-10-05 16:01] #656 closed

[2022-10-10 17:46] toniop99 commented on #522
Hey!
I will add this snippet if you don´t think it´s a problem

[2022-10-10 18:03] hossainemruz commented on #522
That will be great @toniop99

[2022-10-10 18:13] MarionMoseby commented on #522
Yes please! I wanted to do this, but havent found any time since. Maybe it can be added as a git submodule to preserve copyright? Not sure though

[2022-10-10 18:16] toniop99 commented on #522
From what I'm reading there are certain issues that need to be changed manually because the project is not maintained. We have two possibilities:

Copy the project and make the necessary changes to make it work

Find another project with similar functionality

[2022-10-11 09:00] LNA-DEV opened #663 "Arrow not centered"
## Expected Behavior

Arrow should be centered on the home page.

## Current Behavior

Arrow is slightly on the right.

## Possible Solution

Center the parent element.

## Steps to Reproduce

It happens on every site.

### Screenshots

![Screenshot from 2022-10-11 10-47-41](https://user-images.githubusercontent.com/77580596/195046493-b7b9d19e-e638-4e92-8bf0-3c5c855a593a.png)

[2022-10-11 09:13] hossainemruz commented on #649
Thank you @LNA-DEV. I will take a look.

[2022-10-11 09:33] #663 closed

[2022-10-12 18:46] #649 closed

[2022-10-12 20:28] toniop99 commented on #522
Hello!
I have created [this shortcode](https://github.com/toniop99/hugo-adobe-pdf-api-shortcode) that use the embed pdf api from [adobe](https://developer.adobe.com/document-services/apis/pdf-embed/)

If you consider it would be a good option to add to the theme we can do it with no problem.

It not as easy as a native pdf viewer, because the user has to create an api on [adobe console](https://de

[2022-10-14 19:15] filcuk opened #665 "In dark mode, pages load in light mode briefly causing flashing"
## Expected Behavior
Pages should load in dark mode.

## Current Behavior
Pages load in light mode causing a bright flicker every time user navigates to a different page.

## Steps to Reproduce

1. Can be tested on https://hugo-toha.github.io/
2. Enable dark mode (or auto if applicable)
3. Navigate to 'Posts'
4. You should already see the effect, if not click around the navigation

### Screenshots

[2022-10-15 09:45] xsFactor opened #667 "Build probem on netlify"
When deploying the template on netlify with the following step: [Deploy site in Netlify](https://toha-guides.netlify.app/posts/getting-started/netlify/) is unable to build

### **SHOWING THE FOLLOWING ERROR**

**2:35:38 AM:   1. build.command from netlify.toml**
 ​
2:35:38 AM: $ hugo --gc --minify
2:35:38 AM: Error: module "toha" not found; either add it as a Hugo Module or store it in "/opt/build

[2022-10-15 12:24] SrNetoChan opened #668 "CounterDev analytics not working"
## Expected Behavior

I have configured counterDev but the site don't seem to be able to track anything from my visits to the site.

counterDev seems to expect a very simple string like

<script src="https://cdn.counter.dev/script.js" data-id="my_key" data-utcoffset="1"></script>

But the generate code is much more complex, like:

<script>!sessionStorage.getItem("_swa")&&document.referrer.indexOf(

[2022-10-15 15:15] hossainemruz commented on #665
I can confirm the behavior.

[2022-10-15 15:21] hossainemruz commented on #667
Can you please try upgrading Hugo version? Here, is an sample:
https://github.com/hugo-toha/hugo-toha.github.io/blob/main/netlify.toml

[2022-10-15 15:25] hossainemruz commented on #668
Thank you @SrNetoChan for reporting the issue. I will take a look.

[2022-10-15 15:28] SrNetoChan commented on #668
If it is of any helps, my site is www.aneto.pt

[2022-10-15 17:18] #379 closed

[2022-10-17 01:29] IhnwhiHeo opened #671 ""Publications" not working"
Hi folks!

I do like this theme a lot and recently tried to add the Publications section. However, the deployment did not work. Can you please check my code at https://github.com/IhnwhiHeo/ihnwhiheo.github.io/commit/d50d9c087f034ef297e089de6a834def4894eecc?

Thanks in advance.

[2022-10-17 16:23] MarionMoseby commented on #522
I would position myself against adding a privative piece of code to an otherwise open source theme, but this of course could just be optional. Maybe we could add this one as embed-pdf-adobe, and call the other one embed-pdf-native? I have it working on my computer, I can pushit asap if @hossainemruz  agrees

[2022-10-17 17:39] hossainemruz commented on #522
I agree with you @MarionMoseby. Native one should be the default choice. We can just name it `embed-pdf` or  `pdf`. The adobe one could be available as an option.

[2022-10-17 17:42] toniop99 commented on #522
I think us all of you. If we don't want to add it because it is very invasive, maybe we can add to the documentation the option for anyone who wants to use it at your discretion.

[2022-10-17 19:23] MarionMoseby commented on #522
The pdf.js library weights 15 mb. I am usually in favor of loading things locally, but maybe this is a bit too much to add to the repo? How do you feel, maybe use a CDN?

[2022-10-18 02:28] hossainemruz commented on #522
I have no issue with CDN. However, other user might have. We have to make sure this library is loaded only when there is a pdf in the page. Otherwise, it will make the site heavy.

[2022-10-18 04:15] hossainemruz commented on #671
Hi @IhnwhiHeo, you are using an old version of theme. You are using theme version from July 16. Publication feature was added in July 29. That's why it's not working. Please update the theme.
Try doing: `git submodule update --remote`

[2022-10-18 04:34] IhnwhiHeo commented on #671
Hi @hossainemruz,
Thanks for your reply. Now it works perfectly after the update :)

[2022-10-18 05:02] #671 closed

[2022-10-18 10:08] MarionMoseby commented on #522
Sorry @hossainemruz, I didn't see your message, although I think my commit fits what you are saying: the PDF.js library is only loaded when the PDF is being actively displayed on the page. One possible improvement could be adding a "download" button to the top menu; what do you think? Currently, it shows each page as an image

[2022-10-18 10:13] MarionMoseby commented on #508
Should I implement this also in my open PR? Seems like an easy fix, and search isn't working on my site either

[2022-10-18 10:16] hossainemruz commented on #508
@MarionMoseby please, send a separate PR.

[2022-10-18 10:25] pboling commented on #577
Maybe you changed the name of that post, and it doesn't exist anymore?

[2022-10-18 10:27] MarionMoseby commented on #577
Nono, its just that it is difficult for the browser to load too much data

[2022-10-18 10:41] MarionMoseby commented on #508
@pvojar could you send your site URL's for testing?

[2022-10-18 11:09] MarionMoseby commented on #508
I have been investigating and the issue is not that search is broken (https://www.pablomarcos.me/es/search/?keyword=ecsa works, for instance, if you manually change the keyword) but rather that the "get" form is not appending the ?keyword parameter at the end of the URL. I dont know how to fix this, but the solution is not to change `$.getJSON( window.location.href.split("/search/")[0] + "/index.j

[2022-10-18 15:47] #522 closed

[2022-10-18 16:06] #668 closed

[2022-10-18 16:06] hossainemruz commented on #668
@SrNetoChan Look like counter.dev has changed how the tracker is included in the site. This PR should fix the issue: #674.

Please update your theme to the latest commit and  let me know if it fixes the issue.

[2022-10-18 16:51] SrNetoChan commented on #668
That was my thinking. But I wasn't sure if you were just doing it in another way.

Thanks for the fix!

[2022-10-19 16:17] LNA-DEV opened #675 "AdBlockers can block GoatCounter js file"

[2022-10-19 16:28] #675 closed

[2022-10-24 02:42] quantitative-technologies opened #677 "How to control navbar "collapsing"?"
On some browsers my webpage is collapsing the navbar into the 3 horizontal lines in the top-right corner, even though there is plenty of room for the section headings, since I currently only have 3 of them.

On my linux system, the webpage displays the sections as I would like:
![website-good](https://user-images.githubusercontent.com/29150871/197437120-e527ddc3-36f2-4d98-bc54-db4c29855c67.png)

H

[2022-10-24 04:26] hossainemruz commented on #677
HI @quantitative-technologies `$maxVisibleSections` has nothing to do with the navbar collapsing. The site is probably detecting the device as tablet. Can you please share your website link so that I can check if there is any other issues.

[2022-10-24 12:54] quantitative-technologies commented on #677
Hi @hossainemruz

Please notice that this also happens on the Toha example site when I use Windows Edge (it's running in a VM if that is relevant):
![toha-website-collapsed](https://user-images.githubusercontent.com/29150871/197529644-689181ca-7de7-49bb-aa49-39dce84f1855.png)

But Toha has 9 or 10 section headings...

Here is the link to [my website](https://quantitative-technologies.com/).

[2022-10-24 14:19] hossainemruz commented on #677
Hi @quantitative-technologies, this is expected behavior. If the device width is less or equal to `1024px`, then navbar goes into this mode. This is being handled by bootstrap framework itself.

[2022-10-25 12:22] quantitative-technologies commented on #677
Yes, the Windows VM is 1024x768. I'm surprised if that was the case for the Mac too.

So how can I change the expected behaviour? I looked through the navbar code, and I don't see any reference to bootstrap. There must be some way to disable the bootstrap for just the navbar, or am I mistaken?

[2022-10-25 12:47] hossainemruz commented on #677
If you inspect the code and check the CSS for`navbar-toggler` button, you will see it is disabled only for screen >= 1200px. Maybe, you can overwrite this behavior by setting media query for the the `navbar-toggler` button and the respective menu list. You might need to use important (`!`) sign to overwrite the bootstrap behavior.
![Screenshot from 2022-10-25 18-44-43](https://user-images.githubus

[2022-10-26 11:07] salastro opened #679 "Add time to read for posts"
### Why I want that

I have seen this on a number of websites and it looks very cool

### The solution I'd like

Maybe a simple javascript code that calculates the number of words in the article and dives it by the average reading speed (250 wpm) and displays it at the corner of the post card (besides the read button) and somewhere near the tags inside the post itself.

[2022-10-26 11:53] hossainemruz commented on #679
No need for Javascript. Hugo itself provide `.ReadingTime` variable for page. We just need to find a place to show that.

[2022-11-01 16:58] salastro commented on #679
I think this looks nice. What do you think?
![image](https://user-images.githubusercontent.com/63563250/199291753-34cec391-31dd-4ff3-83da-693c336c9a69.png)
![image](https://user-images.githubusercontent.com/63563250/199289686-60abadb3-9cc2-42a6-868b-3fdaae7d4df2.png)

[2022-11-01 19:49] hossainemruz commented on #679
Not sure about read time location on post card. Maybe, that can go after post date too.

[2022-11-03 15:10] hossainemruz opened #685 "Add option to disable pdf-js"
### Describe the solution you'd like

Generated site become 15Mb larger than usual. So, if an user don't use that feature, there is no need for this additional size.

Ref: https://github.com/hugo-toha/toha/commit/0e8e182e335697229c71feda4a8e4b7b8112acc7#commitcomment-88764018

### Describe alternatives you've considered

### Additional context

[2022-11-03 17:11] eishundo opened #686 ""Recent Posts" displays "search" card if no or few "posts" have been created"
## Expected Behavior
Would expect no "posts" cards to be displayed if no posts have been created.
Would not expect "search" cards to be displayed in place of "posts" cards.

## Current Behavior
We see "search" cards displayed in "Recent Posts" when no, or few "posts" exist.

## Possible Solution
Patch being submitted.
Line 22
-       {{ range first $numShow (where site.RegularPages.ByDate.Reverse

[2022-11-03 17:28] #686 closed

[2022-11-05 12:00] eishundo opened #688 "HTML Proofer complains that "alt" attributes are missing from img tags in theme-selector.html"
## Expected Behavior

img tags should contain "alt" attributes to pass HTML Proofer tests.

## Current Behavior

HTML Proofer complains that "alt" attributes are missing from img tags generated by layouts/partials/navigators/theme-selector.html

[code]

## Possible Solution

Submitting patch to add alt attributes to img tags.

[code]

Pull request submitted: https://github.com/hugo-toha/toha/pull/

[2022-11-06 17:37] El-Gavy opened #691 "Duplicate "Experiences" section"
Hello,

First of all, thank you very much for this great theme!

However, I have a question: I have a lot of volunteer activities and I would like to be able to separate them from my professional experiences. I think the cleanest way to do this is to duplicate the "Experiences" section. Is this possible? If so, how do I do it?

Thanks!

[2022-11-06 17:48] hossainemruz commented on #691
Just add another data file for new experience section in your data folder. For example, add `volunteer-activities.yaml`

[code]

[2022-11-06 18:08] El-Gavy commented on #691
Thanks a lot for the light-speed answer!

Just tried it, worked as expected! I thought it would require more modifications but it did not. Again, what a great theme :)

[2022-11-06 18:08] #691 closed

[2022-11-08 14:01] #688 closed, assigned to nobody

[2022-11-08 15:51] salastro commented on #679
How about this? If it is fine, I will make a pull request.
![image](https://user-images.githubusercontent.com/63563250/200611887-4ee08ecd-0e82-4464-8cf9-3a3c992d2122.png)

[2022-11-08 15:54] salastro commented on #679
How about this?
![image](https://user-images.githubusercontent.com/63563250/200612723-4c42408e-db19-449f-86e9-c50cff1d435b.png)

[2022-11-08 16:11] hossainemruz commented on #679
This one looks good to me.

[2022-11-10 05:05] hossainemruz opened #695 "Support external link in the sidebar"
### Discussed in https://github.com/hugo-toha/toha/discussions/694

<div type='discussions-op-text'>

<sup>Originally posted by **BenjamenSimon** November 10, 2022</sup>
Hello! I would like to have post links on the left hand side that directly link to

1) pdf files (such as Resume for instance, or a slide deck for a talk)

2) Custom html files - ie such as those generated by statistical programs

[2022-11-10 05:07] hossainemruz commented on #695
Related resources:
- https://discourse.gohugo.io/t/issues-with-menu-url-for-headless-page-in-v0-86/40532
- https://gohugo.io/variables/menus/
- https://gohugo.io/templates/menu-templates/

[2022-11-10 16:57] #695 closed

[2022-11-11 22:34] kszpieg opened #701 "Category filter for skills"
### Describe the solution you'd like

Hi!

Have you considered adding a category filter for skills too? I saw on some portfolios that authors put his skills into categories like "Programming languages", "Frameworks", etc. I think that it can be helpful in this case.

### Describe alternatives you've considered

The same feature in projects works very well IMO. Maybe adapting it to skills will be e

[2022-11-11 22:40] kszpieg commented on #701
Ah, I see that in #475 this idea is in some kind of preparation :D Didn't see this PR before creating the issue/feature request.

[2022-11-12 11:49] hossainemruz commented on #701
I do have plan for it. However, it will take time. Don't hold your breath for it.

[2022-11-20 13:42] luke-taylor opened #708 "Dropdown Button for Blog Post Categories"
Firstly, I would like to say what a fantastic theme this is and complement anyone who has contributed so far.

## Current Issue
As far as I can tell, there is no feature that will allow me to simultaneously:
1. Stay on my current 'Post' page.
2. View other 'Post' pages within a different category than the current one.

![image](https://user-images.githubusercontent.com/77284962/202904944-f543d6c9-

[2022-11-20 14:24] hossainemruz commented on #708
You want to be able to expand a category without moving to the page? That would require to change how the menus are built. Certainly, doable but I don't think I have bandwidth to work on it.

[2022-11-20 14:28] lukesmoak98 commented on #708
That's fine, any ideas on where one my start if they were to attempt this?

[2022-11-20 15:00] hossainemruz commented on #708
You have to make this `li` to an accordion.
https://github.com/hugo-toha/toha/blob/6704952afa1983f4583f3c3a431a2ae571d972bc/layouts/partials/navigators/sidebar.html#L11

You can check this bootstrap accordion example:
https://getbootstrap.com/docs/5.2/components/accordion/

[2022-11-20 15:23] lukesmoak98 commented on #708
Thanks! Do any further amendments need making, for example the `.css` file or making a new `.js` file?

[2022-11-20 16:27] hossainemruz commented on #708
CSS and JS change may require.

[2022-11-20 19:32] luke-taylor opened #709 "Bug: Changing .background in home.css has no effect in Firefox"
## Versions
Firefox: 107.0
Toha: v3.8.0
Hugo: v0.105.0

## Expected Behavior
Updating the `.background' block in sections/home.css should result in changes in the **Firefox** browser.

## Current Behavior
Modifying this block (even discarding it entirely) has no effect.

### Browsers Affected

- [ ] Chrome
- [x] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11