[2020-06-24 20:08] jbleduigou opened #7 "Invalid link to email address in about section"
Hi,

It seems that the link to the email address is not rendered properly.
See attached files for details.

[2020-06-24 20:10] jbleduigou commented on #7
![image](https://user-images.githubusercontent.com/1489214/85622694-8788d600-b667-11ea-8003-c95f86722969.png)

![image](https://user-images.githubusercontent.com/1489214/85622713-8e174d80-b667-11ea-9ed3-02567c1487ff.png)

[2020-06-27 02:53] blueyetisoftware opened #10 "About section renders 'at' when company information is not provided"

[2020-06-27 03:13] blueyetisoftware opened #12 "Unused sections leave behind a blank row in the layout"

[2020-06-27 05:53] #10 closed

[2020-06-28 20:37] RyanTG opened #15 "How to slow down the typing carousel?"
Hi, love the theme (I just started with it, but will restart with your latest dynamic/configurable home page PR).

I'm having some trouble understanding the carousel js [here](https://github.com/hossainemruz/toha/blob/c536d14bdca1628fb6498b24b1a33fbcd28b65f8/static/assets/js/home.js#L27). I'm not a js expert, but this code looks so simple - is there also some Go magic happening that helps this fun

[2020-06-28 22:35] RyanTG commented on #15
Ah I see that ityped is a node module. Missed that when I searched “ityped” in the repo.

[2020-06-28 22:35] #15 closed

[2020-06-29 23:34] blueyetisoftware commented on #12
Fixed by #14

[2020-06-29 23:34] #12 closed

[2020-06-30 04:51] hossainemruz commented on #7
Fixed in #8

[2020-06-30 04:51] #7 closed

[2020-06-30 08:03] blueyetisoftware opened #21 "Allow project button shading to be removed"
I am trying to remove the shading that is covering the project buttons but have not been able to find it in the css. @hossainemruz Where can I find this shadow box over the top of the highlighted button?

<img width="440" alt="Screen Shot 2020-06-30 at 12 00 41 AM" src="https://user-images.githubusercontent.com/16869740/86100219-02d1f980-ba65-11ea-822a-81bccf701788.png">

[2020-06-30 08:11] hossainemruz commented on #21
Its coming from bootstrap. I don't think it looks bad.
https://getbootstrap.com/docs/4.5/components/button-group/

[2020-06-30 17:19] blueyetisoftware commented on #21
It doesn't look bad. I was just trying to modify it and couldn't find it. Thanks

[2020-06-30 17:19] #21 closed

[2020-07-04 05:08] oscar-romero-jorge opened #28 "Posts Page Frontmatter and Configuration"
I was looking through your documentation to understand how to set up posts but the post for that tutorial is not completed. Could you provide quick details on how to populate that page, please?

[2020-07-04 05:14] hossainemruz commented on #28
@oscarmrom I am going to refactor the sidebar logic. So, front-matter will changes significantly. That's why I haven't added tutorial yet. I will recommend to wait for the refactor. It may take one week or two.

[2020-07-04 21:09] RodrigueJr commented on #28
hi @hossainemruz. I'm testing your theme. it's a very nice theme. Thanks for the job. impatient to test the new format :) .

[2020-07-05 01:52] oscarmrom commented on #28
Gotcha, thanks for the quick response. Would you be able to drop a snippet of how your sample site currently is set up to walk myself through it, please? I'm excited to see what changes you make and in the mean time I'd like to learn how it currently functions. If I missed the code where it's set up could you link me to it, please?

[2020-07-05 03:54] daveops1 opened #29 "Add Contact Form functionality"
It would be nice to have the option to include a contact form, allowing the form action to be whatever forms provider the user chooses like Netlify, Typeform, etc...

[2020-07-06 03:55] daveops1 commented on #28
I know a refactor is currently in progress, but what is the way to show the posts in the side-bar currently as the example site shows?  Thanks so much!

[2020-07-06 04:33] hossainemruz commented on #28
@daveops1 posts of the example site are here: https://github.com/hossainemruz/toha-example-site/tree/master/content/posts

[2020-07-06 05:32] daveops1 commented on #28
Thank you so much!  Great theme 😀

[2020-07-07 17:37] darkwizard242 commented on #28
@hossainemruz - Looking forward to the updated documentation. Great theme by the way :+1:

[2020-07-08 08:18] GaHoWong opened #34 "add table of contents"
Is it possible to add an Easy-to-use and self-expanding table of contents, it is really useful！Example website：https://hugoloveit.com/theme-documentation-basics/

[2020-07-08 08:23] hossainemruz commented on #34
Sure. I can add one. Just need some time.

[2020-07-08 10:13] hossainemruz commented on #29
Can you please point me to some example for contact form? I have no idea on how they works.

[2020-07-08 14:08] oscarmrom opened #35 "Newsletter functionality"
Hello,

I wanted to understand the functionality of the newsletter subscription in the footer:

![image](https://user-images.githubusercontent.com/26697231/86928745-f7389f80-c102-11ea-9029-be41b1895f0d.png)

How do you configure this, how is this expected to be used? I'm sorry if I missed the documentation on this. If you could link me that would be great!

[2020-07-08 14:37] hossainemruz commented on #35
Current, it doesn't work. I will add this functionality in future.

[2020-07-08 15:35] oscarmrom commented on #35
Okay, cool. I've commented it out from the footer on my end for the time being. Thank you!

[2020-07-09 16:23] kashifnazar opened #36 "Comma with a preceding space"
It's a very little issue but it should be fixed. In case both the start date and end date are specified, there is a space between the end date and the comma. Here is a screenshot.

![image](https://user-images.githubusercontent.com/1439263/87065273-42010700-c22a-11ea-8ebd-881593b58d53.png)

It's a one-liner fix in experience-info.html.

[2020-07-09 16:27] daveops1 commented on #29
Sure!  I'm actually working on a custom section now using your theme's basic framework.  I can share when I'm finished.  Essentially since Hugo generates a static site, need to have a `<form action=#>` pointing to an API that handles contact form submissions.  Here are some links below that show this idea:

- https://medium.com/getform-all-about/how-to-add-a-contact-form-to-your-hugo-website-84ea7

[2020-07-09 16:35] hossainemruz commented on #36
@kashifnazar This PR should fix the issue: https://github.com/hossainemruz/toha/pull/37

[2020-07-09 16:35] #36 closed

[2020-07-09 16:36] hossainemruz commented on #36
Try pulling the master

[2020-07-09 16:37] imluxs opened #38 "Language attribute"
As a user in other countries，i think language attribute set by hugo variables will much better.

[2020-07-09 16:42] hossainemruz commented on #38
Sure. I would love to add multi-language support. Just need to finish the basic functionalities first.

[2020-07-09 16:57] imluxs commented on #38
Keep up the good work.

[2020-07-09 17:11] kashifnazar commented on #36
Thanks for the rapid action.

[2020-07-12 18:22] hossainemruz opened #39 "Add distraction free mode"
Automatically hide sidebar, toc, navbar in the reading page. Make them visible again on scroll up. Or, Maybe there could be a button that toggle into distraction free mode.

[2020-07-12 18:25] hossainemruz commented on #34
@GaHoWong I have added TOC in this PR: https://github.com/hossainemruz/toha/pull/33

Here, is what its going to look like: https://deploy-preview-3--toha.netlify.app/posts/writing-posts/markdown-syntax-guide/#code-blocks

Let me know if you have any comment.

[2020-07-12 21:14] daveops1 commented on #34
Just some quick feedback, some display issues on mobile devices.  I'm using a Samsing Galaxy S10+

[Image]

[Image]

Best,

David

________________________________
From: Md. Emruz Hossain <notifications@github.com>
Sent: Sunday, July 12, 2020, 11:26 AM
To: hossainemruz/toha
Cc: Subscribed
Subject: Re: [hossainemruz/toha] add table of contents (#34)

@GaHoWong<https://github.com/GaHoWong> I have ad

[2020-07-13 03:26] hossainemruz commented on #34
@daveops1 The PR is still work in progress. I haven't fixed responsiveness yet.

[2020-07-13 04:13] GaHoWong commented on #34
Great! But it seems that the area is too large, blocking part of the content, which is worth optimizing

[2020-07-15 03:53] al-haras opened #40 "Footer does not route properly from posts page"
Hello,

I noticed that when working with this theme, if you go to the posts page and click any of the navigation on the footer that it is not working correctly. I experienced this both using a local build and it exists on the example website as well.

From the posts page if you want to click on experiences, it will route to `https://toha.netlify.app/posts/#experiences` rather than (what I assume i

[2020-07-15 07:24] StefanTobler commented on #40
I ran into this issue on my page as well. Good issue.

[2020-07-15 20:22] al-haras commented on #40
I do think I found an easy fix if you want me to create a PR with the change so you can take a look.

[2020-07-16 04:27] #40 closed

[2020-07-16 19:32] hossainemruz opened #42 "Implement search functionality of sidebar"

[2020-07-17 09:41] domenicovistocco opened #43 "Customization of the logo"
I would like to ask for the possibility to customize the logo in the top menu bar (also providing the possibility to consider two versions of the logo: the transparent version and the version visualized when the page is scrolled)

Great theme (I am waiting for the new section you are working on)

[2020-07-17 10:51] hossainemruz commented on #43
@domenicovistocco yes. I have plan to make the logo configurable. Just need some free time.

[2020-07-17 21:54] EliiseS opened #44 "Author image stretched"
### Description

The author image is being stretched instead of being fitted in the circle by the middle point, which is what I'd expect.

If this is not possible to fix, I'd be nice to know what dimensions the picture should be.

### Visualization

![image](https://user-images.githubusercontent.com/12761692/87833640-40fe5400-c880-11ea-8123-24d219dd3839.png)

[2020-07-17 21:57] hossainemruz commented on #44
Try providing a square (i.e. 512x512) image.

[2020-07-17 22:00] EliiseS commented on #44
Yeah! That's better :P

I think if it's possible this could a nice to have fix. I however remember something very vaguely about this being difficult with css.

[2020-07-17 22:03] hossainemruz commented on #44
There should be a way to automatically adjust the image. Don't know currently. I have to check.

[2020-07-21 22:14] #34 closed

[2020-07-22 12:43] cristian04 commented on #38
I am also interested on this. Great work guys! I love the theme

[2020-07-22 16:08] #43 closed

[2020-07-22 16:27] hossainemruz commented on #35
@oscarmrom You can now hide the newsletter section using `config.yaml`. Ref: #48

[2020-07-23 03:51] RalphPastel972 commented on #38
I am also interested on this. Your work is awesome Hussain ! Thanks !

[2020-07-23 10:29] Sp-cy opened #50 "Incorrect Hyperlink"
On the documentation, under the Usage section there's a hyperlink in `"Follow the posts giving step by step instructions for configuring your data folder from here."` that it's broken and i think it should  point towards: `https://toha.netlify.app/posts/configuration/home-section/`

[2020-07-23 10:33] hossainemruz commented on #50
Thank you @Sp-cy . This PR fixes the link: #51

[2020-07-23 10:33] #50 closed

[2020-07-23 18:43] itsyaoyu opened #52 "Menu breaks on mobile"
Testing the [example site](https://toha.netlify.app/) on mobile, I discovered that you can't view all the menu options. Flagging this here.

![menu](https://user-images.githubusercontent.com/54951895/88325008-82fd1f00-ccf2-11ea-9782-8c15ad98293b.png)

[2020-07-23 18:47] hossainemruz commented on #52
Which mobile are you using?

[2020-07-23 18:49] itsyaoyu commented on #52
I am on iOS and tested this on Safari, Chrome, and Firefox.

[2020-07-23 19:01] hossainemruz commented on #52
I don't own any iOS device. So, I couldn't test. Chrome debugging tool rendered properly for all iOS devices.

[2020-07-23 19:24] itsyaoyu commented on #52
Hmm, I wonder if anyone else can replicate this issue?

[2020-07-26 08:35] Lattitude75 opened #55 "TOC in post page"
@hossainemruz I really like your website template and I used a slightly edited version of your design for my blog. Thank you very much for the great work!

Recently I have seen that you have changed the toha.netlify.app and I very much liked the implementation of toc on the posts page. So, I tried to clone your repository toha-example-site to see the change in code. Everything seems to work fine,

[2020-07-26 09:42] hossainemruz commented on #55
@Lattitude75 What browser are you using? Today, I am noticing some CSS issues in Firefox. There should be more issue on Safari.  Also, can you please share your device resolution?

Btw, I have recently pushed some CSS fix. Can you make sure that you have the latest changes?

[2020-07-26 10:55] Lattitude75 commented on #55
I am using Brave one Linux and my resolution is 1366x768. Should I try the new changes in the toha-example-site now?

[2020-07-26 11:05] hossainemruz commented on #55
I am also using Brave on Linux :P

Try updating the theme. Navigate to `themes/toha` and pull the latest master.

Btw, does the https://toha.netlify.app/ woks properly on your device?

[2020-07-26 11:07] Lattitude75 commented on #55
I have cloned the toha-example-site repo and then used the theme from this [link](https://github.com/hossainemruz/toha/tree/629c7196a32c989b0bd0df731d2812be44c00a10). Previously, I just used to clone the toha-example-site directly and run `hugo server` directly. This does not seem to work properly now. The formatting errors are shown in the pictures.

And, yes the toha.netlify.app works properly.

[2020-07-26 11:15] hossainemruz commented on #55
Seems like CSS are not being applied properly. Did you have any custom CSS? Also, please try doing a hard reload (CTRL+SHIFT+R) of your browser window. I am suspecting its using the cached CSS.

[2020-07-26 11:22] Lattitude75 commented on #55
Okay, I tried that before too. But, now it worked. Also, is there a way to hide the sidebar in the posts? It would be better if the user can just expand it when needed, as the post seems narrowed down now.

[2020-07-26 11:24] hossainemruz commented on #55
Currently, not possible. However, I have plan to support in future. https://github.com/hossainemruz/toha/issues/39

[2020-07-26 11:26] Lattitude75 commented on #55
Okay, that sounds great. Thank you, and keep up the great work!

[2020-07-26 11:32] #55 closed

[2020-07-26 21:46] kcktilak commented on #52
I can confirm, the version in toha.netlify.app has issue in ios 13.5.1 (iPhone X)

[2020-07-28 02:17] StefanTobler commented on #52
No problems for my site or the sample site on iOS 14.0, iPhone 8 Plus on safari and chrome, but I could replicate the issue on my girlfriends iPhone 11 in safari.

[2020-07-28 08:25] hossainemruz commented on #52
I am not sure how I can fix something that I can't test. It will be great if someone can contribute the fix.

[2020-07-28 16:54] StefanTobler opened #56 "Inconsistent Word-Spacing"
The word-spacing across the website seems to be inconsistent. Look at this skill for example. Some of the words are way more spaced out than others, yet they both only have one space between them.

![Screen Shot 2020-07-28 at 12 51 46 PM](https://user-images.githubusercontent.com/22108632/88696373-2d00f080-d0d1-11ea-9cc6-61844991243a.png)

![Screen Shot 2020-07-28 at 12 54 14 PM](https://user-imag

[2020-07-28 22:34] StefanTobler commented on #44
@EliiseS what is the resolution of your before image? Maybe I can look into it.

[2020-07-28 23:18] EliiseS commented on #44
It's 2208 x 2944 @EliiseS

[2020-07-29 07:44] hossainemruz commented on #56
This is intentional. It uses `text-align: justify `. Hence, the space between the words adjusted automatically to fill the line.

[2020-07-29 21:46] StefanTobler commented on #56
For anyone looking at this in the future if you want consistent spacing change the following code in `style.css`.

[code]

[2020-07-29 21:46] #56 closed

[2020-08-03 13:27] oscarmrom opened #58 "Missing Google Analytics when set in config.yaml"
In the `config.yaml` you have a way to enable a Google Analytics Tracking ID. I set this but it wasn't showing up. I hardcoded it into the `header` partial of the theme for now.

`config.yaml`
[code]

[2020-08-04 04:02] StefanTobler commented on #58
Putting my google analytics UA in the `config.yaml` worked for me. People looking at my site show up in my analytics.

[2020-08-04 06:56] hossainemruz opened #59 "Add dark mode"
https://dev.to/akhilarjun/one-line-dark-mode-using-css-24li

[2020-08-04 12:24] Demmonius commented on #38
Hello @hossainemruz !

Like a lot of people, I would be interested in i18n and translations. Would you need some help in a PR? Or would you like to do it by your own?

Thank you for this beautiful template

[2020-08-04 13:03] hossainemruz commented on #38
@Demmonius a PR will be great.

[2020-08-04 20:58] oscarmrom commented on #58
Strange, I can't even find that snippet via the Chrome Dev Tools. It's not in the `<head>`

[2020-08-10 09:42] cristian04 commented on #52
I can reproduce on iPhone 8. Safari and chrome. Using iOS 13.6

[2020-08-12 11:59] HabibRh26 opened #62 "customizeable experience.yaml and markdown inside yaml"
I tried to add an extra key in experience.yaml file but it is not working. Could you tell me how can I add it?. I don't want to follow your points in this file. Is there any way of using markdown syntax inside the yaml key values?

[2020-08-12 12:02] hossainemruz commented on #62
What additional points you want to user? You might need to customize underlying experience template.

[2020-08-12 13:26] jeanmacena commented on #52
Chrome mobile simulator tool is not so great. I will try to check this out in the weekend and submit a PR.

[2020-08-12 14:23] HabibRh26 commented on #62
@hossainemruz vai, I want to remove the lists type texts that you used in yaml and want to use a lot of textual sentences and lists in yaml and want to define my own customized key in yaml.

[2020-08-14 14:53] Andryas commented on #28
I simply put the posts from the example site on my but it didn't work as you can see here below..
![Screenshot](https://user-images.githubusercontent.com/24782390/90262436-afedaf00-de24-11ea-93e8-5fe446ac6e2a.png)

[2020-08-14 21:57] grahamguthrie99 commented on #52
Same issue on iOS.. any update?

[2020-08-16 09:27] cloudmiracle opened #64 "I cannot find the blog / posts examples in your codes"
Please help to share the examples for posts and codes with thanks.

[2020-08-16 11:10] HabibRh26 commented on #64
@cloudmiracle this may help you, https://toha.netlify.app/posts/writing-posts/category/creating-category/

[2020-08-16 15:41] HabibRh26 opened #65 "Changing of Deafult Logo at the Header"
Is it Possible to Change the "toha" deafult image logo at the top left of header? How can I do this?

[2020-08-17 07:14] cloudmiracle commented on #64
Thank you for making this.  Let me check!

[2020-08-17 07:16] #64 closed

[2020-08-18 00:41] jeanmacena commented on #52
Hello guys,

Just a quickly update. I did a little change on the css and test it in my Iphone 6S Plus (safari and chrome) and now it looks ok. Tomorrow, after my job, I will test in my girlfriend's iPhone and iPad to check if it is working (I'm not sure if this happen on iPad too).

[2020-08-18 01:37] llaniewski commented on #65
In the `config.yaml` file, you have options to set the logo:
[code]

[2020-08-18 09:56] #38 closed

[2020-08-18 11:44] HabibRh26 opened #69 "Post section not working after deployment in GitHub"
I just deployed the theme to GitHub following the [official documentation](https://gohugo.io/hosting-and-deployment/hosting-on-github/]) everything works fine except the Posts section. It renders to an error page after hosting on GitHub but when I ran it locally it was good. I don't know where is the problem.

[2020-08-18 11:45] HabibRh26 commented on #69
@hossainemruz , here is the output
![post](https://user-images.githubusercontent.com/47397271/90509038-890fdf80-e17a-11ea-81a3-e27373acdfb2.gif)

[2020-08-18 11:50] hossainemruz commented on #69
Can you try changing `.Permalink` to `.Permalink` of this file?
https://github.com/hossainemruz/toha/blob/master/layouts/partials/cards/post.html

[2020-08-18 11:59] HabibRh26 commented on #69
@hossainemruz , output
![posts](https://user-images.githubusercontent.com/47397271/90510313-91691a00-e17c-11ea-8176-738e89caad07.gif)

[2020-08-18 12:03] HabibRh26 commented on #69
@hossainemruz

Are you suggesting to use `.permalink` instead of ` .RelPermalink ` ?

[2020-08-18 12:04] hossainemruz commented on #69
Yes

[2020-08-18 12:54] cristian04 opened #70 "Background image in low quality"
# Description

When browsing the website on Ipad or IPhone, the background image renders in low quality. (See attached screenshots)

# Steps to reproduce
1- Navigate to the site on iphone, ipad and desktop

# Expected Result
Background image must be adapted to the device's screen size

# Actual Result
Rendering a low quality image

# Versions

hugo version
Hugo Static Site Generator v0.74.3/extend

[2020-08-18 13:03] hossainemruz commented on #70
That's strange. Chrome debugging tool rendering properly.

[2020-08-18 13:09] cristian04 commented on #70
Indeed. I dont know how to troubleshoot as I am not a webdeveloper :(

[2020-08-18 13:41] Conrix opened #71 "Skill cards style is wrong in Firefox"
# Description
When browsing the website on Firefox (Mac), Cards of Skill profile is not in shape. (See attached screenshots)

# Steps to reproduce
1- Navigate to the site with Firefox (https://toha.netlify.app/)
2- select skills menu.
3- Relead page (multiple times, some time skill cards are in shape sometime not)

# Expected Result
Skill cards have same height
Skill card has no large space below

[2020-08-18 13:45] hossainemruz commented on #71
Yes. I have also noticed the bug. Will fix ASAP. In the meantime, a PR will be greatly appreciated.

[2020-08-18 13:54] HabibRh26 commented on #70
I also faced the same, no matter How high res image I use , it gets blurred

[2020-08-18 13:59] hossainemruz commented on #70
The blur is intentional. However, I believe its not properly rendering on Apple Devices. Please, try removing line 16-19 from here: https://github.com/hossainemruz/toha/blob/61a9d7aea0ccf0acab225212b8e6f2be2e6fafa1/static/assets/css/sections/home.css#L16

[2020-08-18 14:27] HabibRh26 commented on #69
@hossainemruz  I'm not an expert of  github, when I try to push the changes from inside my `public` folder, it says error(below).
![st_pic](https://user-images.githubusercontent.com/47397271/90525509-2a099500-e191-11ea-9794-b0abfacddc3e.png)

[2020-08-18 14:29] hossainemruz commented on #69
@HabibRh26 In order to modify the theme, you have to fork. Then use the forked version.

[2020-08-18 14:35] HabibRh26 commented on #69
should i fork your example-site repo?

[2020-08-18 14:36] hossainemruz commented on #69
No. Theme repo.

[2020-08-18 22:10] HabibRh26 commented on #69
I checked using `.permalink` on GitHub it does not work as before. But it is okay when I run it in localhost using the default param value of `baseURL` and `gitRepo ` that you used in `config.yaml` . Waiting for a solution asap.

[2020-08-19 02:32] cristian04 commented on #70
This didn’t fix the issue, but I was able to find the cause for the weird behaviour:

 background-size: cover;

This property breaks the site on iPad and iPhones. Changing it causes the background image to be repeated on x and y.

Any advice to resolve this? I’m keen to provide a PR once is done. :)

[2020-08-19 03:53] hossainemruz commented on #70
Add these lines. First is for Apple Devices. Second is for Mozila Firefox.
[code]

[2020-08-19 09:07] philshem opened #72 "Clicking on top Menu tabs shows #NaN bookmark"
Visiting the demo site https://toha.netlify.app/ (and also my site under development),

when I click on one of the top menu links

<img width="442" alt="image" src="https://user-images.githubusercontent.com/4997607/90615193-0fc0cd00-e20c-11ea-89ec-e0d80f24fa42.png">

I go to the correct bookmark on the page, but the URL in the browser shows #NaN

<img width="435" alt="image" src="https://user-imag

[2020-08-19 09:59] HabibRh26 commented on #72
Did you deploy your site on netlify? I deployed on GitHub but `posts` section is not working, just want  to know whether it is okay in netlify or not? thanks

[2020-08-19 10:02] hossainemruz commented on #69
I will take a look into this issue today. I will let you know what I find.

[2020-08-19 10:10] HabibRh26 commented on #69
@hossainemruz , Thanks a lot

[2020-08-19 12:26] philshem commented on #72
No, my site was hosted locally: `hugo server -w`

[2020-08-20 10:52] cristian04 commented on #70
It didnt fix it :(

I was able to reproduce this on the Apple simulator. Im keen to share my screen if needed.

[2020-08-20 10:59] hossainemruz commented on #70
I don't know how to fix it until I don't get access to any iOS device. :(

[2020-08-20 11:11] hossainemruz commented on #70
Well, I guess I can use https://appetize.io/ to simulate a device. I can confirm the issue. Will fix ASAP.

[2020-08-20 11:33] hossainemruz commented on #52
I am able to reproduce this issue in webkit based [epiphany](https://github.com/GNOME/epiphany) browser.

[2020-08-20 14:15] hossainemruz commented on #69
Hi @HabibRh26 . I am unable to re-produce this issue. I have deployed in Github with latest `master` of the theme  and its working fine.

Here is my website: https://hossainemruz.github.io/posts/
Here is the Github repo: https://github.com/hossainemruz/hossainemruz.github.io/

[2020-08-20 14:18] hossainemruz commented on #69
Well, it seems your `baseURL` is wrong.

It should be `https://HabibRh26.github.io` instead of `https://github.com/HabibRh26/HabibRh26.github.io`

Ref: https://github.com/HabibRh26/staticSite/blob/389437a8bdebf2511550e637e70cc21927fff26d/config.yaml#L1

[2020-08-20 15:05] hossainemruz commented on #72
@philshem this issue should be fixed by #73

[2020-08-20 15:06] #72 closed

[2020-08-20 16:01] HabibRh26 commented on #69
ops! Thanks a lot, vai @hossainemruz . It is okay now. Closing the issue

[2020-08-23 17:17] HabibRh26 opened #78 "Blog post handling issue"
I tried to add another folder named `Website` in my blog section but somehow I am not getting the mistake.
Problem is the file named ``Website Domain`` is not showing inside the ``Website`` directory, rather It is displaying outside, and
![main](https://user-images.githubusercontent.com/47397271/90984052-69baed00-e594-11ea-8d8b-e313dbb593a8.png)
when I click the ``Website`` directory nothing happe

[2020-08-24 05:41] sarru1291 opened #79 "Navbar collapse Misalignment"
Navbar collapse working all fine on all web emulated devices and on my other personal mobile as well.

But this is the scene on my Samsung J2 2016 model and Safari web browser.

![WhatsApp Image 2020-08-24 at 11 04 05 AM](https://user-images.githubusercontent.com/22962336/91007601-09f72d00-e5fa-11ea-9733-b559ec2bb46a.jpeg)

![untitled (1)](https://user-images.githubusercontent.com/22962336/9100851

[2020-08-24 05:53] hossainemruz commented on #79
We are already working on the issue in  this PR: https://github.com/hossainemruz/toha/pull/68

[2020-08-25 15:36] hossainemruz commented on #79
@sarru1291 This issue should be fixed by #68. Can you please confirm?

[2020-08-25 15:40] hossainemruz commented on #71
@Conrix I have explained the reason why the skill cards height is unequal sometime. It should not be noticeable in normal operation. Please close the issue if the initial issue no longer persist.

[2020-08-25 15:49] ghostcodekc commented on #78
Hi @HabibRh26 ,

Your folder structure is correct, however your _index.md and post.md are not. Please use the below code as reference.

Try the following code:
[/Website/_index.md](https://pastebin.com/VEYwB9t9)
[code]

[/Website/example-post-1.md](https://pastebin.com/Un2BDNKs)
[code]

[2020-08-25 20:00] HabibRh26 commented on #78
Thanks a lot. I am closing the issue. But before that one more problem, I'm trying to use the backtick but It is not working for some texts in the blog post. In the image no 1 is okay but other boxes are not rendering the proper output. </br>
markdown file </br>
![gitProb](https://user-images.githubusercontent.com/47397271/91221567-a24afa00-e73f-11ea-9026-5ba69bee877d.png)
</br>
the output below:

[2020-08-25 20:09] ghostcodekc commented on #78
@HabibRh26 ,

The backtick (also known as the grave accent or backquote) is used to start a code section in Markdown. I would suggest brushing up on markdown at the following links:
[markdown-it demo](https://markdown-it.github.io/)
[markdown quick reference](https://wordpress.com/support/markdown-quick-reference/)
[Mastering Markdown](https://guides.github.com/features/mastering-markdown/)

Thank

[2020-08-26 02:32] sarru1291 commented on #79
Yes, I can confirm it's working now. Thank you.

[2020-08-26 04:07] #79 closed

[2020-08-26 04:08] hossainemruz commented on #52
Fixed on #68

[2020-08-26 04:08] #52 closed

[2020-08-26 04:10] hossainemruz commented on #58
@oscarmrom are you still facing this issue? If not, please close this.

[2020-08-26 05:57] drem-darios opened #81 "Add Open Graph tags to header"
The Open Graph Protocol enables rich content when sharing a website (https://ogp.me/).  I recommend adding the ability to customize the open graph tags in the header.

[2020-08-26 05:59] drem-darios commented on #81
Here is what I suggest can be added to the header.html file. This allows users to customize the most important tags.
`
<meta property="og:site_name" content="{{ .Site.Params.openGraph.siteName | default .Site.Title}}"/>
<meta property="og:title" content="{{ .Site.Params.openGraph.title | default .Site.Title}}"/>
<meta property="og:description" content="{{ .Site.Params.openGraph.description | defau

[2020-08-26 15:50] #78 closed

[2020-09-04 12:31] darbymartinez opened #83 "How to add a page"
Hello, I want to add a page to toha. I tried to do it by creating a markdown file which I placed in the data folder but I kept getting this error.

 unmarshal of format "" is not supported

Is there a specific folder where I can put a markdown file to create a new page? Does toha support a different syntax?

[2020-09-04 12:42] hossainemruz commented on #83
What do you mean by page? Did you mean post?

[2020-09-04 13:07] dabymartinez commented on #83
No, I mean like creating a page that is not the homepage and its sections.

[2020-09-04 13:25] hossainemruz commented on #83
Well, then it's not that easy. You have to create a custom layout for your page. Eventually, I will write a post about how to add custom layout but I can't do it  now.

This branch has an example of custom layout.
https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/

Check the `layout` folder. It creates two layout. One for about page and another for contact me page. Once you

[2020-09-04 14:37] inhundreds commented on #42
Hello, I'm looking to tackle this issue. There is nothing already implemented, right? I could find only the search box but not the logic.

Thanks,
Diego

[2020-09-04 14:38] hossainemruz commented on #42
Yes. That's right. I haven't implemented the logic yet.

[2020-09-04 14:38] hossainemruz commented on #42
Renamed the issue to avoid confusion.

[2020-09-05 07:29] haxifang-aircos opened #84 "Header posts are 404"
Hello, I created a new article locally using the following command：
`hugo new about.md`

Then execute the following command
`hugo server -w`

On my page, the posts module is 404, and the recent posts did not show the article I just made.

May I ask where did the wrong operation happen?

My website path: https://gongguowei.com/

Attach pictures:
![image](https://user-images.githubusercontent.com/61

[2020-09-05 10:15] HabibRh26 commented on #84
make sure you follow the exact instruction, check the first comment --- </br>
https://toha.netlify.app/posts/writing-posts/category/creating-category/

[2020-09-06 06:46] haxifang-aircos commented on #84
Sorry, I did not find the method to create the article in the link above.

[2020-09-06 09:55] HabibRh26 commented on #84
create a folder named `content`, then inside this create another folder called `posts`, then inside this create a file named `_index.md`, then follow the above mentioned link for what should you write inside the markdown or how should you write

[2020-09-06 16:26] haxifang-aircos commented on #84
thank you very much!

[2020-09-06 16:26] #84 closed

[2020-09-07 20:47] inhundreds commented on #42
Can I give it a try? The sidebar is both in /posts page and in the single post page: at first I will implement the search functionality only on the former (if it is ok for you).

Pls let me know,
Diego

[2020-09-07 22:01] hossainemruz commented on #42
Sure. That will be great.

[2020-09-12 16:08] dabymartinez opened #85 "Change author from jane doe"
How do I change the author of a post from jane doe to my name?

[2020-09-12 16:27] HabibRh26 commented on #85
go to the folder called `layouts` then `partials` then `helpers` then open `get-author-name.html` and edit the name

[2020-09-12 16:40] dabymartinez commented on #85
Thank You!

[2020-09-12 16:40] #85 closed

[2020-09-12 16:40] HabibRh26 commented on #85
@dabymartinez my pleasure

[2020-09-12 17:12] dabymartinez opened #86 "How to remove improve this page and disqus from posts"
How do I remove the "improve this page" and "comments powered by disqus" from posts?
![Screen Shot 2020-09-12 at 1 10 10 PM](https://user-images.githubusercontent.com/70119578/93000970-9f028d00-f4f9-11ea-9525-feaecf682d38.png)

[2020-09-13 03:52] hossainemruz commented on #86
Just remove [disqusShortname](https://github.com/hossainemruz/toha/blob/6c2cca012758803802a81d06dccb60c2d2d48b66/exampleSite/config.yaml#L20) and [gitRepo](https://github.com/hossainemruz/toha/blob/6c2cca012758803802a81d06dccb60c2d2d48b66/exampleSite/config.yaml#L45) under `params` section from your `config.yaml`.

[2020-09-14 15:03] dabymartinez commented on #86
Thank you!

[2020-09-14 15:03] #86 closed

[2020-09-14 15:23] darbymartinez opened #87 "Gallery"
Is there a way to add a picture gallery to this theme?

[2020-09-14 16:13] hossainemruz commented on #87
Yes. You have to add a custom section.

[2020-09-17 06:15] abulka opened #89 "assets refs generated without proper baseURL"
When deploying to GitHub as a project site and thus setting `baseURL` to e.g.

[code]
hugo generates some refs ok but not css and js references.  For example `index.html` contains:

[code]

which results in the request to `https://abulka.github.io/assets/css/bootstrap.min.css` which is missing the `hugo_quickstart/` portion of the url.

Not sure if its a theme issue or Hugo issue, but e.g. https:/

[2020-10-06 20:05] serverfriendsorg commented on #83
I have the same issue, I want to add a page for the imprint but can't figure out how.
@hossainemruz in which branch can I find a custom layout as described in the last comment?

[2020-10-07 03:15] hossainemruz commented on #83
Didn't notice that I have provided wrong link for custom layout. Btw, here is the branch with custom layout: https://github.com/hossainemruz/toha-example-site/tree/custom-layout

[2020-10-10 13:03] hossainemruz commented on #58
Feel free to reopen if you still feel this issue.

[2020-10-10 13:03] #58 closed

[2020-10-11 18:20] serverfriendsorg opened #96 "Translation question"
First of all thank you for this great theme! I'm using it for my site currently and want to know
if there is a way to translate the "at" in the About me area?
For example "Job title **at** CompanyXYZ" and under Work experience the text "Responsibilities" and "Present" for the current position.

Thanks in advance.

[2020-10-12 02:59] hossainemruz commented on #96
No. Currently, it is hard coded [here](https://github.com/hossainemruz/toha/blob/1df947bed2dfc2a529eead5138820c2aefbc7509/layouts/partials/sections/about.html#L15). I don't think only providing a translation for `at` is sufficient. Sentence structure differs in different languages. In some languages, the Company part will go first. Perhaps, we can take the whole sentence as input from the user ins

[2020-10-17 11:29] sarru1291 opened #100 "Error after upgrading theme: Failed to render "home""
I started building the site in August and after months, today I thought to update but encountered error after I synced `toha` theme to the latest commit.

[code]
`~/Desktop/Github/sarru1291.github.io/themes/toha/layouts/index.html:45:18": execute of template failed: template: index.html:45:18: executing "index.html" at <partial (printf "sections/%s.html" (replace (lower .section.id) " " "-")) .>:

[2020-10-17 16:29] hossainemruz commented on #100
Now, you have to provide id for a section.
https://www.github.com/hossainemruz/toha/tree/master/exampleSite%2Fdata%2Fen%2Fsections%2Fexperiences.yaml

[2020-10-18 04:51] ranrinc opened #101 "Multilanguage Content how to?"
I manage to have this theme running with multilanguage. However making a posts a different story altogether, nothing works well at least the recent post appear on the English version. But posts link just doesn't works. I have tried multi variations without such luck. Maybe some help?

You can see my code at https://github.com/tirtadji-com/tirtadji-com.github.io

Need to get more information on the

[2020-10-18 08:44] sarru1291 commented on #100
Thanks, a lot of things have changed. I've configured everything now.

[2020-10-18 08:44] #100 closed

[2020-10-18 08:47] sarru1291 opened #102 "Navbar not collapsing after choosing nav-item"
![Screenshot from 2020-10-18 14-12-19](https://user-images.githubusercontent.com/22962336/96362653-76029700-114c-11eb-871c-7d84a8f2184d.png)

[2020-10-18 11:01] hossainemruz commented on #102
Can you please share your device info?

[2020-10-18 12:35] ranrinc commented on #101
Manage to fixed the posts and now both languages can start, however, the recent post only shows 1. Unsure why?

[2020-10-18 13:36] sarru1291 commented on #102
Well, I've Samsung J2 but it's also not working on the browser device toolbar as well.

[2020-10-19 00:47] alex-bezek opened #103 "404 Icon isn't configurable"
The main site's logo is configurable via the site params object, however, the 404 partial doesn't use the config properly and falls back to the default
![image](https://user-images.githubusercontent.com/8029578/96390523-12e02700-1183-11eb-9d44-c86fd9fb1b0b.png)
![image](https://user-images.githubusercontent.com/8029578/96390530-1d9abc00-1183-11eb-85f6-f9d41b82ab3b.png)

[2020-10-19 01:07] alex-bezek opened #105 "Contributing"
To start, thank you for the wonderful open source theme. I just ported my blog over to hugo and chose your theme because it was beautiful and easy to work with.

There are some defects I'd like to fix (I opened 1 pr so far here https://github.com/hossainemruz/toha/pull/104 ) and some enhancements around google lighthouse scores I'd like to make if you are open to them (I like for my sites too have

[2020-10-19 01:42] alex-bezek opened #106 "Single Post avatar override not working"
From what i can tell the avatar for individual posts is not being configured properly. I provided an asset url like such https://github.com/alex-bezek/blog/blob/master/data/en/author.yaml#L6 which worked for changing the main landing page's avatar, however individual posts avatars didn't update. I got around this by overriding the template and specifying my only locale https://github.com/alex-beze

[2020-10-19 02:27] alex-bezek commented on #44
while good image optimization is a staple of web performance, don't these new static site generators have the ability to help us avoid having to remember to optimize things? Coming from gatsby i'm used to each image being optimized without much user input. Is the problem that this theme uses the statics repo vs page bundles?

https://gohugo.io/content-management/image-processing/

I'm new to hugo

[2020-10-19 02:46] alex-bezek commented on #59
@hossainemruz FWIW this is what it does to my site
Before
![image](https://user-images.githubusercontent.com/8029578/96395551-e7fdcf00-1192-11eb-964b-ea8f524cd079.png)
![image](https://user-images.githubusercontent.com/8029578/96395007-75d8ba80-1191-11eb-9d2a-42c363e81030.png)

After
![image](https://user-images.githubusercontent.com/8029578/96395724-622e5380-1193-11eb-8967-6911d61757b2.png)
![ima

[2020-10-19 02:55] alex-bezek commented on #81
@drem-darios hugo offers the ability to customize opengraph settings via an internal template https://gohugo.io/templates/internal/#open-graph
Does that enable what you are looking for or are there more customizations needed?

[2020-10-19 04:01] alex-bezek commented on #102
I can recreate this on desktop as well. FWIW dropping
[code]
here https://github.com/hossainemruz/toha/blob/master/static/assets/js/navbar.js#L31 seems to resolve the issue.
@hossainemruz  I haven't used the bootstrap menu too much, I took the answer from https://stackoverflow.com/questions/14203279/bootstrap-close-responsive-menu-on-click
There might be a cleaner solution given this is such a com

[2020-10-19 15:06] sarru1291 commented on #103
404 params use `navigator/navbar-2.html` partial. So, I think you can change the location of logo variable at the first two line in navabar-2 partial.

{{ $mainLogo:="assets/images/logo.svg" }}
{{ $invertedLogo:="assets/images/logo.svg" }}

[2020-10-19 15:25] alex-bezek commented on #103
Thanks @sarru1291 , while that would work i'd have to override the whole partial correct (still pretty new to hugo but that seems to be how that would work)? I'd prefer to override as little of the internals of the theme as possible to make upgrading easier. I opened a PR here with what i think is a fix https://github.com/hossainemruz/toha/pull/104/files

[2020-10-19 15:32] sarru1291 opened #108 "Site meta description not showing"
![Screenshot from 2020-10-19 20-08-51](https://user-images.githubusercontent.com/22962336/96471696-3c658500-124d-11eb-912a-10e935883096.png)
As you can see, the content of meta-description is not showing, even though the description is given. In the index.html file, it's using `{{ .Site.Params.description }}`.

So, if we move the description param from `site.yaml` (currently placed here) to the `c

[2020-10-19 15:42] sarru1291 commented on #103
That seems good. I removed the hard code and waiting for your fix to be merged.

[2020-10-19 18:46] serverfriendsorg commented on #108
I can confirm it, but even if I place it in config.yaml it seems to have no effect. I using the theme with i18n support.

[2020-10-20 02:20] sarru1291 commented on #108
Have you put the params in config.yaml like this? It worked for me.
<img width="494" alt="Screenshot 2020-10-20 at 7 49 21 AM" src="https://user-images.githubusercontent.com/22962336/96532134-de668b00-12a8-11eb-970e-11d118a92597.png">

[2020-10-20 04:40] hossainemruz commented on #103
Fixed in #104

[2020-10-20 04:40] #103 closed

[2020-10-20 04:44] hossainemruz commented on #108
I can confirm this is a bug introduced after adding multi-language support. Will fix asap.

[2020-10-20 05:02] hossainemruz commented on #105
Sure. That would be great.

Yes. I feel the need for a development guideline too. Unfortunately, I am not getting some free time to add one. Even the documentations are outdated. It would be great if you can send a PR.

Done

[2020-10-20 21:00] alex-bezek commented on #105
@hossainemruz I opened a PR here https://github.com/hossainemruz/toha/pull/110 with a stab at some documentation. Let me know what you think and if there are more details I should add. Thanks!

[2020-10-21 00:30] alex-bezek opened #111 "Accessibility and SEO"
I would like to increase the google lighthouse scores of Accessibility and SEO
Example scores from my home page:
![image](https://user-images.githubusercontent.com/8029578/96658148-d42ca700-1311-11eb-8dba-8a7459c25a5a.png)
![image](https://user-images.githubusercontent.com/8029578/96658166-db53b500-1311-11eb-8cf5-7a0a34e8ab2d.png)

I took an initial stab at updating the home page and was able to g

[2020-10-21 01:07] alex-bezek commented on #89
hmm i think RelPermalink is used for permalinking to posts.
I think instead we would update these links https://github.com/hossainemruz/toha/blob/master/layouts/partials/header.html#L6 https://gohugo.io/functions/relurl/

It seems thats what ananke is doing
https://github.com/theNewDynamic/gohugo-theme-ananke/blob/f5cdf1f3a6ce58040dba752b684988e7251c2e37/layouts/_default/baseof.html#L20-L24
https:

[2020-10-21 01:36] alex-bezek commented on #102
This actually looks like a better solution
https://stackoverflow.com/questions/42401606/how-to-hide-collapsible-bootstrap-4-navbar-on-click
https://getbootstrap.com/docs/4.0/components/collapse/

I tested and adding data attributes to
https://github.com/hossainemruz/toha/blob/master/layouts/partials/navigators/navbar.html#L44
https://github.com/hossainemruz/toha/blob/master/layouts/partials/naviga

[2020-10-21 02:56] alex-bezek commented on #102
Opened a PR here https://github.com/hossainemruz/toha/pull/112

[2020-10-21 04:16] alex-bezek commented on #70
I can produce this issue using my iphone and mac paired together. The issue seems to be this https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios

Before
![image](https://user-images.githubusercontent.com/8029578/96672400-33021880-1332-11eb-98a6-461f0cf1c4db.png | width=200)

After changing background-attachment to scroll
![image](https://user-images.githubusercont

[2020-10-21 04:30] alex-bezek opened #113 "About Section Author name missing"
In the about section card, there is a H3 element that should have the authors name but its empty
https://github.com/hossainemruz/toha/blob/master/layouts/partials/sections/about.html#L10
![image](https://user-images.githubusercontent.com/8029578/96673257-1a92fd80-1334-11eb-9079-58f28addbc60.png)

vs I'm assuming this is an older deployed version (perhaps prior to the localization efforts?)
![image

[2020-10-21 04:36] hossainemruz commented on #113
Replace
[code]
With
- add this at the top of the file
[code]
- then update
[code]

[2020-10-21 04:49] alex-bezek commented on #113
Thanks!

I had to change it to
[code]
I think this the about is a section the `.` is the current context of that section, so `site` accesses the global site configs. I'm not quite sure best practices here around this context scoping and trying to use a partial to be dry vs just duplicating the logic to make things explicit and simple, so i'll defer to our judgement.

I can open a PR with the above

[2020-10-21 04:51] hossainemruz commented on #113
Sure. Go on.

[2020-10-21 04:58] alex-bezek commented on #113
PR opened here https://github.com/hossainemruz/toha/pull/114/files

[2020-10-21 05:46] alex-bezek commented on #113
Now that the pr merged, my dependabot pulled in the changes and the diffs look good

https://github.com/alex-bezek/blog/pull/49
![image](https://user-images.githubusercontent.com/8029578/96677930-9bef8d80-133e-11eb-8d24-e48edbb7db80.png)
![image](https://user-images.githubusercontent.com/8029578/96678152-1b7d5c80-133f-11eb-8e5b-927e912b3ed5.png)

Closing this issue

[2020-10-21 05:46] #113 closed

[2020-10-21 06:15] alex-bezek commented on #70
pr opened here https://github.com/hossainemruz/toha/pull/115/files

[2020-10-21 06:20] #70 closed

[2020-10-22 15:52] ranrinc opened #119 "Add Indonesian language"
I hope to make some small contributions to this wonderful themes. I already do a pull request and hoping to get approve.

#118

[2020-10-22 16:09] hossainemruz commented on #102
Fixed in #112

[2020-10-22 16:09] #102 closed

[2020-10-22 16:31] #105 closed

[2020-10-22 18:34] hossainemruz commented on #119
Added in #118

[2020-10-22 18:34] #119 closed

[2020-10-24 03:16] alex-bezek commented on #28
Hey @Andryas , it looks like you got the bulk of it working, just the statics are missing. Did you include the corresponding images in the statics folder https://github.com/hossainemruz/toha-example-site/tree/master/static/images/posts ?

[2020-10-24 03:25] alex-bezek commented on #62
Hey @HabibRh26 ,

I don't think I quite follow what you are trying to accomplish. Could you possibly provide screenshots or links/examples of the code you want to change?

If you are trying to heavily change how the theme works, this may be the right answer. You can copy it and override it by doing this https://bwaycer.github.io/hugo_tutorial.hugo/themes/customizing/ .

If you are just trying to a

[2020-10-24 03:26] alex-bezek commented on #71
@hossainemruz I've tested as well in firefox
![image](https://user-images.githubusercontent.com/8029578/97067002-2de9d700-1587-11eb-89a4-4ee26872182b.png)

and things seem fine. I think you can close this unless @Conrix has any more concerns

[2020-10-24 03:30] alex-bezek commented on #87
@hossainemruz I've been going through your backlog because I'm thoroughly enjoying your theme and would like to help out more. Would you like to turn this issue into "Document how to make a custom section" for the toha-example-site repo and have me take a stab at it?

[2020-10-24 03:31] alex-bezek commented on #89
@abulka this should be resolved in the recent PR https://github.com/hossainemruz/toha/pull/120
Can you consume that change and test please?  Thanks!

[2020-10-24 03:47] alex-bezek commented on #101
Hey @ranrinc, I've downloaded and ran your project
![image](https://user-images.githubusercontent.com/8029578/97067249-8326e800-1589-11eb-9e36-340470c03ae3.png)
I do see a single post as well. However, looking at your config that's what I would expect

![image](https://user-images.githubusercontent.com/8029578/97067275-c3866600-1589-11eb-85d6-b886bab0576c.png)

My understanding is that with hugo i

[2020-10-24 03:51] #71 closed

[2020-10-24 03:53] hossainemruz commented on #87
Sure @alex-bezek . That would be great.

[2020-10-24 08:52] ranrinc commented on #101
Hi @alex-bezek thanks for the help.. I actually manage to have both language up and running hahahaha... just need to read hugo document a little bit longer in order to have it working

[2020-10-24 12:14] alex-bezek commented on #101
awesome! glad it worked out for you @ranrinc

[2020-10-24 12:33] alex-bezek commented on #108
@hossainemruz have you started on this or would you like me to take a stab at it?

[2020-10-24 12:41] hossainemruz commented on #108
I haven't looked it yet. A PR will be appreciated.

[2020-10-24 13:58] alex-bezek commented on #83
@hossainemruz since I'm documenting how to add a custom section now as part of https://github.com/hossainemruz/toha/issues/87 I can probably tackle this as well. I am a little confused though, is the request to add a custom section on the main page (like issue 87) or to add a completely standalone page with its own route and everything? Would it need to show up in the navigation?

[2020-10-24 14:58] alex-bezek commented on #108
Sounds good, I've opened a PR here @hossainemruz  https://github.com/hossainemruz/toha/pull/121

[2020-10-24 17:01] sarru1291 opened #122 "Error building site: Failed to get JSON resource"
While setting up Toha for local development, I encountered this error and failed to build a site.
The local development guide also seems a little confusing, which I'll myself update later.

<img width="565" alt="Screenshot 2020-10-24 at 10 18 21 PM" src="https://user-images.githubusercontent.com/22962336/97087500-4cfc6d80-1648-11eb-8b07-d1fe39bbcf1c.png">

[2020-10-24 17:44] hossainemruz commented on #108
Should be fixed now. @sarru1291 Try pulling the master. Feel free to reopen if the issue persist.

[2020-10-24 17:44] #108 closed

[2020-10-24 17:47] hossainemruz commented on #122
What is your hugo version?

[2020-10-24 17:48] #101 closed

[2020-10-24 17:50] hossainemruz commented on #89
This should be fixed now. @abulka try pulling the master. Feel free to reopen if the issue persist.

[2020-10-24 17:50] #89 closed

[2020-10-24 17:54] hossainemruz commented on #83
@alex-bezek I think we should document both adding a new section and a new page. User can use `customMenus` option if they want to show it in navigation.

[2020-10-24 18:09] alex-bezek commented on #122
FWIW I get this too, I'm on 0.72.0. In my PR to the example site, i actually removed it temporarily
https://github.com/hossainemruz/toha-example-site/pull/13#discussion_r511461774

It seems instagram is deprecating their api, so I'm not sure the long term plan.

[2020-10-24 20:46] alex-bezek commented on #81
So this is what it would do to the posts pages
![image](https://user-images.githubusercontent.com/8029578/97092457-0ee45700-1612-11eb-9bac-22ca16fba899.png)

However, one problem with the open-graph internal template is that it won't take into account internationalization for the main home page for the description like we do here https://github.com/hossainemruz/toha/blob/master/layouts/index.html#

[2020-10-25 02:32] sarru1291 commented on #122
Earlier I'd 0.71. But now as I've upgraded to the latest 0.76.5, I'm still getting the same error.

[2020-10-25 15:11] ahmadimt opened #124 "How to add details in recent post sections"
### Question

In the exampleSite , I am unable to see any example to add recent posts. Can you please show some examples to add that?

[2020-10-25 16:08] ranrinc commented on #124
@ahmadimt Please check hossainemruz template https://github.com/hossainemruz/toha-example-site

[2020-10-26 11:38] ahmadimt commented on #124
Thanks for the reply @ranrinc . I checked the link provided but could not find any example there. It would be great if you please could share an example  here.

[2020-10-26 13:25] ranrinc commented on #124
@ahmadimt when you say example do you mean the website made using toha? something like this? https://toha.netlify.app/

[2020-10-27 02:57] alex-bezek commented on #106
Since the PR has been merged, I removed my override of the get-author-image partial and verified it works via the theme now. Closing this issue as done

[2020-10-27 02:57] #106 closed

[2020-10-27 05:26] ahmadimt commented on #124
I am able to get recent posts working

[2020-10-27 05:26] #124 closed

[2020-10-28 19:30] hossainemruz opened #126 "Unordered list is not rendering properly"
## Expected Behavior
Unordered list should have bullet before it.

## Current Behavior

There is not bullet before unordered list.

## Possible Solution
Fix the following CSS. It should only select the `ul` elements of sidebar.
[code]

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## De

[2020-10-29 05:24] fiveflowers opened #127 "Question: the release time of Publications Section?"
### Question

First of all, I **REALLY LIKE**  this theme. We tried this theme on the homepage of our laboratory and it has been well received by everyone.

Considering the content display, we need a module to list our papers. Our current approach is to modify the Project Section, but the performance is not good. I just saw that there is a development plan for the **Publications Section** in the r

[2020-10-29 05:41] hossainemruz commented on #127
I am not sure when I can work on it. Actually, not many user requested for this feature. So, it didn't have high priority for me.

Btw, which information do you think important for a paper section?

[2020-10-29 06:43] fiveflowers commented on #127
Thanks Reply.

Personally, it is sufficient that the following key information can be presented:
- title
- authors
- name of journal or conference
- link
- year (filter)
- github star (optional, some paper may release codes as support material, especially in the field of ai)

In fact, **Project Section** is nearly functional enough, but the style needs some tweaking. For a list of papers, a long b

[2020-10-29 07:20] hossainemruz commented on #127
I was thinking something like this but with project like filtering: https://themes.gohugo.io//theme/academic/#featured

[2020-10-30 17:59] hossainemruz opened #132 "Scroll-spy not working on top navbar"
## Expected Behavior

![image](https://user-images.githubusercontent.com/12577390/97740720-e5449780-1b0b-11eb-821e-f277372893cb.png)

## Current Behavior

![image](https://user-images.githubusercontent.com/12577390/97740631-c2b27e80-1b0b-11eb-9c7f-c96f67f955e4.png)

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Ed

[2020-10-31 01:33] alex-bezek opened #137 "Achievements Mobile Popup issue"
## Expected Behavior
The achievements Section when clicked expands to show its full content and can then be closed after.

## Current Behavior
On mobile devices it does this, then disappears and none of the sections are accessible

## Possible Solution
I haven't looked into it yet, I'll update this when i get a chance

## Steps to Reproduce

1. Click on a specific achievement item using mobile on

[2020-10-31 01:47] alex-bezek commented on #122
@sarru1291  with the latest push here https://github.com/hossainemruz/toha-example-site/commit/a86fa0c8280ecf6f54cd39b707ec7804ba3b8cd3#diff-f1d4f8b8885304eb0466e24713c05fb216518485caeea85d4f22c214b740fdb4 the build should be fixed if you want to verify

Do you still plan on making an update or would you be able to explain what is confusing? I'd be happy to update it with your feedback if you don'

[2020-10-31 02:23] alex-bezek commented on #132
@hossainemruz I reverted my commit here https://github.com/hossainemruz/toha/commit/c85bcf8488754677329a4b2b556eb51e11959af0#diff-557ff321de56eb6c5c6f40beb6c6cb3105adacc4deaa15db2448a168d12d82a7 and it fixed this issue (but reintroduces the previous issue). I'll look into this more

[2020-10-31 02:34] sarru1291 commented on #122
Thanks, it's working now.

[2020-10-31 03:50] alex-bezek commented on #132
@hossainemruz opened a PR here https://github.com/hossainemruz/toha/pull/138/files

[2020-10-31 10:04] hossainemruz opened #139 "Add documentation only mode"
The current post section is good enough to act a standalone documentation site. We can add a site variable named `mode` which will accept `portfolio` (default) or `documentation`. For `mode: documentation`, we will not generate current portfolio style home page. Instead, the `posts` page will work as home page.

[2020-10-31 13:50] alex-bezek commented on #83
PR opened here https://github.com/hugo-toha/guides/pull/13

[2020-10-31 14:45] hossainemruz opened #140 "Author name is not showing in the post"
## Expected Behavior

![image](https://user-images.githubusercontent.com/12577390/97782126-f8ae3c00-1bb9-11eb-830f-709203fbe683.png)

## Current Behavior

![image](https://user-images.githubusercontent.com/12577390/97782111-dddbc780-1bb9-11eb-9556-f19edc48b9b4.png)

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Ed

[2020-10-31 15:35] #132 closed

[2020-10-31 15:36] hossainemruz commented on #140
Fixed in #141

[2020-10-31 15:36] #140 closed

[2020-11-01 07:55] ipankajsingh opened #144 "Header menu gets completely highlighted after scrolling"
## Expected Behavior
When we scroll, the menu shouldn't get highlighted on it's own unless we select a particular section from the menu or only the section selected from the menu should be highlighted.

## Current Behavior
1. Scrolling  a little highlights the entire menu.
2. Selecting any section scrolls the blog to that section but again highlights the entire menu instead of a particular section

[2020-11-01 09:37] hossainemruz commented on #144
@ipankajsingh This has been fixed in #138. Try pulling the latest master.

[2020-11-02 08:32] iampankajsingh opened #150 "Scroll to Top icon"
### Describe the solution you'd like

An icon for "Scroll to Top" would look good from UI perspective.

We have the Home link present in the header menu but an icon in the right bottom will be much better.

[2020-11-03 17:17] ipankajsingh opened #153 "Company name should be on top"
### Describe the solution you'd like

When we worked at multiple designations at a single organization, then the company name comes on top and designations are nested inside, but if a single designation is chosen then  Designation is on top and company name is below it.

### Describe alternatives you've considered

I think we should keep the UI consistent with company name on top even if only 1 de

[2020-11-03 17:41] iPankajKumar opened #154 "Selecting sections from header menu but lands at different positions."
## Expected Behavior
The position should be fixed for the start of every section, whenever we select any section from header menu.

## Current Behavior
When we select Experience section, it goes to a position and then shifts up, some times it doesn't (which is correct.)

## Steps to Reproduce

1. Select Experience section and notice the scroll, it goes to the correct position and shifts up.
2. Try

[2020-11-08 01:43] cmarquezrusso opened #159 "Translation Question: Flags"
### Question: How to change the country flag?

I am running my site on Spanish and English, but I will like to use the Argentinian and New Zealand flags instead of the default ones (Spain and the UK)

How can I implement this change?

[2020-11-09 21:32] serverfriendsorg opened #162 "theme update failed"
## Expected Behavior
I expect that hugo starts the webserver and loads the page.

## Current Behavior

Error: Error building site: failed to render pages: render of "home" failed: "/home/serverfriendsorg/projects/mygit.com/serverfriendsorg/themes/toha/layouts/index.html:53:18": execute of template failed: template: index.html:53:18: executing "index.html" at <partial (printf "sections/%s.html" (re

[2020-11-10 03:47] hossainemruz commented on #162
Now, you have to provide `id` for your sections. Please follow the following format: https://github.com/hugo-toha/hugo-toha.github.io/blob/4fccce7b5756c333f619eebc1c16b2ed61e6e3c3/data/en/sections/projects.yaml#L4

[2020-11-10 06:25] serverfriendsorg commented on #162
Thanks it's working now.

[2020-11-10 06:25] #162 closed

[2020-11-10 23:30] noritakaIzumi opened #163 "Smooth scroll doesn't work if target link id contains multibyte chars."
## Operation
- Open https://hugo-toha.github.io/bn/posts/shortcodes/ in browser (I opened in chrome).
- For example, click `এলরট` (the top of right sidebar).

## Expected Behavior
Smoothly scroll to the section `এলরট`.

## Current Behavior
Causes a syntax error.
[code]

## Possible Solution
- Modify line 40 in `static/assets/js/main.js`:
[code]

## Detailed Description
The error will not occur if

[2020-11-13 18:07] hossainemruz commented on #163
Fixed in #164

[2020-11-13 18:07] #163 closed

[2020-11-13 18:23] hossainemruz commented on #159
Maybe we can add a  `flagOverwrites` field in the params section of `config.yaml`.

Something like this:
[code]

[2020-11-13 18:26] hossainemruz commented on #154
I can confirm the behavior. I will try to fix ASAP.

[2020-11-13 18:37] hossainemruz commented on #144
Feel free to reopen if you still face the issue after updating the theme to latest version.

[2020-11-13 18:37] #144 closed

[2020-11-13 18:47] hossainemruz commented on #137
I can confirm this weird behavior. Not sure why it is happening.

[2020-11-13 18:49] #122 closed

[2020-11-13 20:31] #44 closed

[2020-11-13 22:39] hossainemruz commented on #127
@fiveflowers Here, is an rough estimation what I am planning to do for Publication Section. Let me know what else you want to add or remove.

![Publication 1](https://user-images.githubusercontent.com/12577390/99127690-1f955500-2633-11eb-9973-3c321da93b59.png)

After clicking a paper card, a new dedicated page will open for this paper.
![Publication 2](https://user-images.githubusercontent.com/125

[2020-11-13 22:41] hossainemruz commented on #127
Some sections will be optional i.e. Awards, Gallery, Resource Links, Related Papers etc.

[2020-11-14 05:47] fiveflowers commented on #127
Wow! This is great!
These new features have exceeded my expectations and I'm even more excited for the release of this section.

From my own perspective, there is one detail that could be modified:
- For paper card, it would be nice to show the author's name directly.
  - layout: it's best to have the author's name as a separate line, just below the title.
  - link: author's name should ideally be

[2020-11-15 09:59] hossainemruz commented on #127
@fiveflowers This is how it going to look like with author information in the cards.
![Publication 1 (1)](https://user-images.githubusercontent.com/12577390/99181861-7bf39400-275b-11eb-90b5-4e231ee138ab.png)

[2020-11-15 12:43] fiveflowers commented on #127
I think it's good, and look forward to the release

[2020-11-16 17:30] ipankajsingh commented on #127
Can we have an option to open a 3rd party link once we click on the card ? Many people have published a paper in one of the international journals including me, and I would like to directly point them to that site, instead of writing a dedicated post about it and taking my users there.

[2020-11-16 17:33] hossainemruz commented on #127
Sure @ipankajsingh. It's a good point.

[2020-11-22 04:12] PabloBiotech2020 commented on #35
If I understand it corresctly, HUGO already auto generates RSS feeds for evert website, so couldnt this be done in a super cool, easy and standards compliant way if you simply redirected users to a site such as blogtrotter that notifies users on every new RSS item? I know, it wouldnt be the same as a full fledged newsletter but it would suffice to keep people informed of your blog changes, and, fr

[2020-11-22 04:17] MarionMoseby commented on #35
If I understand it corresctly, HUGO already auto generates RSS feeds for every website, so couldnt this be done in a super cool, easy and standards compliant way if you simply redirected users to a site such as blogtrotter that notifies users on every new RSS item? I know, it wouldnt be the same as a full fledged newsletter but it would suffice to keep people informed of your blog changes, and, fr

[2020-11-24 03:00] dyingway opened #167 "i wanna have a Split page as [POSTS] [docs] [blog],with the single sidebar(not list every content)"
### Describe the solution you'd like
Split page as [POSTS],[docs] folder,and decide to show the _index.md or the list.

### Describe alternatives you've considered

###
i search the **themes\toha\layouts\_default\list.html**,and **themes\toha\layouts\partials\navigators\sidebar.html**,
but i can't understand what make it's work as every content to show up at the sidebar， i wanna Split the content

[2020-11-24 03:20] hossainemruz commented on #167
If I understand correctly, you want sidebar structure like this?
[code]
Is it right?

[2020-11-24 03:28] dyingway commented on #167
i still learn english.thank you.
i just wanna two page,for one link as: https://github.com/hugo-toha/**post**, sidebar just show the [POSTS] folder content :
- Posts
     |_ Post 1
     | _ Post 2
and the other link as: https://github.com/hugo-toha/**docs**,show the [docs] folder content:
- Docs
    | _ doc 1
    | _ doc 2

[2020-11-24 04:25] hossainemruz commented on #167
Ok. Got it now. Currently, you can't do that. We have to add support for this use-case.

[2020-11-24 07:38] dyingway commented on #167
**thank  you。**I'll try it myself first to see if I can solve it。HOPE you can add this soon,by the way,the toc is great.

[2020-11-24 08:18] hossainemruz commented on #167
You can keep this issue open so that we don't forget about it.

[2020-11-26 06:27] patmagauran opened #171 "Use Hugo's Image Processing"
The theme should use [Hugo's built in image processing](https://gohugo.io/content-management/image-processing/) throughout the project, both in the posts as well as the main page layout. I think this can be done through a global resource and the appropriate functions.

[2020-11-26 15:59] RotatingFans commented on #171
I did a test with the Avatar image on the home page and was able to get it to work, so it shouldn't be too hard to do. I will try to get a pull request together soon. However, it will require moving the images from the static folder to the assets folder. So we will need to update the docs as well.

[2020-11-26 16:45] hossainemruz commented on #171
Probably this was the reason why I didn't use Hugo's native image processing. Is there any other possible issues that may cause by moving the images outside of the static folder? Obviously, it's going to be a breaking change.

[2020-11-26 19:05] RotatingFans commented on #171
I am not deeply familiar with Hugo, but overall the change seems pretty painless. No changes are needed to the configuration, just copy the images folder from /static to /assets. Obviously this is a breaking change, so it would be important to determine a way to override this. Perhaps a configure option: useImageProcessing, that will allow for the images to be pulled from the asset folder, which w

[2020-11-28 10:51] driukova opened #174 "Font doesn't support Cyrillic"
I really like your theme, it's just the best. However, I've faced difficulties in localizing site to Russian as the font used in the theme doesn't support Cyrillic.
I'll create a pull request with ru.toml on this weekend so that can be tested and hopefully fixed. Thanks in advance!

[2020-11-28 11:13] driukova commented on #174
Added a PR with ru.toml #175

[2020-12-03 00:41] JOSHUAJEBARAJ opened #179 "Skill Summary Breaking for line more than 2"
## Expected Behavior
Skill Summary should be aligned and displayed without no white spaces

## Current Behavior
Skill Summary Displaying with the white spaces

## Possible Solution

## Steps to Reproduce

1.Create the simple hugo website using **tugo** theme
2.Copy and paste the skills summary with more than two line

[code]

### Screenshots
<img width="1412" alt="Screenshot 2020-12-03 at 6 03 02

[2020-12-05 10:23] dyingway opened #183 "bug in footer.html"
## Expected Behavior

themes\toha\layouts\partials\footer.html
Navigation can't show the right url

such as (https://toha-guides.netlify.app/posts/#about)

## Current Behavior

## Possible Solution

line 33:
`<a class="smooth-scroll" href="{{ "#" | absURL }}#{{ $sectionID }}">{{ .section.name }}</a>`
## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ 1] Chrome
- [ ] Fi

[2020-12-06 16:53] yeganathan commented on #59
Hey @hossainemruz can you please tell me for darkmode in which CSS file should be the following code added,

[code]

[2020-12-07 05:47] hossainemruz commented on #183
Thank you @dyingway for reporting.

[2020-12-07 05:48] hossainemruz commented on #59
I am not sure yet @yeganathan. Probably, @alex-bezek can help.

[2020-12-07 07:03] yeganathan commented on #59
Thanks for the reply! @hossainemruz
Let me check with @alex-bezek

[2020-12-07 19:57] MarionMoseby opened #184 ""Improve this page" defaults to master branch"
## Expected Behavior
When I click "Improve this page", it should load the main branch, as currently master is being phased out due to racist implications

## Current Behavior
It loads the repo's main branch

## Possible Solution
Make it configurable. Also, I would love to see an "Improve this website" button on the main page, not just the blog, to highlight it is OSS

## Steps to Reproduce
Click o

[2020-12-08 01:54] jeffkeller87 commented on #183
Undoing #95 fixed this for me.

[2020-12-08 04:08] hossainemruz commented on #184
Thank you @MarionMoseby for reporting. I will try to fix it ASAP.

[2020-12-12 04:03] Chow-Ray opened #189 "Why not usde TOML?？ Same as HUGO"
Why not usde TOML?？ Same as HUGO

[2020-12-12 16:31] MAlexGR opened #190 "More sections"
### Question

First of all, congratulations for your theme (good job!) and thank you for sharing it.

I did follow the guide and created the site but I have some questions. I created the posts section with a new post (always according to provided guides). Everything's ok but the "Post" section does not appear in the (top) menu. How do I make it appear (without it there is no navigation possibility

[2020-12-14 03:23] hossainemruz commented on #189
Because I can only do YAML. :P

[2020-12-16 12:01] rever96 opened #192 "How to insert a link to new tab?"
I'm trying to insert a link to my post that open url in a new tab

- `[This]("https://www.google.com")`
- `<a src="https://www.google.com" target="_blank"> This </a>`
- `{{<a src="https://www.google.com" target="_blank"> This </a>}}`

Nothing of these works good.
What's the soloution?

[2020-12-16 12:21] hossainemruz commented on #192
This should work
[code]

[2020-12-16 13:06] #192 closed

[2020-12-17 07:23] #190 closed

[2020-12-21 08:26] hossainemruz opened #195 "Missing Responsibility header in experiences section"
## Expected Behavior

## Current Behavior
https://github.com/hugo-toha/toha/blob/1341d9216d9c2ea91f32143352a3d9deccd68fec/layouts/partials/sections/experiences/multiple-positions.html#L21
## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2020-12-22 22:31] alex-bezek commented on #59
@yeganathan18 if you add a css file to this location, it will get picked up and included in the build
https://github.com/alex-bezek/blog/blob/master/static/assets/css/style.css

[2020-12-23 06:25] yeganathan18 commented on #59
@alex-bezek Thanks for the help :)

[2020-12-27 17:32] tanho63 opened #200 "[Feature Request] Twitter/OpenGraph Support"
### Describe the solution you'd like

I notice that the current configuration/template does not include a setup for [Twitter or OpenGraph metadata/cards](https://gohugo.io/templates/internal/#configure-open-graph) and think these should be included!

[2020-12-27 17:34] tanho63 commented on #200
Closing as I've realized is a duplicate of #81

[2020-12-27 17:34] #200 closed

[2020-12-27 17:36] tanho63 commented on #81
Echoing this request (also for Twitter cards)!

[2021-01-01 05:22] darkwizard242 opened #205 "Template issue post theme update"
## Expected Behavior
Successful hugo build.

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce

1. `git submodule update --remote`
2. `hugo -D --minify `

## Detailed Description

Hugo version: **0.80.0**

I was previously on commit hash: `203380f121944c26a8c66f994c459287e16cb6e9` for toha theme as a submodule for site project.

After updating today, I seem to be getting the

[2021-01-01 05:41] hossainemruz commented on #205
Put your logos in `/assets/images` folder of your repository.

[2021-01-01 19:19] darkwizard242 commented on #205
Thank  you @hossainemruz , that did the trick 👍🏻  I did get another error for partials/helpers/get-author-image.html, partials/sections/home.html - but figured that was due to not having moved author image as well.

Is it safe to consider that the images for skills/projects/achievements etc.. can remain in `static/images/sections/{projects,achievements,skills}` as I did not see any [documentation]

[2021-01-01 21:31] darkwizard242 commented on #205
Actually I guess they also needed moving since I tested out by moving them to `assets/images/sections/{projects,achievements,skills}` , which worked out except for **skills** for some reason.

[2021-01-01 21:52] b-reich opened #206 "bug - Error: Error building site: failed to render pages: render of "home" failed"
## Expected Behavior

Website should render

## Current Behavior

Website failed to render

## Possible Solution

## Steps to Reproduce

1. `hugo new site ./ -f=yaml --force`
2. `git init`
3. `git submodule add https://github.com/hugo-toha/toha.git themes/toha`
4. `hugo server -t toha -w`

## Detailed Description

[code]

[2021-01-01 22:10] nathanhiemstra commented on #206
I'm getting this as well.

[2021-01-01 22:20] mcusuperuser commented on #206
I have the same problem. This is quite a hurdle to get it running.

[2021-01-01 22:51] darkwizard242 commented on #206
Think this has to do with logos and/or author images.. instead of _<my-project>/static/images_ , can you try moving them to _<my-project>/assets/images_ ?

Essentially moving site images to: `<my-project>/assets/images/site/` ... However, the reference may remain the same as an example:

[code]

This applies to the author images too, along with others such as sections.

[2021-01-02 01:38] nathanhiemstra commented on #206
@darkwizard242 that worked, thank you!!

Is `<my-project>/assets/images/site/` the proper place for global images? Or is there a path setting that's incorrect?

[2021-01-02 02:00] darkwizard242 commented on #206
@nathanhiemstra - Glad that worked out for you.

Ah apologies, if what I said led to confusion. <my-project>/assets/images/site/ by itself, I don't  believe is the global dir for images; but <my-project>/assets/images/ is likely for all images except those for posts.

Examples:
<my-project>/assets/images/site --> for site logos
<my-project>/assets/images/author --> for author profile picture
<my-p

[2021-01-02 02:22] hossainemruz commented on #205
All images should now go to `/assets/images` folder.  I didn't update the docs yet.

[2021-01-02 02:28] hossainemruz commented on #206
Yes. Now all images should go into `/assets/images` instead of `/static/assets/images` or `/static/images`. This is due to this PR: https://github.com/hugo-toha/toha/pull/173

Hugo image processing does not work for the images under `/static` folder.

[2021-01-02 17:19] MAXIAO01 commented on #206
Sorry but I am still confused about this problem. How can it be fixed now? I mean which part/file should I modify and how? Could you maybe give a direct clue? Thank you so much!!!!! (I am very new to this)

[2021-01-02 17:25] nathanhiemstra commented on #206
To solve it I created a `assets/images/site` folders in the root directory and moved the images there.
![image](https://user-images.githubusercontent.com/1066025/103462747-046acb80-4ced-11eb-9c20-5f08a2829abd.png)

[2021-01-02 17:38] MAXIAO01 commented on #206
It works! Thanks a lot!!!

[2021-01-03 00:55] kcisneros commented on #206
I'm having the same error. I moved over the assets under "themes, toha, assets, images" to a top level dir "assets/images/site". Please advise

[code]

[2021-01-03 04:01] darkwizard242 commented on #206
@kcisneros could you share the complete error? It should have something further after `error calling partial:` which will log certain line/column numbers that can help debugging the issue you are facing. Though it seems to be relatively the same issue.

Additionally, If you copied the site logos from `themes/toha/assets/images` to your site/project's `assets/images/site` directory - did you also u

[2021-01-03 04:02] darkwizard242 commented on #205
No worries, it's understandable as I am sure you have a day job too 😄 thanks anyways 👍🏻

[2021-01-03 14:27] kcisneros commented on #206
hi @darkwizard242 Here's my complete error so far.

[code]

The config.yaml (initially .toml) did not have content, so I added in the logos under the site params to the following path, if that's wrong I can update it but I believe the path is right..

[code]

[2021-01-03 14:32] hossainemruz commented on #206
@kcisneros use,
[code]

[2021-01-03 14:40] kcisneros commented on #206
@hossainemruz  Thank you for the response. I updated the paths accordingly and am still getting an error when trying to run hugo server -t toha -w

[code]

[2021-01-03 15:07] hossainemruz commented on #206
Can you try updating to the latest master? I have pushed some fixes there. Also, please point me to your repository so that I can inspect where the problem is.

[2021-01-03 15:19] kcisneros commented on #206
@hossainemruz  thank you for taking a look, here's my repo: https://github.com/kcisneros/kcisneros-site I believe I am on latest, I tried a fresh install and set up about two hours ago. Is there a way I can check the hash version locally to ensure I have what's on master?

[2021-01-03 16:40] hossainemruz commented on #206
Hey @kcisneros. Your site build in my PC without any issue.

[code]

What hugo version are you using?

[2021-01-03 16:44] kcisneros commented on #206
Thank you for the confirmation, I was hoping it wasn't something with my machine, sadly it looks like it may be that.
[code]

I updated to Big Sur two days ago, I wonder if there's an incompatibility there.

[2021-01-03 16:48] hossainemruz commented on #206
I can confirm it also built in hugo `v0.80.0`.
[code]

[2021-01-03 18:26] kcisneros commented on #206
Ok, thank you for confirming. I'll try and narrow down further.

[2021-01-04 13:52] Chow-Ray opened #209 "Use .gif format avatar and no animation on the homepage. The article page is normal.bug"
- [x] Chrome
- [x] Firefox
- [x] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

Use .gif format avatar and no animation on the homepage. The article page is normal.Use .jpg or .png，is normal。In the previous version, there is no such problem。

[2021-01-05 09:57] b-reich commented on #206
https://toha-guides.netlify.app/posts/getting-started/prepare-site/ should then also be adjusted or not?

[2021-01-05 10:39] Chow-Ray opened #211 "How to modify the transparency of the homepage background?"
### Question

Hi，Plz help me.
How to modify the transparency of the homepage background?
Only the background of the red marked area becomes opaque
thanks so much！
![无标题](https://user-images.githubusercontent.com/29678677/103636542-18305f00-4f85-11eb-96dc-c422fbdff0f3.png)

[2021-01-06 11:03] adarshbm82 commented on #211
I did it by changing this
toha/static/css/navigators.css

.initial-navbar {
  background-color: #244;
}

[2021-01-06 11:14] hossainemruz commented on #211
You don't need to modify theme CSS. Just put your custom CSS into `assets/css/style.css` file of your repository.

[2021-01-06 11:15] hossainemruz opened #212 "Add documentation on how to use custom CSS"

[2021-01-06 11:35] Chow-Ray commented on #211
thanks so much！

[2021-01-06 11:37] Chow-Ray commented on #211
But how to make the background picture clear?

[2021-01-06 16:09] Chow-Ray commented on #211
ok.I have found a solution。Modify the code`/static/css/sections/home.css`
[code]

[2021-01-06 16:09] #211 closed

[2021-01-07 09:54] dyingway opened #214 "toha/exampleSite/data/cn/sections/projects.yaml bug"
## Expected Behavior

weight:5
## Current Behavior

\data\cn\sections\projects.yaml:7:1": failed to unmarshal YAML: yaml: line 7: could not find expected ':'
## Possible Solution

weight: 5,need space.
## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2021-01-07 10:19] #214 closed

[2021-01-07 10:19] hossainemruz commented on #214
Thanks for reporting. Should be fixed by #215

[2021-01-08 03:36] Chow-Ray commented on #209
@hossainemruz plz
**fix ：**`layouts\partials\sections\home.html`Line 108.

If `<img src="{{ $authorImage.RelPermalink }}"` is replaced by `<img src="{{ $authorImage | relURL }}"` , there will be no problem. Why does this happen?

[2021-01-16 19:01] harsh-kotak commented on #205
I have the same issue. Moved all images to assets but images in skills section do not work. I did not find the img-src in rendered HTML for skills.

[2021-01-19 07:59] DarrellDudics commented on #189
I've used this YAML to TOML converter and have taken all of the settings in documentation and converted them to TOML and I have no issues running this theme:

https://www.convertsimple.com/convert-yaml-to-toml/

[2021-01-19 09:06] Chow-Ray commented on #189
@DarrellDudics thanks！

[2021-01-21 20:02] davidgs opened #223 "Can't set the hero image for posts."
## Expected Behavior
[code]

should use the image `watch.jpg` as the hero image.

## Current Behavior

That image is not shown. Changing the name of that file to `hero.jpg` will cause it to be shown as the hero image but that *only* works in top-level posts. If posts are in a category, or a sub-category, no combination of directories or image names seems to work and the *only* image ever shown is

[2021-01-21 23:42] JPUnD commented on #83
I have a bit of experience with Hugo and I've managed to pick another theme (Elate) and split it's sections into separate pages. Yet in this case I fail to see how should I do so.

[2021-01-21 23:57] jpmvferreira opened #224 "Modify header and footer as if they were just another section"
Being able modify the header and the footer as if they were another section would make it easier to fully customize the website.

For example I would like to keep things as clean as possible and given that I have no intention to translate to other languages having the language on the top right can be misleading. Commenting it out is an option but having the intention to not having the logo on the

[2021-01-22 00:22] JPUnD commented on #223
I've been having the same issues, I've tried several formats (.jpg, .png, .svg) in several directories `assets/images` and `content/posts`  but nothing showed but the default hero.

I'm using Firefox and all the changes were done in localhost using Hugo and nothing else.

[2021-02-16 01:10] Roxedus opened #233 "bug"
## Expected Behavior

Tables under the experience section should align horizontally.

## Current Behavior

Tables does not align across institutions. Very apparent with the proposed changes in #231

## Possible Solution

On my test setup I altered the `education.html` to add a class to the `<th>{{ i18n "obtained_credit"}}</th>` and `<td>{{ $course.achieved }}</td>` rows, to apply a width of 20% on

[2021-02-16 11:37] ngoldack commented on #205
I'm having the same issue.

[2021-02-20 19:24] gtalckmin commented on #206
Hi, ;) sorry to hijack this thread, but I am having a similar error:

I am using RStudio+Github+Netlify to deploy a test website but I am having an issue when trying to build it through Netlify.
I have followed the documentation, but I am getting this error. I tried moving the images folder to no avail. Any idea?

[code]

Website repository:
https://github.com/gtalckmin/alckminlab/tree/main/public

[2021-02-21 06:52] ormissia opened #235 "Documentation is a bit out of date"
### Documentation is a bit out of date

The [skills-section guide](https://toha-guides.netlify.app/posts/getting-started/prepare-site/#skills-section) "icon" label is out of date. The [latest version example](https://github.com/hugo-toha/hugo-toha.github.io/blob/source/data/en/sections/skills.yaml) is a "logo".
I don't know how to modify it, so I mentioned it here.

[2021-02-21 15:12] RunesReader commented on #137
I confirm this bug.

[2021-02-22 10:11] hossainemruz opened #236 "Add Note mode?"
Something like this?
https://devhints.io/bash

[2021-02-24 08:30] RunesReader opened #239 "Errors in the Console"
## Expected Behavior

When we loading site the console should be without errors
## Current Behavior

When we loading site console has 4 errors
## Possible Solution

Sorry, I am working as iOS Developer :((
## Steps to Reproduce

1. Open, for example [my site](https://arsenkin.name)
2. Observe a console

### Screenshots

![Screenshot 2021-02-24 at 10 22 09](https://user-images.githubusercontent.com

[2021-02-24 08:38] hossainemruz commented on #239
The console log looks clean to me.
![screenshot](https://user-images.githubusercontent.com/12577390/108972876-f19dc300-76ad-11eb-9f0f-53838229588f.png)

[2021-02-24 19:22] RunesReader commented on #239
Ok! Maybe these are minor errors.

[2021-02-25 05:29] #235 closed

[2021-02-25 21:23] baocaifeng opened #240 "hero bug"
## Expected Behavior

---
In my /posts/test/graphic/index.md
I put all hero images in static folder, I write:
[code]

**The post should use the hero that I customized**

## Current Behavior

but, it's not. **It still uses the default hero**

## Possible Solution

I checked the file partial/helpers/get-hero.html
However, its logic logic looks that it won't check the given path of hero in the post.

[2021-02-25 21:48] tgreaves opened #241 "What's the best way to center images in Posts with this theme?"
### Question
I love the theme! Thanks for all your work on it.

I'm wondering the best way of centering images in Posts.  So far, the best I have is this:

[code]

This works, but means the images have to live in `static`.  This feels awkward given the main theme images are all in `assets`.

I found the `rimg` shortcode but it doesn't seem to do alignment.  `<figure>` seems to be the sort of thing

[2021-02-25 22:00] tgreaves commented on #241
As an update, `<figure>` alone does center the image, and also puts the nice border around it (great!) -- but is loading from 'static'.  Is this generally the way we shoud be doing things now?  Or is there room for a new shortcode in the theme which loads from `assets` instead?

[2021-02-26 01:29] baocaifeng opened #242 "what is the "maps.Params""
### Question

Hi ! I found this in file /layout/partials/helpers/get-author-name.html
I don't understand this code, pls help me.
So, the *(printf "%T" .Params.author )* is the *type* of  *.Params.author* ?
what is the *maps.Params* ? I can't find any doc about this in Hugo and I'm not familiar with Go.

And, *why* here do you want to compare the *type* (if I misunderstand, pls tell m) ?
I mean, fo

[2021-03-01 14:01] rshah1990 opened #244 "I am getting an error while changing yaml file"
Hi Team,

Thank you for this wonderful theme. I always get below error if I change anything in YAML file.

ExampleSite -> data -> en -> sections -> YAML files

![image](https://user-images.githubusercontent.com/37735152/109507240-85172f80-7ac4-11eb-97bc-b7f1b15cc511.png)

[2021-03-03 02:59] #244 closed

[2021-03-04 06:15] hossainemruz opened #245 "Next-Prev navigation is broken for large post title"
![image](https://user-images.githubusercontent.com/12577390/109919674-3eebe700-7ce3-11eb-8baf-452ceea304dd.png)

[2021-03-06 15:01] yeganathan18 commented on #240
Hey @baocaifeng
I'm also getting the same error, I tried implementing your above-mentioned code but seems like the issue still persists.

[2021-03-06 15:49] baocaifeng commented on #240
@yeganathan Hey, I have modified the code and it fixed the problem

[2021-03-06 15:57] baocaifeng commented on #240
@yeganathan18 maybe this can help you :)

In the post, define a path of hero. Please attention !! put your hero in assetDir. I before made a mistake and put my hero in the staticDir, cause I don't familiar with hugo. In the html code, we use the hugo default function **ressourceGet**, so take care of this !
[code]

in the get-hero.html, change it to:
[code]

[2021-03-06 16:01] baocaifeng commented on #240
@yeganathan18 hey, I'll close this issues ^^, because I found solutions for my blogs. If you need any help, don't hesitate to ask questions here ! have a good  day

[2021-03-06 16:01] #240 closed

[2021-03-06 16:16] yeganathan18 commented on #240
Thanks for you help!
Let me try it once again as mentioned above :)

[2021-03-11 17:13] davidgs commented on #223
I've figured this out! The hero image must be in the bundle. So if your post is called my-great-blog-post.en.md then the hero image won't load. in such a scenario:

[code]
And Front Matter:

[code]

[2021-03-13 13:48] #223 closed

[2021-03-13 17:47] hossainemruz commented on #42
done in #227

[2021-03-13 17:47] #42 closed

[2021-03-13 19:09] #150 closed

[2021-03-13 19:22] #189 closed

[2021-03-13 19:23] hossainemruz commented on #171
Done in #173

[2021-03-13 19:23] #171 closed

[2021-03-14 10:49] serverfriendsorg commented on #206
I have the same problem, I updated today to v2.0.0 and get the following terminal output:
[code]

I renamed my static files directory to assets.

Here are the files contents:

**navbar-2.html**
[code]
**imprint.html**
[code]

**privacy.html**
[code]

[2021-03-14 13:11] hossainemruz commented on #206
@serverfriendsorg can you point me to your repository? I believe there are some misconfigurations there.

[2021-03-14 17:41] serverfriendsorg commented on #206
@hossainemruz  Thanks, I've tried already to find the error by myself but couldn't solve it.
Here is the link: https://gitlab.com/serverfriends_org/ws_steven/

[2021-03-14 18:16] hossainemruz commented on #206
@serverfriendsorg sent you an MR. That should fix the issue.

[2021-03-15 05:32] hossainemruz commented on #241
I think we should add a new shortcode for `figure`.

[2021-03-15 05:37] hossainemruz commented on #209
@Chow-Ray can you please explain the issue more? I actually didn't understand it properly.

[2021-03-15 05:40] hossainemruz commented on #205
@darkwizard242 , @harsh-kotak , @ngoldack are you guys still facing the issue? Try updating the theme to `v2.0.0`. Move all images into `assets` directory from `static`.

[2021-03-15 05:43] hossainemruz commented on #179
The behavior is expected. Card texts are justified. It is by design.

[2021-03-15 05:43] #179 closed

[2021-03-15 15:50] darkwizard242 commented on #205
@hossainemruz Yes, the issue for **skills** sections images not rendering still exists.. Also with the latest commit "d5be769", I did notice that images for **posts** don't seem to render either and are being defaulted to the theme's.

![Screenshot from 2021-03-15 11-47-14](https://user-images.githubusercontent.com/40025815/111181385-4d0ff200-8584-11eb-9fbe-477853b4561b.png)

For instance, they or

[2021-03-15 17:10] hossainemruz commented on #205
@darkwizard242 can you please point me to your repository.

[2021-03-15 17:15] harsh-kotak commented on #205
mine is https://github.com/harsh-kotak/ikotak

[2021-03-15 17:34] darkwizard242 commented on #205
sure @hossainemruz .. since the repository is private, I added you as a collaborator.

[2021-03-16 03:14] MarionMoseby opened #249 "Multi language search only works on the sites main language"
## Expected Behavior
If I search in mysite.me/es/posts, I should get results in spanish

## Current Behavior
I only get results if the word I query is found in mysite.me/posts, and, if the word is in mysite.me/es/posts but not in mysite.me/posts, I get no result

## Possible Solution
I am not really sure, maybe changing index.json to not only include index but also index/languagecode?

## Steps to

[2021-03-16 04:04] hossainemruz commented on #249
That's right. Multi-language hasn't been handled in search yet.  This is initial support for search functionality. It may take some time to implement the multi-language support.

[2021-03-17 16:35] hossainemruz commented on #205
@harsh-kotak I don't see any issue with your site. Its building without any error or warning.
![image](https://user-images.githubusercontent.com/12577390/111503443-f74c6d00-8770-11eb-8950-d95f8cb28eed.png)

[2021-03-17 16:40] hossainemruz commented on #205
@darkwizard242 I don't see your repo. I haven't received any invitation for collaboration.

[2021-03-17 18:27] harsh-kotak commented on #205
Never had issue with building site. The images in skills section are not working.

[2021-03-17 22:52] serverfriendsorg commented on #206
Thanks, I have commented on your PR seems I don't have permission to merge your changes into my master branch.

\-------- Original Message --------
On 14 Mar 2021, 19:16, Emruz Hossain < ***@***.***> wrote:

[serverfriendsorg]: https://github.com/serverfriendsorg
[view it on GitHub]: https://github.com/hugo-toha/toha/issues/206#issuecomment-798953501
[unsubscribe]: https://github.com/notifications

[2021-03-18 00:30] darkwizard242 commented on #205
@hossainemruz - can you please confirm if you see the invite (spam and other places with the email address associated to your github username)? It does say it's awaiting.. If not, I will do some refactoring and set it to public if needed.

![Screenshot from 2021-03-17 20-27-25](https://user-images.githubusercontent.com/40025815/111555656-38d41c80-875f-11eb-95d5-8d980d788d34.png)

[2021-03-18 04:00] hossainemruz commented on #205
@darkwizard242 its rendering fine for me. I don't see any error or warning.
![image](https://user-images.githubusercontent.com/12577390/111571125-6dcc8780-87d0-11eb-9e87-d834348b293c.png)

![image](https://user-images.githubusercontent.com/12577390/111571199-905ea080-87d0-11eb-87a2-bc2f23611f73.png)

What hugo version are you using? Make sure to run `git submodule update` to update the theme.

[2021-03-18 08:17] rotaractbasaveshwaranagar opened #251 "bug"

[2021-03-18 08:18] #251 closed

[2021-03-18 08:19] chiranthans23 opened #252 "Show more/Show less button under education section needs fix"
## Expected Behavior

Show more and Show less toggle button under the education section should do as they say

## Current Behavior

It works the opposite way

## Proposed Solution

When the site is loaded the text used in the button is "See more" and not "Show more"
The condition in the function showMoreCourses function should be changed as follows
`if (btnText == "Show More" || btnText == "See Mo

[2021-03-18 19:47] mmanueljoao opened #253 "Posts returning 404 page not found"
### Question

**I think I'm in need of some help.**
First of all, here is my directory tree ...
![imagem](https://user-images.githubusercontent.com/6817527/111686906-90d35780-8821-11eb-9d22-4387f90ea27b.png)

I have added only the example posts so I could teste before launching and, somehow, my `hugo server -D` isn't able to show me the posts. And yes, in the `config.yaml` I have the `  enableBlog

[2021-03-20 17:19] serverfriendsorg commented on #206
Thanks, I have commented on your PR seems I don't have permission to merge your changes into my main branch.

[2021-03-20 20:14] hossainemruz commented on #206
@serverfriendsorg How I can give you permission to merge the MR. I don't see any settings for that. I am not experienced with gitlab.

[2021-03-21 16:29] hossainemruz opened #255 "Menu separate does not appear if blog post is disabled."
## Expected Behavior
![image](https://user-images.githubusercontent.com/12577390/111912648-c7fd6f00-8a94-11eb-89e0-32849132f423.png)

## Current Behavior
![image](https://user-images.githubusercontent.com/12577390/111912670-dcda0280-8a94-11eb-836e-18354b2f09f1.png)

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Ed

[2021-03-22 19:28] #255 closed

[2021-03-23 15:03] hossainemruz commented on #253
Can you share the `config.yaml` file? Also, please share the repository link if possible.

[2021-03-23 15:46] #252 closed

[2021-03-23 16:28] #245 closed

[2021-03-23 19:50] HenzelMoras opened #259 "Accomplishment feature available to work on ?"
### Is someone working on accomplishment feature ?
if not than i would like to add it bc i somwhat implemented it in my site
![accomplishment](https://user-images.githubusercontent.com/60033549/112211299-b9a08600-8c41-11eb-8298-c2479c113a0d.png)
png)

also what do u mean by overview ?

[2021-03-24 02:33] hossainemruz commented on #259
Hi @HenzelMoras it is not done yet. It would be great if you can send a PR.

A summary of what you did/learn on this course.

[2021-03-24 02:42] priyanshsaxena opened #260 "Footer navigation links don't work correctly other than home-page"
## Expected Behavior
Footer navigation-links are available in /posts page as well. Clicking them from anywhere in the website should take you to the correct URL.

## Current Behavior
Other than the home-page, the links only change the browser URL, while making no actual change in the content.

## Possible Solution
Update URL scheme to use relative link

## Steps to Reproduce
1. Ensure that footer-

[2021-03-24 04:08] #260 closed

[2021-03-24 11:27] HenzelMoras commented on #259
Hi @hossainemruz  okay on it.
 i followed readme for contributing

which folder im supposed to edit
[code]
?

[2021-03-24 11:38] hossainemruz commented on #259
Yes.

[2021-03-24 11:41] HenzelMoras commented on #259
okay thank you

[2021-03-24 12:48] mmanueljoao commented on #253
Yes, sorry!
Here is the link : https://github.com/mmanueljoao/mjoaolima.eu

and the config.yml
[code]

[2021-03-24 12:56] hossainemruz commented on #253
Can't access the repository. It's probably private.

[2021-03-24 19:33] darkwizard242 commented on #205
@hossainemruz - thanks for checking up and apologies for the delay in response.

The issue is that both the images in the Skills Section and the Recent Posts section don't seem to be rendering anymore. I did bump the theme to `1c3154d` today as a test, was originally on `d5be769` last time I reported this.. Example screenshots below:

![Screenshot from 2021-03-24 13-26-02](https://user-images.gith

[2021-03-25 05:29] hossainemruz commented on #205
@darkwizard242 Sent you an PR with the fix. The problem was followings:
- The hero image path is relative to post folder.
- The `icon` filed in skills section has been renamed to `logo`.

This commit fixes the issues: https://github.com/darkwizard242/alimuhammad-dev/pull/8/commits/186f48788df05aa65e5c10e71307ebd6f01c8fa5

[2021-03-25 05:30] hossainemruz opened #264 "Don't show `search.md` in the Post lists"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2021-03-25 11:39] a0m0rajab commented on #206
@hossainemruz, I got the same issue because of the same problem, I think that you need  to mention it somewhere in the docs!

[2021-03-25 11:51] hossainemruz commented on #206
Yes

[2021-03-25 12:48] mmanueljoao commented on #253
it should be public now, can you check again ? Thank you !

[2021-03-25 17:53] darkwizard242 commented on #205
@hossainemruz - Really appreciate that, thanks man. PR fixed issue for both skills and recent posts 👍🏻

[2021-03-25 21:34] hossainemruz commented on #205
Great to know. Can you please close the issue?

[2021-03-26 01:06] darkwizard242 commented on #205
Sure 👍🏻 thanks again for your help!

[2021-03-26 01:06] #205 closed

[2021-03-26 12:57] hossainemruz opened #266 "Use automation to keep `exampleSite` in sync with `hugo-toha.github.io`"

[2021-03-26 18:36] hossainemruz commented on #253
@mmanueljoao I have sent you a PR. That should fix the issue. The issue was related to tranlation. I had to rename all the file with `*.bn.md` suffix into `*.pt.md`.

Ref: https://github.com/mmanueljoao/mjoaolima.eu/pull/2

[2021-03-26 18:42] hossainemruz commented on #259
Added on   #262

[2021-03-26 18:43] #259 closed

[2021-03-26 18:45] hossainemruz commented on #183
Already fixed in `main` branch.

[2021-03-26 18:45] #183 closed

[2021-03-27 09:57] serverfriendsorg commented on #206
@hossainemruz Sorry for the late response. I was able to merge your MR by starting a new pipeline from the merge request. Thanks again, everything is now as it should be. :)

[2021-03-27 10:26] hossainemruz commented on #206
Can you please close this issue?

[2021-03-27 19:52] #236 closed

[2021-03-27 19:53] hossainemruz opened #267 "Add feature control configuration in config.yaml"
[code]

[2021-03-28 11:03] hossainemruz commented on #253
@mmanueljoao Can you please close this issue if your problem get resoved?

[2021-03-28 12:37] mmanueljoao commented on #253
I’ll have to check later today - had to format the pc. I’ll let you know

________________________________
From: Emruz Hossain ***@***.***>
Sent: Sunday, March 28, 2021 12:03:44 PM
To: hugo-toha/toha ***@***.***>
Cc: Manuel João Lima ***@***.***>; Mention ***@***.***>
Subject: Re: [hugo-toha/toha] Posts returning 404 page not found (#253)

@mmanueljoao<https://emea01.safelinks.protection.outlook.c

[2021-03-28 16:26] mmanueljoao commented on #253
@hossainemruz , I have a new problem that happened after I've pulled your fix, but I don't really see how it can be related.
Somehow, background and author images are now not appearing.

I have them at `assets\images\{author,sections,site}`, where _backgroung_ is in the _site folder_ and _author_ in the _author folder_. This was working before but I noticed that there is now `\resources\_gen\image

[2021-03-28 16:33] hossainemruz commented on #253
Update the theme to latest version. You are still using `v1.4.0`.

[2021-03-28 16:39] mmanueljoao commented on #253
Using `git submodule update `wasn't pulling any files but using `git submodule update --recursive --remote` resolved the issue. I'll try and create an action for checking for updates, will have to look into it! Thank you.

I'm not very well versed in decompiling what you have done, but if I can help in any way with documentation, I'll gladly help.

[2021-03-28 16:46] hossainemruz commented on #253
Sure. Any kind of help will be appreciated. It can be bug report or any suggestion. I hope you can close the issue now. :P

[2021-03-28 16:47] #253 closed

[2021-03-30 04:48] hossainemruz commented on #264
Fixed in #263

[2021-03-30 04:48] #264 closed

[2021-03-30 04:51] hossainemruz commented on #184
This has been already fixed in `main` branch. We have introduced `gitBranch` options in `params` section of `config.yaml` file.

[2021-03-30 04:51] #184 closed

[2021-03-30 04:52] hossainemruz opened #271 "Restructure sidebar layout"

[2021-03-31 17:14] HenzelMoras opened #272 "regarding section card link redirection"
### Can u add target = " _blank "  in each section ?

each section card when clicked redirects the current page to different site instead of opening another tab

[2021-03-31 18:05] HenzelMoras opened #273 "bug"
## accomplishment section should be displayed on the navbar

## It does not get displayed

![nabar prob](https://user-images.githubusercontent.com/60033549/113189746-28e92c00-9279-11eb-89b9-3c74ddb1dd3c.png)

## Possible Solution

within layouts/partials/navigators/navbar.html
[code]
## Steps to Reproduce

1. just place the weight of the section to 5

### fix

![navbar-fix](https://user-images.git

[2021-03-31 18:06] HenzelMoras commented on #273
@hossainemruz  should i send a pr with redirection fixs #272

[2021-03-31 20:12] hossainemruz commented on #273
Hm.. I see the issue. Please send a PR.

[2021-03-31 20:13] hossainemruz commented on #272
Please send a PR.

[2021-03-31 20:14] hossainemruz commented on #273
Please send separate PR for the two issues

[2021-04-01 18:13] hossainemruz opened #283 "Nabar dropdown is not showing in Mobile & Tablet"
## Expected Behavior

## Current Behavior

![image](https://user-images.githubusercontent.com/12577390/113336430-39b4a300-9348-11eb-8df1-b3303c7b857b.png)

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2021-04-01 18:15] hossainemruz commented on #273
Fixed in #279

[2021-04-01 18:15] #273 closed

[2021-04-01 18:15] hossainemruz commented on #272
Fixed in #278

[2021-04-01 18:15] #272 closed

[2021-04-01 18:22] #266 closed

[2021-04-01 18:54] #283 closed

[2021-04-01 19:36] hossainemruz commented on #241
@tgreaves `img` shortcode can load image from the post folder. Here, is an example: https://hugo-toha.github.io/posts/shortcodes/
Here is the markdown: https://github.com/hugo-toha/hugo-toha.github.io/blob/source/content/posts/shortcodes/index.md

[2021-04-03 10:15] Nirzak opened #286 "Icon and line is not showing on Education Section from Mobile"
## Expected Behavior

It should show like the following
<img src="https://user-images.githubusercontent.com/11460645/113475312-b0f84d00-9496-11eb-9667-279e4b837c16.jpg" width=50% height=50%>

## Current Behavior

But it is showing like this
<img src="https://user-images.githubusercontent.com/11460645/113475322-bf466900-9496-11eb-8c3a-74e4140e1d1b.jpg" width=50% height=50%>

## Possible Solution

D

[2021-04-03 14:09] hossainemruz commented on #286
This is by design. Mobile has small screen real state. We should prioritize readability and user experience over decoration.

[2021-04-03 14:11] #239 closed

[2021-04-03 14:14] Nirzak commented on #286
Yeah I also though so. Ok bhai then please close this issue thanks.

[2021-04-03 14:19] #286 closed

[2021-04-04 23:16] s0m3guy opened #291 "Minor bug with default avatar file and configuration guide"
## Expected Behavior
hugo server should start with no issues when following the configuration guide here: https://toha-guides.netlify.app/posts/configuration/site-parameters/

## Current Behavior
When executing `hugo server -t toha -w` after setting up the `author.yaml` file for the first time with the content from the guide, you get the following in the terminal:

`Error: Error building site: fai

[2021-04-05 08:31] Nirzak commented on #291
I don't think there's any error on author.yaml. The render error only occurs when you wrongly specifies any file path to author or site.yaml. Please checker the image you provided is exactly with that name "avatar.png" or "avatar.jpg" if not then correctly rename your avatar file and correctly place it on the static folder thanks.

[2021-04-05 19:57] Nirzak commented on #29
How about an in-built Netlify form to use. But the only drawback will be one must have to use Netlify. This is the major drawback of Hugo, actually. As it's a static site generator, we have to use dynamic servers to handle requests on the static Hugo for many features.

[2021-04-06 03:16] hossainemruz commented on #139
Support doc versoning

[2021-04-08 08:01] b-reich commented on #206
@hossainemruz @serverfriendsorg is the issue solved?

[2021-04-08 08:08] serverfriendsorg commented on #206
@b-reich yes, for me the issue is resolved.

[2021-04-08 09:30] hossainemruz commented on #206
@b-reich try updating to the latest release. Let me know if you still face the issue.

[2021-04-08 10:43] Nirzak commented on #29
Yup netlify has an official documentation for forms. https://docs.netlify.com/forms/setup/ and this post from hugo community can be helpful for the implementation https://discourse.gohugo.io/t/is-it-possible-to-add-a-contact-form-to-a-site/1550/2 I have found a sample code from victor hugo's hugo-cms-template git here https://github.com/netlify-templates/one-click-hugo-cms/blob/master/site/layouts

[2021-04-08 11:09] hossainemruz commented on #29
Ok. I will try to design the form layout whenever get some time.

[2021-04-08 11:38] HenzelMoras opened #293 "Feature Request: convert Post section and subsection to pdf format as a document to read"
### Describe the solution you'd like
Need to convert post.md to post.pdf  pdf button as interface

### Describe alternatives you've considered
N/A

### Additional context

[2021-04-08 11:42] hossainemruz commented on #293
Why not use `ctrl+shift+p`  then print as PDF?

[2021-04-08 11:59] HenzelMoras commented on #293
![does not include it as pages](https://user-images.githubusercontent.com/60033549/114022691-ab807580-988f-11eb-824b-b7603a4fd869.png)
[output.pdf](https://github.com/hugo-toha/toha/files/6278431/output.pdf)
![image](https://user-images.githubusercontent.com/60033549/114022866-d66ac980-988f-11eb-9bb4-3d4d6e4412db.png)

instead
it should use the sidebar headings as table contents and each post cont

[2021-04-08 12:02] HenzelMoras commented on #293
pdf title
  -from parent section

Table contents
     - from sidebar

body
   - from each post

[2021-04-10 16:41] hossainemruz commented on #139
**Home Page Layout:**

![doc-home](https://user-images.githubusercontent.com/12577390/114277629-bed93f80-9a4d-11eb-8c23-4e2cfd9d931e.png)

**Reading Page Layout:**

![doc-read-page](https://user-images.githubusercontent.com/12577390/114277639-cbf62e80-9a4d-11eb-872c-1a1acda5be2a.png)

[2021-04-10 16:45] hossainemruz commented on #242
I really forgot why, I have used that 😄 . Btw, closing this issue.

[2021-04-10 16:45] #242 closed

[2021-04-10 16:47] hossainemruz commented on #206
Closing this issue. Feel free to re-open if you still face the issue after updating to the latest version.

[2021-04-10 16:47] #206 closed

[2021-04-10 16:55] hossainemruz commented on #62
This will probably need a customized template. Closing the issue because of inactivity.

[2021-04-10 16:55] #62 closed

[2021-04-24 08:52] Nirzak opened #297 "Country flag is not showing on language selection drop down menu"
## Expected Behavior

It should show the flag icon of the selected language

## Current Behavior

But the flag is not showing.

## Possible Solution

The reason is the theme is using countryflags.io as the flag icon API and the site has been closed for a long time. So,
an alternative method should be implemented.

### Browsers Affected

- [x] Chrome
- [x] Firefox
- [x] Edge
- [ ] Safari 11
- [ ] S

[2021-04-25 18:48] #297 closed

[2021-04-25 20:51] ipankajsingh commented on #154
@hossainemruz
Any update on this ?

[2021-04-25 21:44] hossainemruz commented on #154
Sorry, I haven't been able to look at it.

[2021-04-26 11:46] Kaligule commented on #267
Alternatively you could allow to enable them one by one:
[code]
This is how it is done in nixos and it is a cool way to have the configuration of the feature and the enabling of the feature in one place.

[2021-04-26 11:49] Kaligule commented on #139
Wouldn't this be similar to what https://github.com/hugo-toha/toha/issues/267 does, just more specific. Once !267 is implemented you could just go put this in your config and would be done:

enabledFeatures: ["documentation"]

[2021-04-26 12:01] Kaligule commented on #209
To me it sounds like @Chow-Ray want to say the following:

If you use a (possibly animated?) `gif` (instead of `jpg` or `png` as an author image (as specified in the `author.yaml` as `image:`), then the animations (like the gauges for the skills) will not start playing.

I am not able to replicate this bug.

[2021-04-26 12:19] Kaligule commented on #224
One great feature here would be to allow to completly disable header and footer. Personally I would like to get rid of the footer entirely for my site.

[2021-04-26 13:26] hossainemruz commented on #267
@Kaligule Yes. I am probably going this way. This will allow to provide additional configuration for the features.

[2021-04-26 13:28] hossainemruz commented on #139
@Kaligule Yes. This was just a preliminary idea.

[2021-04-26 13:32] hossainemruz commented on #224
Ok, we can do this. Just need some free time.

[2021-04-27 11:29] ormissia opened #301 "Feature Request"
### Describe the solution you'd like

Need a dark mode theme.

### Describe alternatives you've considered

N/A

### Additional context

[2021-04-28 06:39] Kaligule commented on #301
This issue is a dublicate of !59 so I suggest to close it.

[2021-04-28 12:02] Kaligule commented on #224
So this might be a stupid question, but is the flag-problem maybe solved already?

The flags are inserted into the navigation bar [here](https://github.com/hugo-toha/toha/blob/v2.2.0/layouts/partials/navigators/navbar.html#L106):

[code]

`IsTranslated` is a variable set by hugo itself.
The [hugo documentation](https://gohugo.io/variables/page/) tells us about it:

[code]

And indeed, on my site t

[2021-05-01 22:22] hossainemruz commented on #224
Made footer configurable in #303 . Thanks to @Kaligule . You can now enable or disable a particular section of the footer. You can even provide a custom footer template.
Example: https://github.com/hugo-toha/hugo-toha.github.io/blob/5fcc45e97514e1c206a91ab1291b0da9d65da758/config.yaml#L69

[2021-05-01 22:22] #224 closed

[2021-05-01 22:22] hossainemruz commented on #301
Closing in favor of #59.

[2021-05-01 22:22] #301 closed

[2021-05-02 05:24] Kaligule commented on #224
@hossainemruz Thank you. I think the navbar (what is probably what @jpmvferreira meant with "header") is not yet configurable, right? So we should either reopen this issue or open a new one.

[2021-05-02 14:10] hossainemruz commented on #224
The Navbar is already configurable. User can show/hide a particular section in the navbar

[2021-05-07 17:14] chutified opened #304 "Horizontal scroll bar on small devices"
I noticed a vertical scroll bar on smaller screens (width: less than 618px). It is there for an excess white small stripe on the right side. I couldn't exactly find the source of the problem, but it seems to have something to do with the `skills` section because the moment I remove this section in the chrome inspection the horizontal scroll bar disappears and only reappears when the width of the p

[2021-05-14 03:05] Scaranman commented on #291
It seem the problem is that the documentation is very outdated and doesn't appear to be being updated.

I had the same problem because the documentation said to use "images/author/john.png" even though there's no sub-folder in images or a file named john.png in the theme's folder

[2021-05-14 04:23] sandstormkeshav commented on #304
I've seen this as well. Not sure how to fix it either :(

[2021-05-17 01:34] pinemmatthew opened #315 "Error building Question."
### Question

Hey All,
so I have been having trouble recently making this site. Everytime I am trying to build the website I am getting a trace error message like so:

Error: Error building site: failed to render pages: render of "home" failed: execute of template failed: template: index.html:39:8: executing "index.html" at <partial "sections="" home.html"="" .="">: error calling partial: "/home/m

[2021-05-17 10:30] hossainemruz commented on #315
@pinemmatthew Can you please point me to your repo so that I can take a look?

[2021-05-17 11:58] hossainemruz commented on #35
Added support for [mailchimp](https://mailchimp.com/) in #308.

[2021-05-17 11:58] #35 closed

[2021-05-17 17:43] #159 closed

[2021-05-17 18:32] #249 closed

[2021-05-18 08:13] GaHoWong opened #319 "support jquery-pjax"
Hello, is there any plan to support jquery-pjax?

[2021-05-18 09:19] hossainemruz commented on #319
Can you please explain the usecase?

[2021-05-18 09:53] GaHoWong commented on #319
The advantages of pajx are obvious:
(1) It can reduce the pressure on the server.
(2) Optimize the page jump experience.
(3) When clicking on other pages, there will be no sudden flashing
(4) The background music will not be paused (my urgent need)
The disadvantages can almost be ignored:
(1) Some low-version browsers (such as Internet Explorer) are not supported.
(2) Complicated server-side proce

[2021-05-18 19:07] hossainemruz commented on #319
@GaHoWong sound interesting. However, it seems the `jquery-pjax` project is not actively maintain anymore.

I don't think we should include this into the theme. Probably, we should find an alternative that provides these benefits and actively maintained.

[2021-05-19 04:57] hossainemruz commented on #267
Already done in `main` branch.

[2021-05-19 04:57] #267 closed

[2021-05-19 13:39] GaHoWong commented on #319
Maybe a better alternative can be found, but at the moment I still don’t know any solution.

[2021-05-23 16:23] #319 closed

[2021-05-24 17:28] sushil11th opened #325 "bug: Badges and Circular progress value not visible in about section"
## Expected Behavior
Badges and Circular progress value should visible in about section as it is in example/demo site
https://hugo-toha.github.io/#about
## Current Behavior
Badges and Circular progress value not visible in about section

### Screenshots
![bug](https://user-images.githubusercontent.com/26380084/119385242-7f0ba600-bce3-11eb-8bd8-43158a7ad160.PNG)

[2021-05-25 03:55] kevinlinxc opened #327 "Feature Request: Social Media Featured Image Embed"
### Describe the solution you'd like

 Provide a clear and concise description of what you want to happen.
When you share a link on social media (e.g. facebook messenger, Discord) there will be an image preview, sometimes called featured image/embed preview, and I'm wondering if that feature is available for github pages with toha/hugo.

### Describe alternatives you've considered
I tried using th

[2021-05-25 05:13] hossainemruz commented on #325
I can see them.
![image](https://user-images.githubusercontent.com/12577390/119442711-26bbbf00-bd4a-11eb-9f15-6ff966bd4ceb.png)

[2021-05-25 05:19] hossainemruz commented on #327
This already cover in this FR: https://github.com/hugo-toha/toha/issues/81

It is now the highest priority FR for the theme and will be available in next release.

[2021-05-25 05:45] sushil11th commented on #325
In the local setup that was downloaded from the source branch, it is not visible for all browsers.  As it is showing on the site below:

https://hugo-toha.github.io/#about

The screenshot is of the local setup.

[2021-05-25 17:50] donfiguerres commented on #59
I'm experimenting with using DarkReader to enable dark mode in toha. My branch is [here](https://github.com/donfiguerres/toha/tree/dev-dark-theme).
So far, the result is pretty decent. Not sure if that's biased because I'm using the DarkReader browser plugin. I think a native CSS for dark mode is faster but still, this gets the job done with minimal effort.

![image](https://user-images.githubuser

[2021-05-30 02:22] Nosliwnayr commented on #315
Same issue, repo available here https://github.com/Nosliwnayr/personal-website.
Should throw the same error when building.

If it helps, I'm running `hugo v0.83.1-5AFE0A57+extended linux/amd64` on Fedora 34.

[2021-05-30 12:32] #81 closed

[2021-05-30 12:36] hossainemruz commented on #327
Added  in #333

[2021-05-30 12:36] #327 closed

[2021-05-30 12:36] hossainemruz commented on #81
Added OpenGraph header in #333. Used Hugo internal template for the post pages. Added a custom template for home page to handle the internationalization.

Check this PR to see how to customize the headers.
https://github.com/hugo-toha/hugo-toha.github.io/pull/77

[2021-05-30 13:34] hossainemruz commented on #315
@Nosliwnayr Move your `images` folder from `static` directory into `assets` directory.

[2021-05-30 18:24] Nosliwnayr commented on #315
Ahhh okay thanks! I was following along with the instructions here: https://toha-guides.netlify.app/posts/getting-started/prepare-site/ and since the resume went into static I thought the photo would go there as well.
It might be worth updating those instructions to mention where to put the photo for that step?

[2021-05-31 03:32] hossainemruz commented on #315
@pinemmatthew I am suspecting you are facing same problem as @Nosliwnayr . I am closing this issue. Feel free to reopen if you still face this issue.

[2021-05-31 03:32] #315 closed

[2021-06-02 03:58] dugite-code commented on #325
@sushil11th I was experiencing the same issue and had to update my local copy of the theme, looks like I go a copy in the middle of a bunch of changes.

[2021-06-02 22:07] vlebert opened #340 "Difference ressource.Resize vs ressource.Fit"
Hi,

First of all, congratulation for your wonderful theme and documentation. I tried various themes and it is by far the most complete (and visualy nice) theme I played with

After going deeper into Hugo code, I am wondering what is the difference between ressource.Resize and ressource.Fit
https://gohugo.io/content-management/image-processing/

For example, for the logos of the skill section, I r

[2021-06-02 23:10] hossainemruz commented on #340
@vlebert `resource.Fit` will fit the image on the given dimension while keeping the aspect ratio. For example, I have a 600x400 (rectangular) image which I want to use in a 24x24 (square) frame. Now, `resource.Fit` will resize the image into 24x24 dimension and also crop the image to keep the aspect ratio. On the other hand, the `resource.Resize` will only resize the image into `24x24` dimension b

[2021-06-03 06:38] vlebert commented on #340
Hi @hossainemruz

Thank you for the answer. I understand the expected behaviour. However I am not sure it corresponds to what I observe. Let's take for example a rectangle Python logo :
https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png

I downloaded this one and used in in "skills" section. As a result:

- The aspect rati

[2021-06-03 06:51] vlebert commented on #340
I did some tests changing the original `skill.html` partial:

**original**
[code]

**modified** (remove the SVG simpification as a simplification for the test)

[code]

With the modified version, only a small version of the logo is downloaded which is expected
![image](https://user-images.githubusercontent.com/49779177/120600100-aa5f6500-c448-11eb-9210-c2838aa930a8.png)

I guess `{{ $logoImage :=

[2021-06-03 06:52] vlebert commented on #340
Maybe this can help:

https://discourse.gohugo.io/t/solved-unsure-how-to-set-variable-value-after-declaring/1443

[2021-06-03 07:51] hossainemruz commented on #340
It seem the issue with this line.
[code]

The variable has been re-declared. It should work with, `{{ $logoImage = $logoImage.Fit "24x24" }}`. I will test to be sure.

[2021-06-03 10:04] vlebert commented on #340
Thanks, I tested your solution and it fixes the issue

I proposed you a pull request fixing all .Fit occurences (4)

[2021-06-03 10:09] #340 closed

[2021-06-04 14:43] IshoAntar opened #346 "Prev button displays two words with different languages"
## Expected Behavior
The text should be displayed in a single (configured) language.

## Current Behavior
The text on the "Prev" button should display a single word in the configured language.

This is only happening on the last (newest) post, where the button points to the "search" function.

## Possible Solution
Remove the extra word. Or remove the button all together since it points to the sear

[2021-06-05 07:16] vlebert commented on #346
Hi

I was fighting the same issue. The first post (or lowest weighted) points to search page as "previous" (by the way it doesn't show the search page in the current language)

I tried to check the guide's site repo to understand how this behaviour was avoided
https://github.com/hugo-toha/guides

But I couldn't find the trick
![image](https://user-images.githubusercontent.com/49779177/120883658-b1

[2021-06-06 09:56] #304 closed

[2021-06-06 15:43] #346 closed

[2021-06-06 15:44] hossainemruz commented on #346
@IshoAntar and @vlebert I have updated the logic for  prev/next navigator in #348 . Please try updating to the theme to the latest version. Feel free to reopen if it does not fix the issue.

[2021-06-06 19:31] IshoAntar commented on #346
It is working as expected. Thanks a lot!

[2021-06-06 19:59] vlebert commented on #346
Thanks @hossainemruz , it do fix the issue.

However as a Hugo beginner I have some questions to better understand the situation.

My understanding is that Hugo's built-in system to handle next and previous page is based on pages weight.

Your workaround is working but not using anymore Hugo's built-in prev/next.

Would there be a way to keep using built-in prev/next based on page-weight ?

By the

[2021-06-06 20:06] IshoAntar commented on #346
Just tested, i can confirm that the search is not returning any results. @vlebert open a new issue?

[2021-06-07 04:31] hossainemruz commented on #346
@IshoAntar The search is working as expected. Might be an issue on your end. Can you please point me to the repo so I can take a look?
![image](https://user-images.githubusercontent.com/12577390/120959359-68e9f500-c77b-11eb-8cee-df0480f9c436.png)

[2021-06-07 04:38] hossainemruz commented on #346
@vlebert The, `search.xx.md` is necessary for search functionality. We are using this method for search functionality: https://gist.github.com/eddiewebb/735feb48f50f0ddd65ae5606a1cb41ae

We can keep it. However, the current behavior should be default and user might need to provide additional configuration to enable Hugo's default Next/Prev functionality.

[2021-06-07 07:22] vlebert commented on #346
Hi

Thanks @hossainemruz

I could make the search working, JSON output was missing in my `config.yaml`.

[code]

I'll read the provided link to understant better the search logic. I have a feeling that search.md files would fit better at the root of content/ than in content/posts/

But it is just a feeling for the moment :)

[2021-06-07 18:20] IshoAntar commented on #346
@hossainemruz It was a problem with my config :( i didn't set `baseURL` to the proper value.

[2021-06-08 05:22] networkpanic opened #349 "Feature Request: prefers-color-scheme support"
### Describe the solution you'd like

It would be nice to set 2 different color schemes which apply based on the visitors desktop settings.
[prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme) would allow us to do that

[2021-06-08 05:39] hossainemruz commented on #349
Sure I will love to add this feature. I am planning for a significant rewrite of the theme in version `4.0.0`. Specially, I want to move to SCCS instead of CSS to ensure manageability and consistency. After that, we can work on this feature.

[2021-06-09 13:08] hangangmagazine opened #351 "Followup: Background image in low quality"
### Question
Hello, I saw that there was a fix here: https://github.com/hugo-toha/toha/issues/70

But I still have a blurry background image when I view it in mobile iOS as well as Developer tools Inspect in Firefox

here's what it looks like on desktop

![image](https://user-images.githubusercontent.com/75532219/121360351-4caea980-c96f-11eb-8052-b22df3c5c277.png)

And here on mobile

![image](htt

[2021-06-16 03:20] gilcrest opened #352 "bug: Google Analytics 4 is not supported"
I want to start by saying thank you - I love this theme and have found your docs fantastic!

Unfortunately, I'm not able to use **Google Analytics v4** with the toha theme. **Google Analytics 4** is currently the default for new accounts.

Looking at your layouts, I see the following code in both the `index.html` and the `baseof.html` files:

[code]
From the [HUGO documentation](https://gohugo.io/

[2021-06-16 04:42] hossainemruz commented on #352
@gilcrest Thank you for reporting it. As you have found the root cause, can you please send a PR? I will be happy to review. Otherwise, you have to wait until I get some time to work on this.

[2021-06-16 10:48] gilcrest commented on #352
Hi @hossainemruz - yes. I'm going to test today if you can use the v3 with `_internal/google_analytics.html`. If so, the change is trivial. If not, I have to add logic and having not worked with HUGO templating yet, might take me a minute. Stay tuned!

[2021-06-16 13:09] gilcrest commented on #352
Ok, I'm going to add a PR. After researching, the change is trivial, but should still work for both v3 and v4.

Here's some of the issues where they're discussing the Google Analytics v4 changes:

[Add support for google analytics v4 #8287](https://github.com/gohugoio/hugo/pull/8287)

There are a number of issues linked to this, but after reading through them (particularly [this issue](https://git

[2021-06-16 19:15] #352 closed

[2021-06-16 19:54] jbleduigou opened #356 "[Enhancement] The helper label for newsletter subscription does not seem GDPR compliant"
GDPR states that the user should have a good understanding of how its data will be used.

Currently the label is:
`We'll never share your email with anyone else.`

I suggest using something like:
`By entering your email address, you agree to receive the newsletter of this website.`

That's how it would look on the footer:

<img width="425" alt="Screenshot 2021-06-16 at 21 50 07" src="https://user-

[2021-06-17 20:05] jbleduigou opened #358 "Error with latest commit of the theme"
## Expected Behavior
When using the command
```hugo server```
I should be able to browse my website

## Current Behavior
I get this error message in the console:
[code]

## Possible Solution
Update the file be initialize an empty variable first:

[code]

[2021-06-19 19:13] #358 closed

[2021-06-24 12:43] Moezenka opened #361 "user-mapped section open."
### Question
Hi,

Whenever i try to build the site i get this output:
[code]
[code]

##### OS:
Microsoft Windows 10 Enterprise
Version	10.0.19041 Build 19041

I don't seem to get any errors when running the hugo locally:
[code]

This seems to be only happening with this theme as i have tried several other ones.

Any ideas what is causing the build output?
Apart from that output everything seems to

[2021-06-26 23:44] kingabzpro opened #362 "Google analytics does not work properly."
### Question
Google Analytics not working on my website, can you help me get this going?

[2021-06-27 17:42] #356 closed

[2021-06-27 18:00] #362 closed

[2021-06-27 18:03] hossainemruz commented on #362
This should be fixed in #363. Please update the theme to latest commit.

[2021-06-27 18:49] kingabzpro commented on #362
how to I update,

git submodule commands are not working.

git submodule update --remote --merge

git submodule update --init --recursive

[2021-06-29 13:06] kingabzpro opened #365 "Forestry integration"
### Describe the solution you'd like

Can you integrate the blogs with forestry cms. I think forestry doesn't work smoothly with your current file system of blogs.

### Describe alternatives you've considered

Currently, I have wasted the whole day trying to figure out why it's happening this way and I think I will use a manual way to add a post or remove it.

[2021-06-29 13:11] hossainemruz commented on #365
Probably we can. However, it might not be possible to generate the current structure of toha theme blog page from forestry generated front-matter. I have to check the frontmatter format forestry uses.

[2021-06-29 13:15] kingabzpro commented on #365
It will ease my problem is I have to use a notepad to write the entire code and I am a data scientist who has no idea who the web works.

[2021-06-29 13:33] kingabzpro opened #366 "Blog side bar remove?"
### Question
Is there a way where I can remove the side bar in the blog section, only plain simple scroll down?

[2021-06-29 13:35] hossainemruz commented on #365
Ok. I will explore [forestry](https://forestry.io/). I am planning a visual overhaul of the blog page structure in next major release. That time, I will keep this in mind. However, it may take some time. I am currently busy with other tasks.

[2021-06-29 13:35] hossainemruz commented on #366
Not possible currently.

[2021-06-29 13:37] kingabzpro commented on #366
WelI will be waiting for the next update till then I will just use it for my portfolio. Thank you for creating an amazing theme.

[2021-06-29 13:39] kingabzpro commented on #365
yes, I think the blog need some love

[2021-07-02 23:10] will-hou opened #368 "About section summary should take up entire page width if no soft skills are given"
Before filing an issue, please review the following:
* Existing Features: https://github.com/hossainemruz/toha#features ✅
* Project Roadmap: https://github.com/hossainemruz/toha#project-roadmap ✅

### Describe the solution you'd like

I've been building my personal site with Toha and really enjoying everything so far. However, I don't plan on including any soft skill "circles" in my About section.

[2021-07-03 11:00] hossainemruz commented on #368
Sound good to me. Can you please sent a PR?

[2021-07-04 09:11] #368 closed

[2021-07-10 19:04] #361 closed

[2021-07-11 21:58] ahmadmssm opened #371 "Build issue"
## Expected Behavior
The website to be deployed with GitHub actions

## Current Behavior
Error

[code]

## Steps to Reproduce
Followed this [tutorial](https://toha-guides.netlify.app/posts/getting-started/github-pages/).

[2021-07-12 20:17] ahmadmssm commented on #371
@hossainemruz Can you help here please ?, Thanks in advance.

[2021-07-13 04:36] hossainemruz commented on #371
This line is causing the issue: https://github.com/ahmadmssm/ahmadmssm.github.io/blob/c9f279583d93575e7c6c80fd11093b1e687a62b7/data/en/sections/skills.yaml#L20

`webp` format not yet supported by Hugo image processing. Please, use `png`, `jpg`, or `jpeg` image.

[2021-07-13 09:11] ahmadmssm commented on #371
Thank you very much, It is working now.
Can I ask you one more question, The background image is always white with the default and custom images, although it is showing as expected when testing locally.

[2021-07-13 16:43] hossainemruz commented on #371
You forgot to change the `baseURL` in your `config.yaml` file

[2021-07-13 17:59] ahmadmssm commented on #371
Thank you so much.

[2021-07-13 17:59] #371 closed

[2021-07-13 18:15] hossainemruz commented on #371
My pleasure

[2021-07-15 06:31] jstehn opened #375 "SVGs are not supported in the icons for project card"
## Expected Behavior
Set image to a card to be an svg file. It loads into the page

## Current Behavior
Throws error when Hugo attempts to compile due to the `fit` command.

## Possible Solution
Add check for SVG file types. If it is not an SVG, then run the fit command

## Steps to Reproduce

1. Set logo value for a project to an SVG
2. Attempt to compile using Hugo

### Screenshots
![svg_error](

[2021-07-15 07:53] #375 closed

[2021-07-20 14:53] callagg1 opened #377 "Adding a fabform.io contact form to the template"
Adding a fabform.io contact form to the template

Hello
Since this a static hugo template and has no contact form or database hooked up.
I was wondering if you could add a contact form to the template to use with https://fabform.io the [google forms alternative](https://fabform.io)

It's just a few lines of code

I can update your template or you can if you like and push the changes to your reposi

[2021-07-20 15:12] hossainemruz commented on #377
Sure. Please send a PR. I will be happy to review.

[2021-07-24 02:05] ahmadmssm commented on #240
Is there any update on this bug other than the manual solutions that alter the theme code ?

[2021-07-24 15:14] ahmadmssm opened #379 "Hero image and posts bug"
Hello,

I followed this [article](https://toha-guides.netlify.app/posts/writing-posts/organizing/category/) but I faced some issues where I couldn't set a custom hero image except by doing the following.
1. The here image should be named here, so I can't use a custom name.
2. It should be in the post folder, and any other path will not work even `assets/images` and It will always fall back to the

[2021-07-25 06:12] hossainemruz commented on #379
You can use your custom hero. Check this sample post.
https://raw.githubusercontent.com/hugo-toha/hugo-toha.github.io/source/content/posts/category/sub-category/rich-content/index.md

[2021-07-25 06:19] IhnwhiHeo opened #380 "My website is never created."
I followed steps [here](https://toha-guides.netlify.app/posts/getting-started/github-pages/). I tried it about 5 times, but all the times I failed except I just use the default setting. Could you see what is wrong? My repository is [here](https://github.com/IhnwhiHeo/ihnwhiheo.github.io). You can see the error message below. Thank you.

<img width="1440" alt="스크린샷 2021-07-25 오후 3 16 24" sr

[2021-07-25 06:23] IhnwhiHeo opened #381 "Education line is disconnected"
Please see the screenshot
<img width="1134" alt="스크린샷 2021-07-25 오후 3 21 56" src="https://user-images.githubusercontent.com/60255083/126889825-70ff2626-1e96-42f3-b3f1-9e4e48fbff48.png">

When I only contain brief information for my education (only the university name and the degree title), the upper line is always disconnected. Could you fix this error, please? Thank you!

[2021-07-25 07:15] hossainemruz commented on #380
I don't see your `assets` folder with the images.

[2021-07-25 07:24] IhnwhiHeo commented on #380
Thanks for your check. I also see that. However, why it isn't created, although I have those files on my local drive? I pushed from the origin, but those assets are not copied. Do you have any ideas for a solution?

Thank you.

[2021-07-25 07:58] hossainemruz commented on #380
I am suspecting you haven't committed those files into GitHub.

[2021-07-25 11:02] IhnwhiHeo commented on #380
I think I did. I tried the following at the local root:
``git add .``
``git commit -m "updates"``
``git push origin source``
Are there anything I missed?

[2021-07-25 11:14] hossainemruz commented on #380
I am not sure. Can you post a screenshot of your local sate?

[2021-07-25 11:17] IhnwhiHeo commented on #380
Sure. Here it is:
<img width="778" alt="스크린샷 2021-07-25 오후 8 16 46" src="https://user-images.githubusercontent.com/60255083/126897171-c3b70441-900e-436c-a2d6-d46b583a5679.png">

[2021-07-25 12:58] IhnwhiHeo commented on #380
Well, I tried again. Still, the themes/toha files are not pushed. It's weird.
Also, do you know what these messages mean by: remote: Permission to hugo-toha/toha.git denied to IhnwhiHeo.
fatal: unable to access 'https://github.com/hugo-toha/toha.git/': The requested URL returned error: 403 ?

[2021-07-25 13:21] hossainemruz commented on #380
Ok. You don't have the `assets` folder locally too. Create a directory `assets/images`  in your repo. Then, put your images there. Test your site locally by running `hugo server -w`. If it compiles without any error, then push the changes into Github.

[2021-07-25 13:30] IhnwhiHeo commented on #380
When I ran the website locally, it works perfectly okay. Once I push to the remote source, however, it does not copy assets. Did I miss anything?

[2021-07-25 13:35] IhnwhiHeo commented on #380
I tried again. With the default step-by-step explanation, it works. Once I use my files, however, the website does not work, although it works locally.

[2021-07-25 13:44] hossainemruz commented on #380
Fork this repo and rename to your username: https://github.com/hugo-toha/hugo-toha.github.io

[2021-07-25 16:45] IhnwhiHeo commented on #380
@hossainemruz
Thanks for your replies. I successfully figured out the cause. I should deal with folders/files NOT in the theme folder. If I work outside of it, it works okay. So, now the website is successfully rendered.. I realized this after more than 10 trials... Now, let me close this comment. Thanks for your help!

[2021-07-25 16:46] #380 closed

[2021-07-25 17:48] yeganathan18 commented on #240
@ahmadmssm I don't think so.

[2021-07-25 22:31] ahmadmssm commented on #379
Thank you, I tried but It didn't work

[2021-07-26 03:40] hossainemruz commented on #379
Can you point me to your post where you tried with custom hero image? It should work. It working on the  demo site.

[2021-07-26 03:41] hossainemruz commented on #240
This should have been fixed in the latest release. The demo site already uses an example of custom hero image.
https://raw.githubusercontent.com/hugo-toha/hugo-toha.github.io/source/content/posts/category/sub-category/rich-content/index.md

[2021-08-01 07:40] Chow-Ray opened #387 "Feature Request"
### Describe the solution you'd like

Is it possible to add a last modified time to the article？
### Describe alternatives you've considered

I added the code in the following location , but the last modification time of the file cannot be read automatically, only the manual modification time is available.
`config.yaml`
[code]
`\layouts\_default\single.html`
[code]
I am not a professional programm

[2021-08-01 08:59] hossainemruz commented on #387
You have to set `enableGitInfo: true` in your `config.yaml` file.
Ref: https://gohugo.io/variables/git/#gitinfo-prerequisites

[2021-08-01 10:17] Chow-Ray commented on #387
Sorry, after I configured `enableGitInfo: true` in my `config.yaml` file., it still doesn't work😢

[2021-08-02 03:10] ormissia opened #388 "The navigation bar does not display the notes/posts button text"
## Expected Behavior

Set defaultContentLanguage: cn in config.xml

## Current Behavior

The navigation bar does not display the notes/posts button text, [for EX.](https://ormissia.github.io)
But the link still exists

Maybe since 2021-7-30~2021-8-1

[My complete config file](https://github.com/ormissia/ormissia.github.io/blob/cd85c9812c1b54474c109b9a93b6440786ca5bef/config.yaml#L5)

[code]

[I en

[2021-08-02 03:47] Chow-Ray commented on #388
在网站配置文件中，把语言改成zh-cn，将`/data/cn/`文件夹改为`/data/zh-cn/`
主要原因是有台湾的朋友上传了繁体中文，但后缀是`.zh`为了统一汉化格式，我将简体中文汉化改为`.zh-cn`，繁体中文改为`.zh-tw`，最开始的时候，我以为不会有很多汉语种的人用，就没有做繁体汉化，具体的，你看下新的汉化文件就明白了，不懂的在联系我，都是中国人，我就不发英语了。
@ormissia

[2021-08-02 06:18] ormissia commented on #388
issue fixed, thx  🍻

[2021-08-02 06:18] #388 closed

[2021-08-04 03:25] Rihoj commented on #379
I am having the same issue. My directory structure was content -> posts -> file.md, I have tried placing the image files in assets, static, and in content -> posts -> images. I found I had to have the following:
1. A sub folder under post.
2. The file had to be named index.md
3. and the image had to be located in the sub folder in another folder called images.

I was not required to have image nam

[2021-08-06 15:28] Chow-Ray opened #392 "bug--BUG that cannot use GIF avatar"
## Expected Behavior

If  set the code like this, it will cause the GIF format avatar to be unusable。
https://github.com/hugo-toha/toha/blob/8f239a0ddc8af36a64881925108a443d65409380/layouts/partials/sections/home.html#L108

##  Solution

Set the code as follows to solve the problem. It is up to you to decide whether to fix it.
[code]
### Browsers Affected

- [X] Chrome
- [X] Firefox
- [X] Edge
- [

[2021-08-08 16:34] #381 closed

[2021-08-08 20:23] Rihoj commented on #291
I can not see any bug with the [documentation](https://toha-guides.netlify.app/posts/configuration/site-parameters/#add-author-information). The images/avatar.png file location should not be in the theme directory, but in your site's `assets/` directory.

You can see how the guide is storing the images [here](https://github.com/hugo-toha/guides/tree/main/assets/images/author)

[2021-08-08 20:28] Rihoj commented on #293
@HenzelMoras This seems like it would be beyond the scope of a theme and more a feature request for hugo. I did manage to find where someone else has created a [custom implementation](https://discourse.gohugo.io/t/generate-hugo-website-as-a-pdf/22855/4) that might be worth your time.

[2021-08-08 21:40] Rihoj commented on #392
This seems to be related to #209 as well. After doing some digging it appears this is more of a limitation of the imaging code that is in hugo itself. You can reference gohugoio/hugo#5030

In regards to your solution, this means all the image manipulation that is performed on the asset would no longer be performed, and the file would not be stored in the `assets` folder, but instead in the `static

[2021-08-08 21:54] Rihoj commented on #387
@Chow-Ray I followed the steps you listed above and I get the file's last modified time showing.
![image](https://user-images.githubusercontent.com/1520296/128646807-765448f5-2029-4d2b-95fd-ae467e14ec5f.png)

If you could give more details as to what you are seeing I might be able to help

[2021-08-09 03:03] hossainemruz commented on #392
You can put the `gifs` in the assets folder even if the  image processing are not applied on them. @Rihoj  go ahead with the hack. I will be happy to accept.

[2021-08-09 03:48] HenzelMoras commented on #293
@Rihoj  thanks ill look into it

[2021-08-09 04:40] Chow-Ray commented on #387
@Rihoj ，Thank you so much for helping me！
config.yaml
[code]

Front Matter
[code]

[2021-08-09 05:33] Chow-Ray commented on #392
@Rihoj @hossainemruz
Thank you very much for finding a way to solve the problem for me, and hope to solve this problem in the future. I am not a professional programmer, but I like Toha very much. Because I like it, I did a Chinese translation for it. I hope it will get better and better. Thank you excellent programmers for making such an excellent theme.

[2021-08-09 11:13] Chow-Ray commented on #387
@Rihoj
The about page can automatically display the modification time, like the second picture.
The page in the post cannot automatically display the modification time, like the third picture.
![image](https://user-images.githubusercontent.com/29678677/128697152-056215bc-40f4-420b-81db-458114077c10.png)
![image](https://user-images.githubusercontent.com/29678677/128697240-982b7785-6f00-41d2-a37c-e

[2021-08-09 12:09] Rihoj commented on #387
@Chow-Ray Try moving the frontmatter configuration outside of the params. Mine file is setup as:

[code]

The repo url is not required for this, but was included for reference.

[2021-08-09 12:38] Chow-Ray commented on #387
@Rihoj
You are really great! Perfectly solved the problem! Thank you very much!

[2021-08-09 12:39] #387 closed

[2021-08-10 01:35] Rihoj commented on #392
This was specifically targeted at using `| relURL` not appling the image processing and being in the assests folder. Where as using `.RelPermalink` does the intended behavior.

[2021-08-10 02:39] #209 closed

[2021-08-10 02:39] #392 closed

[2021-08-11 16:37] donfiguerres commented on #349
I think this is a duplicate of #59 .

[2021-08-13 13:23] Chow-Ray commented on #349
When will version 4.0.0 be released? Special look forward to。

[2021-08-13 13:30] hossainemruz commented on #349
No planned timeline yet. I am busy with some other stuffs. Expect minimum 3-4 months delay.

[2021-08-14 21:47] Rihoj commented on #349
@hossainemruz Do you have anything planned out and willing to share to see if this community could help progress the timeline to meet your vision?

[2021-08-15 06:23] hossainemruz commented on #349
Actually, I don't have a plan yet.

[2021-08-18 04:49] hossainemruz opened #398 "Add post explaining content structure"

[2021-08-19 17:15] Rihoj opened #399 "Flag 404 bug"
## Expected Behavior
Either don't try to load the files or include them in the theme.

## Current Behavior
Tries to load svgs for the flags, that don't exist

## Possible Solution
Check for files first, or just include them in the theme

## Steps to Reproduce
1. If you open the Devtools network or console you will be able to see 258 errors of 404s https://rayprogramming.com

### Screenshots
![imag

[2021-08-22 22:52] IhnwhiHeo opened #400 "New feature in education: supervisors & thesis"
Hi folks,

I appreciate this awesome theme for a personal website. I would like to request a new feature for the education section. How about adding a subsection to list supervisors' names and thesis topics? I do see there are rooms for publication, but it would be nice to have separate rooms for the thesis. Likewise, adding supervisor names would make this theme more attractive for those in acade

[2021-08-29 00:40] MarionMoseby opened #404 "Why are some i18n variables disabled in all languages?"
For example, in i18/es.toml, read is disabled, as well as in ru.toml and bn.toml. Is there a good reason for this, or can I make a MR with the translated strings in spanish? I am a native

[2021-08-29 06:24] HabibRh26 opened #405 "bug"
## Expected Behavior

I used the theme to build my portfolio site(almost 9 months ago), In mobile browser, the nav icon should close auto after selecting an item from menu. </br>
My site link: [here](https://habibrh26.github.io/#NaN)

## Current Behavior

From mobile(xiaomi-android) browser, once I click the nav icon and select a menu it does not close automatically and when I select one menu two

[2021-08-29 08:47] hossainemruz commented on #405
Can you please try upgrading to the latest version. This should be fixed.

[2021-08-29 08:49] hossainemruz commented on #404
Actually, those strings hasn't been translated yet. I have keep them commented out so that others can contribute those translations.

[2021-08-29 08:49] #404 closed

[2021-08-29 19:07] t-benedet opened #410 "Problem with the background ?"
### Question

Hi,

I've closed my first issue and I open this one with more details :

I've a problem with the toha theme, when I try to change the background.

My config.toml :
[code]

As you can see, I've a put the paramater `background = "images/default-background.jpg"` but the picture doesn't appear as a background.

What I don't understand is : for the parameters `main`, `inverted` and `favic

[2021-08-30 03:53] hossainemruz commented on #410
The problem is happening because your `https://ezzmazz.gitlab.io/blog/`  has `blog` at the end. When the theme is trying to get the relative resource URL, its getting resource relative to `https://ezzmazz.gitlab.io` not relative to `https://ezzmazz.gitlab.io/blog/`. That's why this line is adding an extra `blog` at the resource url.
https://github.com/hugo-toha/toha/blob/c68a0e20afa24528ceeef85d2c

[2021-08-30 18:56] t-benedet commented on #410
Thanks for the answer.

So I've to update the BaseURL value in my config file ?
[code]

If I do that, the theme doesn't appear as you can see here https://ezzmazz.gitlab.io/blog/

[2021-08-31 12:31] t-benedet commented on #410
Maybe the problem is that with gitlab, there is no `/blog` at the end of the github pages URL.

To use with gitlab, I've a found this workaround :

- Update the **home.html** file like that :
[code]

- Create an **images** directory in the static directory of the blog with de default-background.jpg inside, as you can see [here](https://gitlab.com/Ezzmazz/blog/-/tree/master/static/images)

- Keep t

[2021-08-31 12:48] hossainemruz commented on #410
Ok.  Then, I think you can close this issue.

[2021-08-31 12:51] #410 closed

[2021-08-31 14:26] DocKDE opened #411 "socialLinks don't display"
Hi,
I've been following the docs and stumbled across this issue. My `about.yaml` file looks like this:

[code]

And everything is fine, except the social Links are not displayed. I took this part from here: https://toha-guides.netlify.app/posts/getting-started/prepare-site/#about-section. Am I missing something here?

[2021-08-31 14:39] hossainemruz commented on #411
Please follow the following file format: https://github.com/hugo-toha/hugo-toha.github.io/blob/source/data/en/sections/about.yaml

If you still face the issue, please point me to your repo so I can take a look.

[2021-08-31 14:50] DocKDE commented on #411
I copy-pasted the `about.yaml` at that location but it still didn't work. However, it appears to have been an issue with my browser. It seems the icons were filtered out by something.

[2021-08-31 15:00] hossainemruz commented on #411
Ok. Then, I think you can close this issue.

[2021-09-02 09:04] DocKDE opened #414 "Serve Font Awesome locally"
Hi,
I'd like to serve Font Awesome locally without using the cloudflare CDN for privacy reasons. I downloaded the appropriate files and put the `webfonts` folder and `all.min.css` in the `static` directory. I then edited the `layouts/partials/header.html` and replaced the line
[code]
with
[code]
This will result in the social icons in the `about` section to be rendered correctly. However, the plus

[2021-09-02 11:01] hossainemruz commented on #414
Can you check the console log in `posts` page? You can also provide a link to your website so I can take a look.

[2021-09-02 19:40] hossainemruz commented on #414
Add this to `header.html` too.
[code]

[2021-09-02 19:46] DocKDE commented on #414
Tried that but it didn't help.

[2021-09-02 19:56] #414 closed

[2021-09-10 17:54] lgatellier commented on #96
Hi @hossainemruz,
I think this issue can be closed, since these words have been added to i18n configuration in #234. 😉

[2021-09-10 19:05] #96 closed

[2021-09-22 19:57] DocKDE opened #419 "Separator on navigation bar missing"
Hi, I noticed recently that the separator in the navigation bar does not appear on my site as opposed to the example site. I didn't change anything in the css there so I'm not sure why that is.
My site is at https://thedoctor.codeberg.page/ and the source code can be found here: https://codeberg.org/theDoctor/pages

[2021-09-28 12:51] Emily-0616 opened #426 "year-month-date format"
Hello, how can I customize the post time? I want to see the year, month, day, hour, minute, and second. I can only see the year, month, and day?

[2021-09-28 14:42] #426 closed

[2021-09-28 14:42] Emily-0616 commented on #426
https://gohugo.io/functions/format/#hugo-date-and-time-templating-reference

[2021-09-29 03:22] Emily-0616 commented on #167
Can you plan recently?

[2021-09-29 04:36] hossainemruz commented on #167
Actually, I am working on another theme for documentation(still work-in-progress): https://docklify.github.io/
This documentation theme will use SCSS, dark mode, new blog page structure etc. Once I am done with that theme, I will restructure this theme. This theme will inherit the documentation module of the new theme.

[2021-09-30 02:23] Rihoj commented on #400
@IhnwhiHeo Can you give an example of how you envision this looking? I would assume that since you can add a URL to the publication you would just link to the copy and allow the additional information to be presented there. However, if you are able to give an example of what you are expecting I can see what I can do.

[2021-09-30 02:53] Rihoj commented on #419
Well, the logic to enable the divider is as follows:
[code]

Without being able to see your config files I do not think I can help you beyond that.

[2021-09-30 03:04] Rihoj commented on #167
@Emily-0616 I have done something similar to what you request with my blog site. https://github.com/Rihoj/rayprogramming.com You will need to make some layouts for the page, check layouts.photography. Hopefully this points you in the right direction. I was never able to figure out how to phrase this for a post. I did references pieces of hugo-toha/guides#13 to help as well.

[2021-09-30 09:45] DocKDE commented on #419
Sorry, I didn't realize the config wasn't included in the code I posted. I had a look at the logic and realized that I hadn't set `features` section in the `config.yaml` file and also not enabled blog posts in there. This is not quite obvious from the docs as there is a top-level option for enabling blog posts already which I had set.
Anyway, I figured it out now, thanks!

[2021-09-30 09:45] #419 closed

[2021-10-01 10:16] amankumar11 opened #430 "Dark theme button"
### Describe the solution you'd like

will make a button in the nav, clicking which the website would go in dark theme

.

I would like to work on this feature under Hacktoberfest label

[2021-10-01 10:52] hossainemruz commented on #430
Sure go on.

[2021-10-01 18:28] amankumar11 commented on #430
I am not able to run the site, the HTML written is something very different can you pls guide me how to do the setup so that i can run it on my machine.

[2021-10-03 03:31] MarionMoseby commented on #430
@amankumar11 What do you not understand? Maybe the issue is that this is a HUGO template, and not plain HTML?

[2021-10-03 04:24] amankumar11 commented on #430
Yes, how to setup a hugo template?

[2021-10-03 04:29] MarionMoseby commented on #430
IMHO this might be too complicated for a first issue, but you can check [Toha's offcicial guide](https://toha-guides.netlify.app/posts/getting-started/prepare-site/)

[2021-10-03 08:50] yas-sisodia commented on #430
@amankumar11 please allow me to work on this project

[2021-10-03 09:23] amankumar11 commented on #430
ok, you can start @yas-sisodia

[2021-10-09 12:01] Nirzak commented on #399
Hi, I don't see any such errors on my end. May be you should upgrade your themes to the latest one.
![Screenshot (3770)](https://user-images.githubusercontent.com/11460645/136657053-29f981a5-90e3-41ab-9b6c-d4ae328582ec.png)

[2021-10-09 12:11] reyhhan commented on #233
Hi, does this issue still persist? If it does, I would like to work on this.

[2021-10-09 12:15] Nirzak opened #433 "Footer nevigation redirects to english site in case of language-specific site"
## Expected Behavior

The navigation panel on the footer should navigate sections on that particular site. For example:
If I go to https://domain.com/bn (the Bengali site) and click on "about" from the footer navigation panel, then it should navigate to the link https://domain.com/bn/#footer I mean inside of the Bengali section of the site.
## Current Behavior

But instead of that, it redirects to

[2021-10-10 11:25] hossainemruz commented on #233
@reyhhan Yes. Please, go ahead. I will love to see a PR.

[2021-10-11 19:51] reyhhan commented on #233
I just tried out the example site and these are the steps that I followed.

1. Forked example [site repo](https://github.com/reyhhan/hugo-toha.github.io)
2. Ran the command as explained on README file -> _git clone git@github.com:hugo-toha/hugo-toha.github.io.git --recursive_

Output :
_Cloning into 'hugo-toha.github.io'...
git@github.com: Permission denied (publickey).
fatal: Could not read from

[2021-10-17 04:21] pboling opened #435 "Why does the top menu disappear on the Blog / Posts / Reading views?"
### Question

I've tried to understand why this might be, but I can't.  It is a limitation of Hugo?  Or was is a design decision?  I love everything about this theme, except that.

[2021-10-17 05:10] hossainemruz commented on #435
What do you mean by top menu disappear? Can you please share a screenshot?

[2021-10-18 04:12] hossainemruz commented on #435
It was by design. The home page and post pages uses separate top bar. I think we should probably make the two topbar identical.

[2021-10-18 18:16] #154 closed

[2021-10-18 19:11] hossainemruz opened #439 "Feature: Collapsible codeblocks"
### Describe the solution you'd like

Large codeblocks should be collapsible to make the page more easier to navigate.

Inspiration: https://neonmirrors.net/post/2021-06/policy-k8s-customresources/

### Describe alternatives you've considered

### Additional context

[2021-10-19 21:50] Chandler-Stewart opened #440 "Is there any idea of what is creating an "Access is denied" error when starting a hugo server with toha?"
### Question
I keep running into this error, including when I started from scratch. I get an Access denied error, and it seems to happen with images. The error after running `hugo server` from a site created from scratch (ie, after `hugo new site` command, then `git submodule add https://github.com/hossainemruz/toha.git themes/toha`)

Error log:
`C:\Users\John\Documents\john-doe.github.io>hugo ser

[2021-10-20 10:36] Nirzak opened #441 "Uncaught reference error: adjustSkillCardsHeight() is not defined"
## Expected Behavior

There should be a declaration for this function in home.js file.

## Current Behavior

But no function titled "adjustSkillCardsheight()" is defined. This might also cause other errors such as skill cards will not resize when reduce to mobile screen and etc.
## Possible Solution

Either this function should be defined or be deleted if is not useful.

## Steps to Reproduce

1.

[2021-10-20 16:11] flowgunso opened #443 "Soft skill badge name overflow"
## Expected Behavior
Soft skill badge name to be displayed properly.

## Current Behavior
When the badge name is too long, it is not displayed in it's entirety. The line-height property being set to 135px, the wrapped text is displayed further down.

## Possible Solution
I've made a quick fix in the class _.circular-progress-value_ using flex display with the following changes:
[code]
I'm fine wit

[2021-10-21 04:53] NSerbin commented on #400
And Why not another tab like Languages ?

[2021-10-21 09:18] #443 closed, assigned to nobody

[2021-10-28 23:03] hossainemruz opened #449 "Add workflow to update project automation"
## Expected Behavior

This bug report has been created to test the Project automation workflow for Issues.

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2021-10-29 05:14] hossainemruz opened #450 "Disqus comment not working after adding valine comment support"
## Expected Behavior
Issue appearing after merging this PR: https://github.com/hugo-toha/toha/pull/446

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2021-10-29 16:37] #450 closed, assigned to hossainemruz

[2021-10-29 18:16] Chow-Ray opened #453 "Feature Request"
### Describe the solution you'd like
Can the navigation bar be displayed on pages such as post and notes?
![QQ截图20211030020945](https://user-images.githubusercontent.com/29678677/139483132-ae616ca7-3d87-4f05-b5ae-96fee1887ece.png)
![QQ截图20211030021145](https://user-images.githubusercontent.com/29678677/139483149-0e9a3f98-3bc2-4d46-bfc9-3dde5b4bd79b.png)

### Describe alternatives you've considered

[2021-10-29 18:36] hossainemruz commented on #453
Duplicate of https://github.com/hugo-toha/toha/issues/435

[2021-10-29 20:11] #453 closed

[2021-10-30 05:33] pboling commented on #440
`git submodule add https://github.com/hossainemruz/toha.git themes/toha`

You are reporting this bug to `https://github.com/hugo-toha/toha`, not `github.com/hossainemruz/toha`.  Are you sure you are using the repo you think you are using?

[2021-11-01 18:45] hossainemruz opened #455 "A sample feature request"
### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-11-01 18:49] #449 closed

[2021-11-01 20:21] pboling commented on #441
Having this same error.  Not sure when but my [toha themed site](https://railsbling.com) is now completely broken, and although I don't think it is related, this is the only error.

[2021-11-01 20:22] pboling commented on #440
@Chandler-Stewart It may also be due to file permissions?  What permissions are on the file that gets denied, e.g. `logo_hu8376fd15465fef26ffe66b6bcf0ca686_13669_32x0_resize_box_3.png`

[2021-11-01 20:39] hossainemruz commented on #441
@pboling It seems your website is looking for the CSS files in `https://railsbling.com/assets/css/layouts/` directory where they are available at `https://railsbling.com/css/layouts/` directory. I am not sure why.

[2021-11-01 20:48] Nirzak commented on #441
I think you should update to the latest toha theme and also check the baseURL of your config.yaml file.

[2021-11-01 22:42] Chandler-Stewart commented on #440
I restarted, yet again. It was fixed and likely to your first point, thank you!

[2021-11-01 22:42] #440 closed

[2021-11-02 18:45] hossainemruz opened #457 "Show less/more button not working because id conflict"
## Expected Behavior

Ref: https://lknespler.github.io/#education
![image](https://user-images.githubusercontent.com/12577390/139926052-2ebeb048-3471-4cfa-ae10-285ebd6dbd39.png)

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Descrip

[2021-11-03 18:10] hossainemruz opened #459 "A sample bug report"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2021-11-04 21:18] #459 closed, assigned to nobody

[2021-11-07 21:18] xephon2 opened #461 "How to add an imprint"
First, thank you so much for this beautiful theme. It's a lot of fun to create a website based on this theme and Hugo.

### Question

In Germany it is mandatory, because of [§5 of the TMG](https://www.gesetze-im-internet.de/tmg/__5.html), to add an imprint. I don't understand how I can add an additional page to hold this information. How can I create an extra page? I'm new to Hugo, so please excus

[2021-11-07 21:20] xephon2 commented on #461
Duplicate of https://github.com/hugo-toha/toha/issues/83

[2021-11-07 21:53] xephon2 commented on #461
The solution is explained in [this PR](https://github.com/hugo-toha/guides/pull/13/files#diff-17a7d329aa34454522129d7d2f6be9458f17ecda989d4f3cbdd3a6c8c14a234f)

[2021-11-07 21:53] #461 closed

[2021-11-08 05:28] pboling commented on #441
I had hard coded `assets/` into the source refs... not sure why.  The site is working again!

[2021-11-08 05:31] pboling opened #462 "Document: To Resize webp bg image must use Hugo extensions"
See the [Github action build here](https://github.com/pboling/railsbling.com/runs/4134197249?check_suite_focus=true#step:4:6).

 It seems that in order to use Resize on a webp image I need extensions.  Perhaps this could be suggested and documented, as webp images often are ¼ the size of a low quality jpeg.

 ~UPDATE: Very confused.  I am running Hugo 0.89.1, and [Resize of webp was added in 0.83]

[2021-11-08 06:16] #462 closed

[2021-11-08 08:09] kingabzpro opened #463 "Feature Request: adding ko-fi floating button"
### Describe the solution you'd like
I want to add Ko-fi floating button: https://ko-fi.com/Manage/donation-widget-setup

### Describe alternatives you've considered
I am not good at web development.

### Additional context
I want to add this:
[code]

[2021-11-08 09:51] hossainemruz commented on #463
Where do you want this button? In every page? Does it has to be a floating button? You can add a custom menu in the navbar. You can add the support button there. Will it meet your requirement?

[2021-11-08 09:57] kingabzpro commented on #463
Yes floating button looks awesome, but for now can you explain how do i add support button on navbar?

[2021-11-08 11:10] hossainemruz commented on #463
Just add `customMenus` in your `data/en/site.yaml` file.
Ref: https://github.com/hugo-toha/hugo-toha.github.io/blob/49a07c987c88fc01febdf268bd9cf217ae10e2c5/data/en/site.yaml#L14

[2021-11-08 11:49] kingabzpro commented on #463
Thank you, It worked.

[2021-11-08 12:25] hossainemruz commented on #463
You are welcomed. Can you please, close this issue now?

[2021-11-08 12:48] kingabzpro commented on #463
Will you every add support for the donation or contribution button so that people can contribute? I mean its part of eco system.

[2021-11-08 12:51] kingabzpro opened #464 "I want to use your theme in my blog post"
### Question
I want to use your theme in my blog post, do I have your permission to use your repository or code to explain how to create Data Science portfolio as non web developer?

[2021-11-08 14:17] hossainemruz commented on #464
Sure. It's under MIT license. That's means you are free to use, modify, rebrand for any commercial or non-commercial purposes.

[2021-11-08 15:34] hossainemruz commented on #463
We can do that. Reopening this as feature request.

[2021-11-10 01:51] ormissia opened #466 "Feature Request(add comment plugin utteranc)"
### Describe the solution you'd like

Add comment plugin utteranc.
It can save ours comment message using by github issue like this

<details>

![image](https://user-images.githubusercontent.com/55517494/141034833-827ae121-0171-46c1-a822-1dcb19813e37.png)

![image](https://user-images.githubusercontent.com/55517494/141034932-867193e2-af8b-426f-b3ff-32d3cbe4269f.png)

</details>

I have submitted p

[2021-11-17 17:16] hossainemruz opened #467 "Add Bot to label Issue/PR based on user comment"
### Describe the solution you'd like

Example:
![image](https://user-images.githubusercontent.com/12577390/142249253-e10cc7db-fa39-41dc-b186-73d58978b962.png)

### Describe alternatives you've considered

### Additional context

[2021-11-18 17:17] #466 closed

[2021-11-18 19:22] MarionMoseby commented on #464
In fact @hossainemruz talking about modifications, I have seen @Javinator9889's toha and ¡I think its great! [See it here](https://www.javinator9889.com/), I think we might want to merge some of his improvements into upstream (I'll try)

[2021-11-18 19:38] Javinator9889 commented on #464
Please, do it @MarionMoseby! It would be awesome to have some of my changes at the base repository 😊

I think you can easily do a cherry pick of the commits you like and you will be ready to go!

[2021-12-05 04:07] anverbogatov commented on #379
Hi there,
Customization of hero image do not work for me either.

In my case, I am mostly interested in changing hero image through post's front-matter. In that case, I think the problem is in `toha/layouts/partials/helpers/get-hero.html`. Default hero image load logic looks like this:
[code]
But when you change `heroImage` init to:
[code]
images on posts become customizable through front-matter.

[2021-12-07 07:42] fabiofenoglio opened #472 ""Show more" button in the "Taken Courses" toggles the wrong element"
## Expected Behavior
When the "Education" section contains multiple entries with "Taken Courses" in list mode (noGrades) with more than two elements, clicking on the "Show more" shows the hidden list elements and hides the "Show more" button correctly.
The "Show less" button should become visible in the correct section as well.

## Current Behavior
The "Show less" button in the first section becom

[2021-12-07 11:08] Petrichor31 commented on #379
@anverbogatov Hi, sorry but I cannot get your fix work.
What is the complete get-hero.html?
Should I put some particular information in the frontmatter of my .md files (except hero: image.svg)?
Thank you

[2021-12-07 14:48] anverbogatov commented on #379
Hey @Petrichor31 , sorry for long response. So, here is my configuration.
1) I have created an override for `get-hero.html` file in my project's folder in: `[project-root]/layouts/partials/helpers/get-hero.html`
2) I have put following content to the file:
[code]
3) I have put images that I have used as covers to my posts to `assets` folder
4) In my posts md files I have used `hero: path_to_image_

[2021-12-07 17:40] #472 closed

[2021-12-07 17:54] fabiofenoglio commented on #457
https://github.com/hugo-toha/toha/pull/473 should have fixed this too

[2021-12-07 17:56] hossainemruz commented on #457
Thank you again.

[2021-12-07 17:56] #457 closed

[2021-12-08 10:46] Petrichor31 commented on #379
@anverbogatov thanks a lot, that worked for me!

[2021-12-08 16:07] anverbogatov commented on #379
@Petrichor31 really nice too hear that!! 🤝

[2021-12-22 08:23] TimJones commented on #379
@anverbogatov Thanks for the workaround! Are you able to create a PR to fix this bug in the theme directly? If not I'd be happy to with your consent.

[2021-12-22 09:28] anverbogatov commented on #379
Hi Tim, yes, please do a PR if you want. I am not sure if that is the right way to fix the theme (for me it was just a workaround). But if you think it is - please create PR and fix the problem :-)

[2021-12-23 08:32] sumit-satsangi opened #478 "Rmd files in blog"
### Question
Thank you for such an awesome theme and a detailed help section. I am fairly new to markdown and Hugo in general. I would like to create .Rmd pages for the blogs because I want to show the code output as well along with rich content. Is it possible to do that? If yes, would really appreciate if you can guide how.

[2021-12-23 09:20] hossainemruz commented on #478
Currently, Hugo does not support `.rmd` files. However, it seems there is a [workaround by adding a shortcode](https://github.com/thomasmarkrea/r2hugo). I will take a look.

[2021-12-25 10:54] Anihilakos opened #479 "Feature Request"
Hi,
first of all thanks for the amazing and well put theme. I have created locally 2 additional fab-icons in footer.html, it would be great if you can add them on core. Please find the code below.

[code]
 Thanks again and happy holidays,
 Iason

[2021-12-25 13:16] nuhyurduseven opened #480 "I can't get site.Params.background or anything in config.yaml parameters"
### Question

I can't get site.Params.background or anything in config.yaml parameters. I tried to do  for background and disabling newsletter  but both are not working.  I think it cannot read config.yaml. How can I fix it?

[2021-12-25 14:05] hossainemruz commented on #480
Make sure you don't have both `config.yaml` and `config.toml` files. If you point me to your repository, I can take a look.

[2021-12-25 14:07] hossainemruz commented on #479
Can you please explain why it is needed? How other users can benefit from it.

[2021-12-25 14:08] nuhyurduseven commented on #480
Yes, I did  and done. Thank you.

[2021-12-25 14:08] #480 closed

[2021-12-25 21:22] NSerbin commented on #430
Any updates ?

[2021-12-26 15:58] MarionMoseby opened #482 "Improve Video Shortcut"
### Describe the solution you'd like

The current video shortcut is not very configurable. By default, videos occcupy huge spaces, and use plyr, which, while it looks great, ofuscates a bit how to improve the shortcode. I would like something similar to the image shortcut, in the lines of:

[code]

[2021-12-26 16:15] MarionMoseby commented on #482
I have tried wrapping it inside a DIV, but it just doesnt center

[2021-12-27 04:29] hossainemruz commented on #482
Thank you @MarionMoseby for reporting this issue. I will take a look soon.

[2021-12-29 19:27] IhnwhiHeo commented on #400
@Rihoj Hello! Currently, there are subsections like CGPA, Publications, and Taken Courses. I would like to add a custom-made subsection such as Advisor(s), Honors and Awards, etc. Tried to add it but it failed (seems like I can only add those that are hard-wired).

[2021-12-31 09:43] Anihilakos commented on #479
I just thought more icons for everybody, but ok I understand these are for my use case mostly.

[2021-12-31 09:43] #479 closed

[2022-01-02 19:05] t-muehlberger opened #485 "Nav-Bar is not displayed correctly when using a link that contains a section"
## Expected Behavior
When visiting the page via a link that references a section (such as [https://hugo-toha.github.io/#skills](https://hugo-toha.github.io/#skills)) the nav-bar should be displayed correctly as shown in below screenshot.

![Screenshot from 2022-01-02 19-55-44](https://user-images.githubusercontent.com/26621348/147886424-34c8b62d-6d45-44c1-964e-08db70aa0f7f.png)

## Current Behavio

[2022-01-03 03:47] hossainemruz commented on #485
@t-muehlberger I can confirm the issue. It will be great if you can send a PR.

[2022-01-04 04:43] #485 closed

[2022-01-04 14:45] t-muehlberger commented on #441
I am having the same issue, what happened to the implementation of the `adjustSkillCardsheight()` function? Can it be removed or will this cause a Bug?

[2022-01-04 15:27] #441 closed

[2022-01-04 15:28] hossainemruz commented on #441
@t-muehlberger this functionality is now done by CSS. We removed the unnecessary `adjustSkillCardsheight()` function but forgot to remove the reference to it. Try pulling the latest `main`. This should be fixed in #488

[2022-01-06 22:12] cmarquezrusso opened #489 "Fatal error after upgrading to 3.0.0 - nil pointer evaluating resource.Resource.MediaType - Favicon"
## Expected Behavior
hugo server running

## Current Behavior

[code]
## Possible Solution

## Steps to Reproduce
1. Clone my repo https://gitlab.com/cristian.russo/cristianblog2020
2. Update git submodule to use v.3.0.0 of the toha theme
3. Try hugo server
4. Move images from /static to /assets
5. Try hugo server

### Screenshots

### Browsers Affected
NA

## Detailed Description

[2022-01-09 07:34] Rihoj opened #490 "Feature Request"
### Describe the solution you'd like
I would like to see the use of shortcodes like "note" to be used inside a split tag. Currently it tries, but then spits out HTML.

[2022-01-09 20:55] hossainemruz commented on #490
I can confirm the issue. Not sure what causing it.

[2022-01-10 15:42] stueja opened #491 "how can I make data/author.yaml multilingual?"
### Question
I love the multilingual feature of toha. Unfortunately, I couldn't find a way to make the author information in data/author.yaml multilingual. (Neither data/english/author.yaml nor author.en.yaml, likewise other languages work).
How can I make the author information multilingual?
Thanks alot.

[2022-01-10 16:33] hossainemruz commented on #491
You have to put your data under respective language short code folder. For example, you have to put the English version of your data under `data/en` directory. Here, is an example: https://github.com/hugo-toha/hugo-toha.github.io/tree/source/data

You also have to set `languages` section in your `config.yaml` file. Here is an example: https://github.com/hugo-toha/hugo-toha.github.io/blob/9495ea8e8

[2022-01-10 17:24] stueja commented on #491
First, thanks for the lightning fast answer.
Then, it worked perfectly using `data/en` instead of `data/english`.
Thanks alot!

[2022-01-10 17:24] #491 closed

[2022-01-10 22:04] stueja commented on #244
Same for me, @rshah1990 . How did you solve that?

[2022-01-12 21:18] stueja opened #494 "Navigation not working when section title is hidden"
## Expected Behavior
Even when the section title is hidden, a click onto the navbar should scroll to the corresponding section.

## Current Behavior
If the section title is hidden (`hideTitle: true` in e. g. `data/en/sections/experiences.yaml`), a click onto "Experiences" in the navbar does nothing.

## Possible Solution
Make the anchor independent from the title.

## Steps to Reproduce

1. set `h

[2022-01-13 04:00] hossainemruz commented on #494
Thank you @stueja for reporting this issue. In order to fix this, we should still add the respective title header but set it's `display` property to `None` when `hideTitle` is `true`.
Ref: https://github.com/hugo-toha/toha/blob/21344642679180b091ff1772dc0e3d52b0b6584c/layouts/partials/sections/education.html?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwar

[2022-01-13 19:57] hossainemruz commented on #399
This should be fixed now. Please, try upgrading to the latest release. Feel free to reopen if not fixed.

[2022-01-13 19:57] #399 closed

[2022-01-13 20:04] hossainemruz commented on #489
@cmarquezrusso Please make sure you have `favicon` set in your `config.yaml` file.
Ref: https://github.com/hugo-toha/hugo-toha.github.io/blob/9495ea8e80720286f63cda0d75e2dcc6ae0700f7/config.yaml#L54

[2022-01-16 22:23] stueja opened #498 "Language selector on mobile works only on second tap"
## Expected Behavior
On a mobile phone or tablet, when tapping on the language in the language selector, the list of languages should appear.

## Current Behavior
When tapping onto the language selector, the meu closes.

## Possible Solution

## Steps to Reproduce

1. On iPhone or iPad, open Safari or Firefox Mobile
2. open a toha webpage with at least two languages configured, e. g. hugo-toha.git

[2022-01-17 03:37] hossainemruz commented on #498
I can confirm the issue. Thanks for reporting.

[2022-01-18 05:01] Chow-Ray opened #503 "bug--#493,will cause more to display the wrong number of items."
## Expected Behavior

will cause more to display the wrong number of items.
#493
## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [x] Firefox
- [x] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

![QQ图片20220118124901](https://user-images.githubusercontent.com/29678677/149873741-7ac05242-

[2022-01-18 08:02] stueja commented on #494
Proposed solution, one example amongst others.
[code]

[2022-01-18 08:32] hossainemruz commented on #494
Sure @stueja. Go ahead.

[2022-01-19 18:32] #494 closed

[2022-01-20 04:08] Chow-Ray commented on #503
@stueja @hossainemruz

[2022-01-20 14:44] pvojar opened #508 "Search doesn't work on deployed site"
## Expected Behavior
Search feature should work on deployed site on Azure Static Web apps.

## Current Behavior
Search doesn't return any results on deployed site.
On Localhost development works without any problems.

## Possible Solution

## Steps to Reproduce
deploy toha site to Azure Static Web Apps, try search for post.

On Azure DevOps I found following warning

``WARN 2022/01/20 14:31:38 Mod

[2022-01-20 21:59] stueja commented on #503
@Chow-Ray , can you please be a little more specific in your bug report as what you expected and what happens? Thanks.

[2022-01-21 05:23] hossainemruz commented on #503
I can confirm the issue. The solution is to start this counter from `1`.
Ref: https://github.com/hugo-toha/toha/blob/99a131fe438870d16891623bda3634befa372d70/layouts/partials/navigators/navbar.html?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L90

[2022-01-21 05:27] hossainemruz commented on #503
Should be fixed by https://github.com/hugo-toha/toha/pull/509

[2022-01-21 05:27] #503 closed

[2022-01-23 02:51] shineyruan opened #511 "Home Page Scrolling is Super Laggy in Safari"
## Expected Behavior

Scrolling in home page should be smooth

## Current Behavior

Scrolling in home page gets choppy on latest Safari (v15.2)

## Possible Solution

## Steps to Reproduce

1. Open the latest version of Safari (v15.2)
2. Navigate to the demo website
3. Scroll up and down
4.

### Screenshots

### Browsers Affected

- [x] **Safari 15.2**
- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] S

[2022-01-24 11:35] hossainemruz commented on #511
I don't have a M1 mac. So, I can't debug the issue. If anyone can contribute the fix, it will be greatly appreciated.

[2022-01-27 13:12] stueja commented on #511
I have an M1 MacBook Air with Safari 15.2, and here the scrolling as well as clicking onto the menus results in smooth scrolling. #cantreproduce

[2022-01-27 14:57] shineyruan commented on #511
Could you please help double check if the scrolling still works for you when Safari is in fullscreen mode?

[2022-01-27 16:14] stueja commented on #511
@shineyruan , ah, good idea, thanks. I tested it now in fullscreen mode, and still it is not laggy on the example website.

[2022-01-27 20:14] kevinlinxc opened #515 "Lines in job timeline don't match up with, worsens with increased zoom."
## Expected Behavior
Lines should match up.

## Current Behavior
At 120%, there's two visible cracks:
![image](https://user-images.githubusercontent.com/44324811/151436191-84edac59-d761-495a-a3a6-7a77e3724238.png)
At 100% zoom, there's only 1 crack:
![image](https://user-images.githubusercontent.com/44324811/151436314-a2602160-dceb-4e52-99e0-97d8e478ada7.png)
These only happen for some of the turn

[2022-01-27 22:39] shineyruan commented on #511
Hi @stueja , I'm wondering if you have noticed a significant frame rate drop when scrolling down from the very top of the home page to the "About" section? If not, could you please help trying https://zhihaoruan.xyz a little bit?

I'm still getting laggy behavior on my Mac. I'm using the latest macOS Monterey as well.

[2022-01-28 00:30] stueja commented on #511
Hi @shineyruan , no, sorry, I haven't noticed a frame rate drop, not on the test site and not on your site. Please find a movie of my experience attached. It's 480p because github does not allow video files larger than 10MB.

https://user-images.githubusercontent.com/9169222/151465906-c529706f-81ed-4fa7-9ab7-0016ccab057a.mov

[2022-01-30 04:29] Rihoj commented on #511
I can replicate some lag, as I have the same issue on my site. I am running chrome on a linux system I am guessing the issue is the image size of the background images, and the ability of the browser/computer to render it scrolling correctly. This is just a guess, but when I remove the background-image css attribute, then your site has no issue scrolling.

Recommendation: reduce your image to a mu

[2022-01-30 05:11] shineyruan commented on #511
Ah, nice catch. Indeed this issue was due to the large size of my avatar and my background image. I reduced the size of them and it works! Thank you!

[2022-01-30 05:11] #511 closed

[2022-01-31 17:07] #515 closed

[2022-01-31 17:07] hossainemruz commented on #515
@kevinlinxc It should be fixed by #516. If it does not, feel free to re-open.

[2022-01-31 17:33] kevinlinxc commented on #515
![image](https://user-images.githubusercontent.com/44324811/151842821-5f48000c-1bed-40c4-b11c-84e52ee90a05.png)
This is what I see now, only on the first turn of the timeline. Viewable on https://kevinlinxc.github.io/
Checked Chrome and Firefox, happens on both.

[2022-01-31 17:40] hossainemruz commented on #515
Yes. That PR made it worse. I did not tested the PR before merging. I have now reverted back the change. In this commit: https://github.com/hugo-toha/toha/commit/69132a1dae5912f7898300cbbe27bc329ae334d0

[2022-01-31 17:41] hossainemruz commented on #515
I don't think we can fix it for every zoom level. The corner radius don't align with the horizontal/vertical lines for different zoom levels.

[2022-01-31 17:44] kevinlinxc commented on #515
For me, there's something wrong at every zoom level

[2022-01-31 17:47] hossainemruz commented on #515
Yes. I saw that. Not sure why it is happening.

[2022-02-03 22:00] MarionMoseby opened #522 "Adding PDF Shortcut"
Can I add[ this PDF shortcut](https://github.com/anvithks/hugo-embed-pdf-shortcode) to the theme?

[2022-02-08 10:43] Yeonhoon opened #529 "Build issue on experiences.yaml"
### Question

Hi, I'm trying to build my own portfolio webpage using `toha` theme.
Following the tutorial page, I found that there was an build error when writing `experiences.yaml`.

When trying to save `experiences.yaml`,  I got error messages as below.

[code]

Here's my [repo](https://github.com/Yeonhoon/portfolio.git).

Thanks in advance : )

[2022-02-09 05:53] hossainemruz commented on #529
You have missed `s` in `positions:` in your `experiences.yaml` file.

[2022-02-09 06:06] Yeonhoon commented on #529
Such as tiny typo... 😂 It works like magic. Thanks a lot! :)

[2022-02-09 06:06] #529 closed

[2022-02-10 09:57] Emily-0616 opened #531 "post date display error"
![image](https://user-images.githubusercontent.com/32790186/153383024-8681bbe9-a994-4d54-b990-484c51a70b2b.png)

[2022-02-10 10:51] hossainemruz commented on #531
Please update Hugo to the latest version. This should be fixed.

[2022-02-13 06:33] #489 closed

[2022-02-16 12:31] salastro opened #532 "Open Graphs does not work properly"
When I add open graph section to `data/site.yaml` it does not work. I found that when moving it to `data/en/site.yaml` it works.
Additionally, the images points to a non-existing path for some reason. I have it to `/image/site/logo.jpg`, but the logo.jpg file is deleted in the final output.

[2022-02-16 12:49] hossainemruz commented on #532
Yes. All the site data should be inside their language locale. You should also move your sections data under `en` folder.

Regarding the image, can you try putting `images/site/logo.jpg` instead of `/images/site/logo.jpg`?

[2022-02-19 12:32] salastro commented on #532
Yes, that worked. Thanks!

[2022-02-19 12:32] #532 closed

[2022-02-19 13:46] salastro opened #533 "RSS Posts Garbage"
## Expected Behavior

To see all posts created in `posts/index.xml`

## Current Behavior

The file is full of garbage:-

[code]

Other than the header, everything else is totally unrelated to whatever is in the website. However, the wanted content can be found in categories for some reason. For example in `posts/linux/index.xml`:-

[code]

Despite that it is not what I want. I want to have an RSS

[2022-02-23 09:40] hossainemruz commented on #533
We haven't worked on RSS template yet. So, this is expected. It will be very helpful if someone can contribute the feature. Currently, I am getting very little time to spend with the theme.

[2022-02-23 12:41] hossainemruz opened #536 "Add support for `giscuss` a `utterances` alternative that uses GitHub discussion"
### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-02-27 20:59] ivankatliarchuk opened #539 "Experience `Responsibilities:` visible when there are no responsibilities"
## Expected Behavior

The file `layouts/partials/sections/experiences/single-position.html` render `Responsibilities:` even when `experience` config does not contain `responsibilies` for an experience

Example `experiences` file affected

[code]

## Current Behavior
`Responsibilities:` to  present

## Possible Solution
File `toha/layouts/partials/sections/experiences/single-position.html`

Current

[2022-02-28 03:39] #539 closed

[2022-02-28 07:33] #533 closed

[2022-02-28 07:35] hossainemruz commented on #533
@salastro, Can you please try pulling the latest changes. @Rihoj has added a RSS feed template.

[2022-02-28 17:45] #536 closed

[2022-02-28 18:30] salastro commented on #533
I get the following error after running it.
[code]
I don't think this is caused by my hugo version. It is `hugo v0.92.2+extended linux/amd64 BuildDate=unknown` which is greater than the required `v0.68.0`

[2022-02-28 19:52] Rihoj commented on #533
@salastro I pulled down your site so I could replicate and sure enough with your code I can. I did not see anything immediately different about my site and yours, so I started dumping variables. I find that for some reason the `$pctx` variable has `ERROR 2022/02/28 14:49:03 Site("SalahDin Ahmed")` in your build. My site only builds up Page items `ERROR 2022/02/28 14:49:48 Page(/posts/_index.md)`

[2022-03-01 09:51] hossainemruz opened #546 "Fix theme build"
## Expected Behavior

## Current Behavior
Ref: https://github.com/hugo-toha/toha/pull/545#issuecomment-1055226212

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2022-03-06 14:53] xushaoxiao opened #550 "Mermaid support"
How to integrate mermaid plugin

[2022-03-06 16:27] Rihoj commented on #550
@xushaoxiao to be clear, is this the plugin you are looking to have available? https://mermaid-js.github.io/mermaid/#/

[2022-03-06 17:05] hossainemruz commented on #550
Sure @Rihoj . Go ahead.

[2022-03-08 06:20] bnikitha05 opened #552 "No Image on Linkedin Feature"
### Describe the solution you'd like

When I share the website url on Linkedin Feature, there is no image preview.

### Describe alternatives you've considered

 I have added the openGraph section in the site.yaml file but only the title and description are being displayed.

### Additional context
This is how it looks:
![image](https://user-images.githubusercontent.com/46911773/157178610-9239f745-

[2022-03-08 15:08] #552 closed

[2022-03-13 15:53] #550 closed

[2022-03-13 15:55] hossainemruz opened #557 "Add doc for mermaid support"

[2022-03-14 16:01] #463 closed

[2022-03-14 16:37] kingabzpro commented on #463
How do I add floating button? @hossainemruz

[2022-03-14 16:41] hossainemruz commented on #463
Update theme to latest main branch. Then add this support section in your config.yaml.
https://github.com/hugo-toha/hugo-toha.github.io/blob/842e5f2fb6058adf7d3e75fe2378894518be22a1/config.yaml#L118

[2022-03-14 16:58] kingabzpro commented on #463
Not working.

[2022-03-14 17:19] hossainemruz commented on #463
Can you point me to your repository?

[2022-03-14 17:25] kingabzpro commented on #463
I have given you collaborator access

[2022-03-14 18:03] kingabzpro commented on #463
Thank you so much. I know its hard to read my toml😅

[2022-03-14 19:44] hossainemruz opened #558 "Add doc for Ko-Fi floating button support"

[2022-03-14 19:45] #557 closed

[2022-03-15 04:29] hossainemruz commented on #546
Fixed in main.

[2022-03-15 04:29] #546 closed

[2022-03-15 17:22] hossainemruz commented on #531
If this issue does not get fixed after updating Hugo version, feel free to reopen.

[2022-03-15 17:22] #531 closed

[2022-03-15 17:24] #405 closed

[2022-03-15 17:26] hossainemruz commented on #174
Fixed in #175

[2022-03-15 17:26] #174 closed

[2022-03-18 07:14] KHannibal opened #562 "Adding Commento.io support"
### Describe the solution you'd like

I would like toha to support [Commento.io](https://commento.io) comment system, please.

### Describe alternatives you've considered

None, but I am currently using Commento and migrating all the comments to another platform would be very time consuming.

### Additional context

None.

[2022-03-18 08:38] hossainemruz commented on #562
This does not seems to have a free tier. It won't be possible for us to test the commenting system. It has 30 days trial which can help initial setup part. However, we won't be able to test whether it works or not after that trial period.

[2022-03-18 13:42] KHannibal commented on #562
Thanks you @hossainemruz for the quick reply. Let me know if I can help with the testing (provided you tell me what to do, as I am not a dev).

[2022-03-18 16:16] KHannibal commented on #291
I had the same issue as @s0m3guy and @Rihoj 's post helped me fix (temporarily maybe) the issue.

[2022-03-19 10:14] Chow-Ray opened #563 "bug - When the tweet code appears in the article, it will cause the local rendering to fail."
## Expected Behavior

When the tweet code appears in the article, it will cause the local rendering to fail.
[code]
log
[code]
## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

### Screenshots

### Browsers Affected

- [x] Chrome
- [ ] Firefox
- [ ] Edge
- [ ] Safari 11
- [ ] Safari 10
- [ ] IE 11

## Detailed Description

[2022-03-19 12:57] hossainemruz commented on #563
This format is deprecated in new version of hugo.
[code]

[2022-03-19 13:55] hossainemruz commented on #562
Can you test #564 PR? Go to `themes/toha` folder and checkout to `commentio` branch. Then, add commento configuration under `params.features.comment` section of your `config.yaml` file.

[code]

[2022-03-20 12:44] Chow-Ray commented on #563
I made a mistake before and used the following code. Like [hugo-toha.github.io](https://github.com/hugo-toha/hugo-toha.github.io/blob/842e5f2fb6058adf7d3e75fe2378894518be22a1/content/posts/category/sub-category/rich-content/index.md), the local rendering is wrong, but uploading to the server can generate webpages normally.
[code]

[2022-03-20 15:34] hossainemruz commented on #563
Then, probably it was unable to get the tweet from local server. Don't look like it has anything to do with the theme. Can you please close the issue?

[2022-03-21 08:11] Chow-Ray commented on #563
呵呵，fine。

[2022-03-21 08:11] #563 closed

[2022-03-24 12:57] jakob42 opened #569 "Edit link gitlab missing "/content""
Hi,

is it possible that there is a "/content" missing in the gitlab clause here?
https://github.com/hugo-toha/toha/blob/c89fe663329c11415af107da0a6c59ec38d03bea/layouts/_default/single.html#L139

The links to my gitlab repo are not working and this seems to be the reason.

Thanks for the nice theme. :)

[2022-03-27 12:13] misitebao opened #572 "The background image of the website homepage supports CDN addresses"
### Describe the solution you'd like

It is hoped that the background image of the homepage of the website can support the CDN address, so that the acceleration function of CDN such as `jsdelivr` can be fully utilized to solve the problem that the website server accesses pictures slowly.

[2022-03-28 04:45] hossainemruz commented on #572
Did you tried providing a URL in the `params.background` field? It should work already.

[2022-03-28 04:46] #569 closed

[2022-03-29 12:02] misitebao commented on #572
No, I couldn't use cdn when I tested it last year. I just re-tested it, but it still couldn't, and the same error was prompted.
![image](https://user-images.githubusercontent.com/28185258/160606850-8623c160-4180-45ee-bc3a-b39b770db7e2.png)

[2022-03-29 12:59] hossainemruz commented on #572
What is your Hugo version?

[2022-03-30 02:51] misitebao commented on #572
I tested the 0.88.0 and 0.96.0 versions separately, and the results were the same.

[2022-03-30 03:36] hossainemruz commented on #572
Ok. Then,we have to add the support. I will take a look soon.

[2022-03-30 19:57] #562 closed

[2022-04-01 16:47] salastro opened #574 "Disabe TOC if there is no headings in the post"
### Describe the solution you'd like

If there is no suitable headings in the post, then do not show the table of contents.

### Describe alternatives you've considered

Making it possible to disable in post configuration (`TOC: false` only for this post).

### Additional context

Sometimes, I write super simple stuff that does not need headings, so the TOC looks very annoying since it's completel